@import "../../styles/variables.scss";

.container {
  position: relative;
}

.trigger {
  display: inline-block;
  cursor: pointer;
}

.content {
  position: absolute;
  left: -100%;
  display: block;
  margin-top: 12px;
  // margin-left: 20px;
  min-width: 232px;
  min-height: 232px;
  padding: 16px 8px;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, .16);
  z-index: 99;

  &:before {
    content: '';
    position: absolute;
    top: -6px;
    right: 19px;
    width: 13px;
    height: 13px;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, .16);
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    width: 32px;
    height: 16px;
    background-color: #fff;
  }
}

.withIconTrigger {
  display: flex;
  align-items: center;
  transition: all .3s ease;

  & .icon {
    margin-left: 1rem;
    transition: all .3s ease;
  }

  &.isContentOpen {
    color: $color_blue_1;

    & .icon {
      transform: rotate(180deg);
    }
  }
  //border-radius: 50%;
}

.withIconContent {
  margin-left: 9.5rem;

  &:before {
    right: 5rem;
  }

  &:after {
    right: 4rem;
  }
  //position: relative;
  //left: -30rem;
  //width: 35rem;
}