@import "../../../styles/variables";

.container {
  background-color: #FAFAFA;
}

.header {
  display: flex;
  height: 7rem;
  align-items: center;
}

.title {
  composes: OpenSans_SemiBold from global;
  color: $color_grey_text;
  font-size: 24px;
  line-height: 8rem; // should equals to font-size
}

.langSelect {
  background-color: $color_white;
  height: 3rem;
  margin-left: 2rem;
}

.formContainer {
  //
}
