@import "../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.langSelect {
  margin-left: 2rem;
}

.form {
  margin-top: 2rem;
  padding: 4rem;
  background-color: $color_white;
  flex: 1 0 auto;
}

.formItem + .formItem {
  margin-top: 6rem;
}