@import "../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.langSelect {
  margin-left: 2rem;
}

.form {
  height: 100%;
  margin-top: 2rem;
  padding: 4rem 2rem 2rem;
  background-color: $color_white;
}

.formItem + .formItem {
  margin-top: 6rem;
}