@import "../../../styles/variables";

.header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-left: 2rem;
}

.title {
  font-family: $font_medium;
  color: $color_grey;
  font-size: 24px;
}