@import "../../../styles/variables";

.wrapper {
  margin: 2rem 0 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-left: 2rem;
}

.title {
  color: $color_grey;
  display: none;
  font-family: $font_medium;
  font-size: 24px;
  @media (min-width: $md) {
    display: block;
  }
}

.form {
  margin-top: 0;
  padding: 4rem;
  background-color: $color_white;
  flex: 1 0 auto;

  @media (min-width: $md) {
    margin-top: 2rem;
  }
}

