@import "../../../styles/variables";

.wrapper {
  margin: 2rem 0 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-left: 2rem;
}

.title {
  color: $color_grey;
  display: none;
  font-family: $font_medium;
  font-size: 24px;
  @media (min-width: $md) {
    display: block;
  }
}

.form {
  background-color: $color_white;
  flex: 1 0 auto;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: 0;
  padding: 2rem;
  overflow: hidden;
  @media (min-width: $md) {
    padding: 4rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
  }
}

.formOrder {
  padding: 0;
  background-color: transparent;
}

