@import "../../../styles/variables";

.container {
  //
}

.wrapper {
  margin-top: 2rem;
  padding: 4rem;
  background-color: $color_white;
  flex: 1 0 auto;
}

.subtitle {
  margin-bottom: 5rem;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.addButton {
  float: right;
}

.headerRowWrap, .itemRowWrap {
  display: flex;
  margin: 0 -4rem;
  border-bottom: 1px solid $color_grey_trival;
}

.td {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 2.5rem;
  color: $color_grey;
}

.tdCheckbox {width: 5%;}
.tdFoto {width: 9%;}
.tdName {width: 21%;}
.tdCategory {width: 10%;}
.tdPrice {width: 14%;}
.tdCashback {width: 10%;}
.tdCharacteristics {width: 20%;}
.tdEdit {width: 4%; justify-content: flex-end;}
.tdDelete {width: 4%; justify-content: flex-end;}
.tdDropdown {width: 3%; justify-content: flex-end;}

.headerRowWrap {
  padding: 2rem 4rem;

  & .tdWrap > span {
    margin-right: 0.5rem;
  }
}

.itemRowWrap {
  padding: 1rem 4rem;
  cursor: pointer;

  &:hover {
    & .dropdownButton {
      & svg {fill: $color_grey;}
    }
  }

  .foto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    background-color: $color_grey_trival;
    overflow: hidden;
  }

  .characteristicItem {
    display: flex;
    font-size: 14px;
    line-height: 20px;
  }

  .characteristicLabels {
    color: $color_grey_minor;
  }

  .characteristicValues {
    margin-left: 1.5rem;
  }
}

.deleteButton, .editButton {
  & svg {
    fill: $color_grey_light;
    transition: $transition_all_ease;
  }

  &:hover svg {fill: $color_grey;}
}

.dropdownButton {
  & svg {
    fill: $color_grey_minor;
    transition: $transition_all_ease;
  }
}

.loadButton {
  margin-top: 4rem;
}