@import "../../styles/variables";

.container {
  display: flex;
}

.input {
  font-size: 2rem;
  width: 6rem;
  color: $color_grey;
  text-align: center;
}


.button {
  height: 3rem;
  width: 3rem;
  color: $color_grey;
  border: 1px solid $color_grey_light;
  display: flex;
  justify-content: center;

  &:hover {
    border: 1px solid $color_blue;
    & svg {
      path {
        fill: $color_blue;
      }
    }
  }
}