@import "../../../styles/variables";

.container {
  background-color: $color_pink;
  border-bottom: 1px solid $color_white;
  border-left: 1px solid $color_white;
  border-radius: 0 0 0.5rem 0.5rem;
  border-right: 1px solid $color_white;
  border-top: 0 solid transparent;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 9.375rem;
  padding-top: 1px;
  position: absolute;
  right: 4rem;
  text-align: center;
  top: 0;
  width: 8rem;
}