@import "../../../styles/variables";

.ProductDetails {
  background-color: $color_white;
  border: 1px solid $color_grey_trivial;
  margin: 0 0 4rem;
  position: relative;
  @media (min-width: $lg) {
    margin: 2rem 0 4rem;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.detailsWrapper {
  border-left: 1px solid $color_grey_trivial;
  margin-left: 0;
  height: 100%;
  @media (min-width: $md) {
    margin-left: -2rem;
  }
}

.productNotFound {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  font-size: 30px;
  justify-content: center;

  @media (max-width: #{$lg - 1px}) {
    margin-top: 4rem;
  }
}

.rating {
  margin-bottom: 2.375rem;
}

.line {
  background-color: $color_grey_trivial;
  height: 1px;
  left: -3rem;
  margin: 3.375rem 0;
  position: relative;
  width: calc(100% + 6rem);
  @media (min-width: $md) {
    width: calc(100% + 3rem);
  }
}

.thumbnailsWrapper {
  margin: 2.375rem 0 0 2rem;
}

.noWrapper {
}
