@import "../../../styles/variables";

.container {
  display: none;
  margin-top: 2rem;
  // padding-left: 2rem;

  @media (min-width: $lg) {
    display: block;
  }

  .item {
    display: inline-block;
    color: $color_grey_minor;
    font-size: 1.75rem;
    cursor: pointer;

    .separator {
      margin: 0 1rem;
    }

  }

}

.active {
  color: $color_blue !important;
}
