@import "../../../styles/variables";

.container {

  &::-webkit-scrollbar {
    display: none;
  }

  &.scroll-y {
    height: calc(69.875rem - 2.375rem);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &.scroll-x {
    max-width: 61.875rem;
    overflow-x: scroll;
    overflow-y: hidden;
  }

}

.thumbnails {
  display: flex;

  img[src] {
    border-radius: 0.5rem;
    height: 10rem;
    // https://css-tricks.com/almanac/properties/o/object-fit/
    object-fit: cover;
    width: 10rem;
  }

  .clicked {
    border: 0.25rem solid $color_blue;
  }

}

.title {
  color: $color_grey;
  width: 7.75rem;
  height: 2.375rem;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: 2.25rem;
  margin-top: 3.5rem;
  text-align: left;
  text-transform: uppercase;

  &.isOnSelected {
    color: $color_red;
  }
}

.column {
  flex-flow: column;
  button {
    margin-bottom: 2rem;
  }
}

.row {
  flex-flow: row;
  button {
    margin-right: 2rem;
  }
}

.disabled {
  opacity: 0.3;
}

