@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  margin: 0 2rem;
  overflow: hidden;

  @media (max-width: #{$lg - 1px}) {
    margin: 0;
  }
}

.productContent {
  margin: 2rem 0 4rem;
  position: relative;

  @media (max-width: #{$md - 1px}) {
    margin-top: 0;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.detailsWrapper {
  border-left: 1px solid $color_grey_trivial;
  margin-left: -2rem;

  @media (max-width: #{$md - 1px}) {
    margin-left: 0;
  }
}

.productNotFound {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  font-size: 30px;
  justify-content: center;

  @media (max-width: #{$lg - 1px}) {
    margin-top: 4rem;
  }
}

.rating {
  margin-bottom: 2.375rem;
}

.line {
  background-color: $color_grey_trivial;
  height: 1px;
  margin: 4rem -4rem 4rem -2rem;
}

.thumbnailsWrapper {
  margin: 2.375rem 0 0 2rem;
}

.noWrapper {
}

.message {
}

.longDescription {
  // width: 70%;

  & hr {
    display: block;
    margin-bottom: 2rem;
    border: 0;
  }

  @include long-description();
}

.rrBlock {
  margin: 1rem -1rem 0;

  @media (max-width: #{$lg - 1px}) {
    margin: 0 1rem;
  }
}
