@import "../../../styles/variables";

.container {
  background-color: $color_white;
  border: 1px solid $color_grey_trivial;
  border-left: 1px solid transparent;
  display: flex;
  justify-content: space-between;
}

.socialIcons {
  padding: 4.5rem;
  display: flex;
  justify-content: flex-start;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 3rem;
  }
}

.favorite {
  border-left: 1px solid $color_grey_trivial;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4.25rem;

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}