@import "../../../styles/variables";

.container {
  margin-top: 3.625rem;
}

h4 {
  color: $color_grey;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  height: 2.75rem;
  letter-spacing: 1.2px;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  width: 12.125rem;
}