@import "../../../styles/variables";

.container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  &:before, &:after {
    content: " ";
    display: table;
  }
}

.expand {
  position: absolute;
  right: 3rem;
  top: 3rem;
  svg {
    height: 3.375rem;
    width: 3.375rem;
  }
}

.imageWrapper {
  overflow: hidden;
  width: 100%;
  display: none;
  @media (min-width: $md) {
    display: block;
    width: calc(100% - 14rem);
  }
}

.imageSlider {
  overflow: hidden;
  width: 100%;
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  @media (min-width: $md) {
    display: none;
    width: calc(100% - 14rem);
  }
}

.image {
  padding-top: 100%;
  position: relative;

  div[role="img"] {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.imageBlur {
  filter: blur(10px);
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.thumbnails {
  display: none;
  width: 14rem;
  @media (min-width: $md) {
    display: block;
  }
}

.thumbnailsContent {
  &::-webkit-scrollbar {
    display: none;
  }
  height: calc(99.375rem - 1rem);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;

  @media (min-width: $lg) {
    height: calc(69.875rem - 1rem);
  }

}

.thumbnailsWrapper {
  margin: 2rem;
  width: 12rem;
  padding-top: 100%;
  position: relative;
  //
}

.noThumbnailsWrapper {
  max-width: 12rem;
  display: none;
  @media (min-width: $lg) {
    display: block;
  }
}
