@import "../../../styles/variables";

.container {
  span:first-child {
    display: block;
  }

  span.cashback {
    background-color: $color_primary;
    border-radius: 0.25rem;
    color: #ffffff;
    font-family: Roboto;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    height: 2.25rem;
    line-height: 2.25rem;
    margin-left: 1.875rem;
    text-align: center;
    width: 12.875rem;
  }

  .noCashback {
    background: $color_grey_light !important;
  }

}

.stq {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4.75rem;
}

.lastPrice {
  color: #9a9a9a;
  font-size: 1.75rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 2rem;
  letter-spacing: -0.2px;
  line-height: normal;
  text-align: left;
  text-decoration: line-through;
  width: 12.625rem;
}

.price {
  color: $color_grey_text;
  font-size: 2.5rem;
}

