@import "../../../styles/variables";

.container {
  &::-webkit-scrollbar {
    display: none;
  }

  &.scroll-y {
    //height: calc(69.875rem - 2.375rem);
    //overflow-x: hidden;
    //overflow-y: scroll;
  }

  &.scroll-x {
    max-width: 61.875rem;
    overflow-x: scroll;
    overflow-y: hidden;
  }

}

.thumbnailContainer {
  height: 10rem;
  position: relative;
  width: 10rem;

  //&:after {
  //  content: "";
  //  display: block;
  //  padding-bottom: 100%;
  //}

  img[src] {
    border-radius: 0.5rem;
    height: 100%;
    // https://css-tricks.com/almanac/properties/o/object-fit/
    object-fit: cover;
    width: 100%;
  }

  .clicked {
    border: 0.25rem solid $color_blue;
  }
}

.thumbnails {
  display: flex;
}

.title {
  margin: 4rem 0 3rem;
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  &.isOnSelected {
    color: $color_red;
  }
}

.column {
  flex-flow: column;
  button {
    margin-bottom: 2rem;
  }
}

.row {
  flex-flow: row;
  button {
    margin-right: 2rem;
  }
}

.disabled {
  opacity: 0.3;
  cursor: default;
}

.emptyImg {
  position: relative;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color_grey_trivial;
  border-radius: 0.5rem;

  &.clicked {
    border: 0.25rem solid $color_blue;
  }
}

