@import "../../../styles/variables";

$icon-size: 20px;

.container {
  background: $color_white;
  border: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}

.socialIcons {
  padding: 36px;
  display: flex;
  justify-content: flex-start;

  svg {
    height: $icon-size;
    margin-right: 3rem;
    width: $icon-size;
  }
}

.favorite {
  border-left: 1px solid #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 34px;
  svg {
    height: $icon-size;
    width: $icon-size;
  }
}