@import "../../../styles/variables";

.container {
  align-items: flex-start;
  // border-right: 1px solid $color_grey_trivial;
  display: flex;
  justify-content: space-between;
}

.expand {
  position: absolute;
  right: 3rem;
  top: 3rem;
  svg {
    height: 3.375rem;
    width: 3.375rem;
  }
}

.image {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.bigImage {
  height: 41.875rem;
  position: relative;
  width: inherit;

  & > img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  @media (min-width: $sm) {
    height: 41.875rem;
  }
  @media (min-width: $md) {
    // height: 41.875rem;
    height: 97.125rem;
  }
  @media (min-width: $lg) {
    height: 61.625rem;
  }
  @media (min-width: $xl) {
    height: 69.875rem;
  }
}


.thumbnailsWrapper {
  max-width: 12rem;
  margin: 2rem;
  display: none;
  @media (min-width: $lg) {
    display: block;
  }
}

.noThumbnailsWrapper {
  max-width: 12rem;
  display: none;
  @media (min-width: $lg) {
    display: block;
  }
}

.discount {
  background-color: $color_pink;
  border-bottom: 1px solid $color_white;
  border-left: 1px solid $color_white;
  border-radius: 0 0 0.5rem 0.5rem;
  border-right: 1px solid $color_white;
  border-top: 0 solid transparent;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 9.375rem;
  padding-top: 1px;
  position: absolute;
  right: 9.375rem;
  text-align: center;
  top: 0;
  width: 8rem;
}