@import "../../../styles/variables";

.ProductDetails {
  background-color: $color_white;
  border: 1px solid $color_grey_trivial;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

.buttons-container {
  display: flex;
  margin-top: 4rem;
  padding-left: 1.625rem;
  button {
    width: 30rem;
    margin-right: 2rem;
  }
}

.productNotFound {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 83.375rem);
  justify-content: center;
}

.rating {
  margin-bottom: 2.375rem;
}

.line {
  background-color: $color_grey_trivial;
  height: 1px;
  left: -2.125rem;
  margin: 3.375rem 0;
  position: relative;
  width: calc(100% + 2.125rem);
}