@import "../../../styles/variables";

.container {
  margin-right: 9.375rem;
}

h6 {
  color: #a1a1a1;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.4px;
  line-height: 1.71;
  text-align: left;
}

small {
  color: $color_grey_text;
  font-size: 16px;
  line-height: 1.5;
}

.columnItem {
  height: 7.25rem;
  width: 33rem;
}