@import "../../../styles/variables";

.container {
  background-color: $color_white;
  border: 1px solid $color_grey_trivial;
  display: none;
  margin-bottom: 4rem;
  overflow: hidden;
  padding: 3.25rem 3rem;

  @media (min-width: $lg) {
    display: block;
  }
}

.label {
  color: $color_grey_minor;
  cursor: pointer;
  font-size: 1.75rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: normal;
  margin-right: 6.625rem;
  padding-bottom: 1.75rem;
  text-transform: uppercase;
}

.labels {
  border-bottom: 0.25rem solid $color_grey_trivial;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.75rem;
}

.active {
  color: $color_blue;
  border-bottom: 0.25rem solid $color_blue;
}
