@import "../../../styles/variables";

.container {
  background: $color_white;
  display: block;
  overflow: hidden;
  padding: 26px 24px;
}

.label {
  color: #9c9c9c;
  cursor: pointer;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: normal;
  margin-right: 53px;
  padding-bottom: 14px;
  text-transform: uppercase;
}

.labels {
  border-bottom: 2px solid #efefef;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 22px;
}

.active {
  color: $color_primary;
  border-bottom: 2px solid $color_primary;;
}

.sisa {

}