@import "../../../../../../styles/variables";

.container {
  //
}

.body {
  display: flex;
  margin-top: 3rem;

  @media (max-width: #{$sm - 1px}) {
    display: block;
  }
}

.weight {
  margin-right: 2rem;
}

.label {
  margin-bottom: -2.9rem;
  color: $color_grey_minor;
  font-size: 14px;
  line-height: 2rem;
  transform: scale(0.9);
  transform-origin: left bottom;
  transition: $transition_all_ease;

  &.labelFloat {
    color: $color_blue;
  }
}

.weightInput {
  display: flex;
  align-items: flex-end;
  width: 18rem;
  margin-right: 2rem;
}

.dimensions {
  @media (max-width: #{$sm - 1px}) {
    margin-top: 2rem;
  }
}

.dimensionInputs {
  display: flex;
  align-items: flex-end;

  .input {
    position: relative;
    width: 11rem;

    & + .input {
      margin-left: 2rem;
    }

    & .sign {
      position: absolute;
      bottom: -3rem;
      left: 0;
      font-size: 12px;
      color: $color_grey_minor;
    }
  }
}

.unit {
  margin-left: 1rem;
  font-size: 14px;
}
