@import '../../styles/variables';

.container {
  @media (pointer:coarse) and (max-width: #{$sm - 1px}) {
    margin: 0 -2rem;
    overflow: hidden;
  }
}

.header {
  @media (pointer:coarse) and (max-width: #{$sm - 1px}) {
    padding: 0 2rem;
  }

  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}

.title {
  color: $color_grey;
  float: left;
  font-size: 20px;
  line-height: 4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.nav {
  height: 4rem;
  margin-left: 4rem;
  float: right;
}

.button {
  cursor: pointer;

  & + .button {
    margin-left: 0.75rem;
  }

  & svg {
    transition: $transition_all_ease;
  }
  &:hover svg {
    fill: $color_blue;
  }
}

.reveal {
  margin-left: 3rem;
  color: $color_grey_minor;
  font-size: 16px;
  line-height: 4rem;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  float: right;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue;
  }
}

.goods {
  position: relative;
}

.nowrapGoods {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 -1rem;

  @media (pointer:coarse) and (max-width: #{$sm - 1px}) {
    margin-bottom: -3rem;
    padding-bottom: 3rem;
  }

  .good {
    width: 100%;
    min-width: 100%;

    @media (pointer:coarse) and (max-width: #{$sm - 1px}) {
      width: 80%;
      min-width: 80%;
    }
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  visibility: visible;
  opacity: 1;
  overflow: auto;
  transition: $transition_all_ease_out_quad_10;
}

.good {
  transition: all 5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  @media (pointer:coarse) and (max-width: #{$sm - 1px}) {
    &:first-child {
      padding-left: 2rem;
    }

    &:last-child {
      padding-right: 2rem;
    }
  }

  &.view {
    visibility: visible;
    opacity: 1;
    max-height: none;
    overflow: auto;
    transition: all 5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

.loadMoreButton {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 14px;
}
