@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  padding: 0 0 4rem;
  margin-top: 2rem;

  @media (min-width: $lg) {
    margin-top: 0;
    padding: 2rem 0 4rem;
  }
}

.header {
  font-family: $font_montserrat_regular;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: $color_black;
  margin: 2.3125rem 0 2.925rem 0;

  strong {
    color: $color_black;
    font-family: $font_montserrat_bold;
  }
}

.subHeading {
  font-family: $font_montserrat_regular;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  
  letter-spacing: normal;
  text-align: center;
  padding: 0 3rem;
  margin: 3.75rem 0 2rem 0;
  &.short {
    padding: 0;
  }
  strong {
    line-height: 26px;
    font-size: 23px;
    color: $color_black !important;
    font-family: $font_montserrat_bold !important;
    margin: 2rem;
    display: block;
  }
}

.description {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: $color_grey;
  width: 83%;
  margin: 0 auto;
}
.item {
  //
}

.aboutStoriqa {
  padding: 8rem 0 6rem 0;
  background: #e9ecf4;
  margin-bottom: 1rem;
}

.aboutHeading {
  font-family: $font_montserrat_bold;
  text-align: center;
  font-size: 28px;
  line-height: 36px;
  color: $color_black;
  font-weight: bolder;
  width: 56%;
  margin: 0 auto;
}

.readmoreAboutStoriqa {
  width: 224px;
  height: 32px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: center;
  color: $color_black;
  margin: 0 auto;
  display: block;
  text-decoration: underline;
  margin-top: 4rem;
  margin-bottom: 3rem; 
}

.aboutTitle {
  font-family: $font_montserrat_bold;
  text-align: center;
  font-size: 21px;
  line-height: 35px;
  color: $color_black;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.aboutDescription {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: $color_grey;
}


.bannerSliderItem {
  min-height: 22rem;
  margin-top: -2rem;

  @media (min-width: $md) {
    min-height: 24rem;
  }

  @media (min-width: $lg) {
    min-height: 29rem;
  }

  @media (min-width: $xl) {
    min-height: 40rem;
  }
}

.goodsItem {
  margin-top: 1rem;
  padding: 0 2rem;
}

.bannersItem {
  margin-top: -1rem;
}

.bannerImage {
  margin-top: 2rem;
  text-align: center;
  padding: 0 2rem;
  img {
    width: 100%;
  }
  .placeholder {
    @media (max-width: $md - 1) {
      height: 22rem;
    }
    @media (min-width: $md) {
      height: 24rem;
    }
    @media (min-width: $lg) {
      height: 29rem;
    }
    @media (min-width: $xl) {
      height: 40rem;
    }
  }
}

.bannerPlaceholder {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  @media (max-width: 767px) {
    height: 22rem;
  }
  @media (min-width: 768px) {
    height: 24rem;
  }
  @media (min-width: 992px) {
    height: 29rem;
  }
  @media (min-width: 1200px) {
    height: 40rem;
  }
}

.sellingImage {
  position: relative;
  display: block;
  min-height: 22rem;
  border-radius: 0.5rem;
  overflow: hidden;

  @media (max-width: #{$xxl - 1px}) {
    height: 37rem;
  }

  @media (max-width: #{$xl - 1px}) {
    height: 31rem;
  }

  @media (max-width: #{$lg - 1px}) {
    height: 26rem;
  }

  @media (max-width: #{$md - 1px}) {
    height: 20rem;
  }

  @media (max-width: #{$sm - 1px}) {
    height: 27rem;
  }

  @media (min-width: $xxl) {
    height: 40rem;
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
