@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  padding: 0 0 4rem;

  @media (min-width: $lg) {
    padding: 2rem 0 4rem;
  }
}

.item {
  //
}

.bannerSliderItem {
  min-height: 22rem;
  margin-top: -2rem;

  @media (min-width: $md) {
    min-height: 24rem;
  }

  @media (min-width: $lg) {
    min-height: 29rem;
  }

  @media (min-width: $xl) {
    min-height: 40rem;
  }
}

.goodsItem {
  margin-top: 1rem;
  padding: 0 2rem;
}

.bannersItem {
  margin-top: -1rem;
}

.bannerImage {
  margin-top: 2rem;
  text-align: center;
  padding: 0 2rem;
  img {
    width: 100%;
  }
}

.bannerPlaceholder {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  @media (max-width: 575px) {
    height: 22rem;
  }
  @media (min-width: 768px) {
    height: 24rem;
  }
  @media (min-width: 992px) {
    height: 29rem;
  }
  @media (min-width: 1200px) {
    height: 40rem;
  }
}

.sellingImage {
  position: relative;
  display: block;
  min-height: 22rem;
  border-radius: 0.5rem;
  overflow: hidden;

  @media (min-width: $md) {
    min-height: 24rem;
  }

  @media (min-width: $lg) {
    min-height: 29rem;
  }

  @media (min-width: $xl) {
    min-height: 40rem;
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
