@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
}

.item {
  //
}

.bannerSliderItem {
  min-height: 22rem;

  @media (min-width: $md) {
    min-height: 24rem;
  }

  @media (min-width: $lg) {
    min-height: 29rem;
  }

  @media (min-width: $xl) {
    min-height: 40rem;
  }
}

.goodSliderItem {
  min-height: 46rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

.bannersItem {
   margin-top: -1rem;
}