@import "../../../../../../../../styles/variables";

.container {
  margin-bottom: 8.5rem;
  margin-top: 2rem;
}

.title {
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 18px;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.item {
  align-items: flex-start;
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}

.item + .item {
  margin-left: 4rem;
}

.itemWrapper {
  max-width: 23.875rem;
}

.characteristicImg {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}

.characteristicSelect {
  margin-top: 1.5rem;
  width: 100%;
  @media (min-width: $md) {
    width: 23.875rem;
  }
}
