@import '../../../../../../../../styles/variables';

.container {
  background-color: $color_grey_bg;
  border-top: 0;
  border-bottom: 1px solid $color_grey_trivial;
  margin-bottom: -2rem;
  padding: 2rem 4rem 4rem;
}

.variants {
  position: relative;
}

.inputWithIcon {
  align-items: baseline;
  display: flex;
}

.inputWidth {
  width: 23.875rem;
  margin-right: 2rem;
}

.priceIcon {
  color: $color_grey;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  top: 0.5rem;
  transition: $transition_all_ease;
}

.title {
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 18px;
  text-transform: uppercase;
}

.variantItem {
  // font-size: 12px;
}

.storagesItem {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.storagesLabels {
  color: $color_grey_minor;
}

.storagesValues {
  margin-left: 1.5rem;
}

.arrowExpand {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 6rem;
  height: 6rem;
  transform: rotate(180deg);
}

.variant {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.inputPostfix {
  color: $color_grey_minor;
  font-family: Roboto;
  font-size: 12px;
}

.buttons {
  display: flex;
  align-items: center;
}

.cancelButton {
  margin-left: 3rem;
  font-size: 16px;
  color: $color_blue;
  cursor: pointer;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue_hover;
  }
}
