@import '../../../../../../../../styles/variables';

.container {
  //background-color: $color_grey_bg;
  //border: 1px solid $color_grey_trivial;
  //margin: -1px 0;
}

.variants {
  position: relative;
}

.inputWithIcon {
  align-items: baseline;
  display: flex;
}

.inputWidth {
  max-width: 41rem;
  margin-top: 6rem;

  &.inputWidthPrice {
    margin-top: 3rem;
  }
}

.priceIcon {
  color: $color_grey;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  top: 0.5rem;
  transition: $transition_all_ease;
}

.title {
  margin-bottom: 1rem;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 18px;
  text-transform: uppercase;
}

.variantItem {

}

.storagesItem {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.storagesLabels {
  color: $color_grey_minor;
}

.storagesValues {
  margin-left: 1.5rem;
}

.variant {
  //display: flex;
  //flex-wrap: wrap;
  margin-bottom: 2rem;
}

.inputPostfix {
  position: absolute;
  color: $color_grey_minor;
  font-size: 12px;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;

  @media (max-width: #{$md - 1px}) {
    bottom: 1rem;
    left: 5rem;
  }

  .saveButton {
    width: 22.5rem;
    max-height: 5rem;
  }
}

.cancelButton {
  margin-left: 3rem;
  font-size: 16px;
  color: $color_blue;
  cursor: pointer;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue_hover;
  }
}

.asterisk {
  color: $color_red;
}

.preOrder {
  margin-top: 8rem;

  .preOrderTitle {
    display: flex;

    .preOrderCheckbox {
      margin-left: 2rem;
    }
  }

  .preOrderDaysInput {
    width: 15rem;
  }
}
