@import '../../../../../../../../styles/variables';

.container {
  background-color: $color_grey_bg;
  border-top: 0;
  border: 1px solid rgba(239,239,239,.6);
  margin: 0 -4rem;
  padding: 0 2rem 4rem;
  @media (min-width: $md) {
    padding: 0 4rem 4rem;
  }
}

.variants {
  position: relative;
}

.variantItem {
  // font-size: 12px;
}

.storagesItem {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.storagesLabels {
  color: $color_grey_minor;
}

.storagesValues {
  margin-left: 1.5rem;
}

.arrowExpand {
  position: absolute;
  top: 3rem;
  right: -2rem;
  width: 6rem;
  height: 6rem;
  transform: rotate(180deg);
}

.variant {
  display: flex;
  margin: 0 -4rem;
  padding: 4rem;
}

.input {
  border: 0;
  border-bottom: 1px solid $color_grey_minor;
  font-family: Roboto;
  font-size: 14px;
  color: $color_grey;
  text-align: right;
  height: 3rem;
}

.inputPostfix {
  font-family: Roboto;
  font-size: 14px;
  color: $color_grey;
  margin-left: 5px;
}

.cashbackInput {
  display: inline-block;
  width: 2.5rem;
}

.vendorCodeInput {
  display: inline-block;
  width: 15rem;
}

.priceInput {
  display: inline-block;
  width: 12rem;
}

.tdCheckbox {width: 5%;}
.tdArticle {width: 20%;}
.tdCashback {width: 15%;}
.tdCharacteristics {width: 17%;}
.tdPrice {width: 20%;}
.tdCount {width: 15%;}
.tdBasket {width: 4%; justify-content: flex-end;}
.tdDropdawn {width: 4%; justify-content: flex-end;}

.buttons {
  display: flex;
  align-items: center;
}

.cancelButton {
  margin-left: 3rem;
  font-size: 16px;
  color: $color_blue;
  cursor: pointer;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue_hover;
  }
}
