@import '../../../../../../../../styles/variables';

.container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.mainPhoto {

}

.additionalPhotos {
  margin-top: 3rem;
}

.upload {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  vertical-align: bottom;

  svg {
    fill: $color_grey_light;
  }
}

.title {
  margin-bottom: 2.5rem;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.items {
  display: inline-block;
  vertical-align: bottom;
}

.item {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  vertical-align: bottom;
  border-radius: 0.5rem;
  overflow: hidden;

  &.mainPhotoItem {
    left: -12rem;
  }
}

.itemWrap {
  & > img {
    height: 10rem;
    width: 10rem;
    background-color: $color_white;
    object-fit: cover;
  }
}

.labelSmall {
  color: $color_grey_minor;
  font-size: 12px;
}

.remove {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(239,239,239,.9);
  transition: $transition_all_ease;
  cursor: pointer;

  svg {
    fill: $color_grey_minor;
  }

  &:hover {
    opacity: 1;
  }

}
