@import '../../../../../../../../styles/variables';

.container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 2.5rem;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.items {
  margin-top: 2.5rem;
  border-top: 1px solid $color_grey_light;
}

.item {
  display: flex;
  height: 8.5rem;
  border-bottom: 1px solid $color_grey_light;
}

.td {
  display: flex;
  align-items: center;
}

.tdName {
  width: 20%;
  padding-right: 2rem;
}

.tdAddress {
  width: 60%;
  padding-right: 2rem;
  color: $color_grey_minor;
}

.tdQuantity {
  width: 20%;
}

.quantityInput {
  width: 6rem;
  margin-right: 2rem;
}

.name, .address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}