@import "../../styles/variables.scss";

.container {
  align-items: center;
  background: $color_white;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  overflow: hidden;
  width: 100%;
}

.wrapper {
  position: relative;
}