@import '../../../styles/variables.scss';

.container {
  position: relative;
  font-family: $font_medium;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  color: $color_white;
  font-size: 14px;
  border: 1px solid $color_blue;
  background-color: $color_blue;
  white-space: nowrap;
  transition: $transition_all_ease;

  &:hover:not([disabled]) {
    background-color: $color_blue_hover;
    border: 1px solid $color_blue_hover;
  }

  &.pink {
    border: 1px solid $color_pink;
    background-color: $color_pink;

    &:hover {
      border: 1px solid $color_pink;
      background-color: $color_pink;
    }
  }
}

.big {
  height: 5rem;
  line-height: 5rem;
  padding: 0 4rem;
  font-size: 16px;
}

.small {
  height: 2.75rem;
  min-width: auto;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  font-size: 14px;
}

.extraSmall {
  height: 2.75rem;
  min-width: auto;
  line-height: 2.5rem;
  padding: 0 0.75rem;
  font-size: 12px;
}

.disabled {
  background-color: $color_grey_trivial;
  border: 1px solid $color_grey_trivial;
  color: $color_grey_minor;
  cursor: default;
}

.iconic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  color: $color_grey;
  font-size: 14px;
  background-color: $color_grey_trivial;
  border: 1px solid $color_grey_trivial;

  &:hover {
    color: $color_white;
    background-color: $color_blue_hover;
    border: 1px solid $color_blue_hover;
  }
}

.iconic > *:first-child {
  display: inline-block;
  margin-right: 1rem;
}

.load {
  font-family: $font_regular;
  width: 100%;
  color: $color_grey;
  font-size: 16px;
  background-color: $color_grey_trivial;
  border: 1px solid $color_grey_trivial;

  &:hover {
    color: $color_white;
    background-color: $color_blue;
    border: 1px solid $color_blue;
  }
}

.contour {
  color: $color_blue;
  border: 1px solid $color_blue;
  background-color: transparent;

  &:hover {
    color: $color_white;
    background-color: $color_blue;
  }
}

.white {
  background-color: $color_white;
  color: $color_blue;
  &:hover {
    background-color: $color_white;
    color: $color_blue;
  }
}

.wireframe {
  background: transparent;
  font-family: $font_regular;
  border: $color_blue 1px solid;
  color: $color_blue;

  &.add {
    padding-left: 5rem;
    padding-right: 2rem;
  }

  .plusIcon {
    position: absolute;
    left: 0.75rem;

    svg {
      fill: $color_blue;
      transition: $transition_all_ease;
    }
  }

  &:hover {
    color: $color_white;

    .plusIcon {
      svg {
        fill: $color_white;
      }
    }
  }

  &.disabled {
    opacity: 0.3;

    &:hover {
      color: $color_blue;
      background: transparent;
    }
  }

  &.pink {
    border: 1px solid $color_pink;
    color: $color_pink;
    background-color: transparent;

    &:hover {
      background: $color_pink;
      color: $color_white;
      border: 1px solid $color_pink;
    }
  }
}

.fullWidth {
  width: 100%;
}

.isLoading {
  background-color: $color_blue_hover;
  border: 1px solid $color_blue_hover;

  & .spinner {
    opacity: 1;
  }
}

.spinner {
  position: absolute;
  opacity: 0;
  border: 1px solid transparent;
  border-top: 1px solid $color_white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
  left: 50%;
  margin-left: -1rem;
  // transition: $transition_all_ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.transparent {
  .children,
  .plusIcon {
    opacity: 0;
  }
}
