@import '../../../../../styles/variables';

.form {
  width: 100%;
  .formItem {
    margin-bottom: 4.5rem;
  }
  .addressForm {
    margin-bottom: 8.5rem;
  }
}

.red {
  color: $color_red;
}

.contentWrapper {
  display: flex;
  flex: 1;
  padding: 8rem 2rem 2rem 2rem;
  justify-content: center;

  @media (min-width: $md) {
    padding: 12rem 3rem 2rem 3rem;
  }

  @media (min-width: $xl) {
    padding: 14.25rem 3rem 2rem 3rem;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.firstForm {
      max-width: 54rem;
    }
    &.secondForm {
      width: 54rem;
    }
    &.thirdForm {
      width: 100%;
    }

    .headerTitle {
      font-family: $font_light;
      font-size: 3rem;
      margin-bottom: 2.5rem;
      text-align: center;
      @media (min-width: $md) {
        font-size: 4.5rem;
        margin-bottom: 2.7rem;
      }
    }

    .headerDescription {
      max-width: 45rem;
      font-family: $font_regular;
      font-size: 1.75rem;
      line-height: 2.2rem;
      color: $color_grey_minor;
      text-align: center;
      margin-bottom: 3rem;
      @media (min-width: $md) {
        font-size: 2rem;
        line-height: 2.7rem;
        margin-bottom: 6.5rem;
      }
    }
  }
}

.footerWrapper {
  display: flex;
}
