@import "../../styles/variables.scss";

.container {
  display: flex;
}

.star-container {
  width: 2rem;
  height: 2rem;
}

.on {
  path {
    fill: $color_yellow;
  }
}

.off {
  path {
    fill: $color_grey_light;
  }
}
