@import '../../../../../../styles/variables';

.container {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.variantItem {
  font-size: 12px;
}

.variant {
  display: flex;
}

.variant + .variant {
  border-bottom: 1px solid #EFEFEF;
}

.text {
  font-family: Roboto;
  font-size: 14px;
  color: $color_grey_text;
  height: 3rem;
}

.textPostfix {
  font-family: Roboto;
  font-size: 14px;
  color: $color_grey_text;
  margin-left: 5px;
}

.cashbackText {
  display: inline-block;
  width: 2.5rem;
}

.vendorCodeText {
  display: inline-block;
  width: 15rem;
}

.priceText {
  display: inline-block;
  width: 12rem;
}

.line {
  position: absolute;
  background-color: $color_grey_light;
  height: 1px;
  width: 100%;
  padding-right: 8rem;
  padding-left: 8rem;
  bottom: 0;
}

.tdCheckbox {width: 5%;}
.tdCashback {width: 15%;}
.tdCharacteristics {width: 15%;}
.tdDropdawn {width: 5%;}
.tdArticle {width: 20%;}
.tdPrice {width: 20%;}
.tdCount {width: 15%;}
.tdBasket {width: 5%;}
