@import '../../styles/variables';

.container {
  background: $overlay_black;
  height: 100%;
  top: 0;
  left: 31.25rem;
  margin-left: -31.25rem;
  overflow-y: auto;
  position: fixed;
  transition: width 0.4s ease;
  width: 0;
  z-index: 1000;
}

.toggled {
  width: 100vw;
}
