@import "../../../../styles/variables";

.container {
  padding: 1rem 4rem 4rem 2rem;
  border-top: 1px solid $color_grey_trivial;
  border-bottom: 1px solid $color_grey_trivial;
  border-right: 1px solid $color_grey_trivial;
  background-color: $color_white;

  @media (max-width: #{$lg - 1px}) {
    padding-right: 2rem;
  }

  @media (max-width: #{$md - 1px}) {
    padding-bottom: 2rem;
  }

  & h2 {
    color: $color_black;
    font-family: $font_regular;
    font-size: 3.75rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: normal;
    margin-bottom: 0.625rem;
    margin-top: 2rem;
    text-align: left;
  }
}

.rating {
  margin-bottom: 2.375rem;
}

.widgets {
  margin-top: 3rem;
}

.productDescription {
  margin-top: 3rem;
  max-width: 60rem;
  word-wrap: break-word;
}

.line {
  margin: 3rem -4rem 0 -2rem;
  border-bottom: 1px solid $color_grey_trivial;

  @media (max-width: #{$md - 1px}) {
    margin-right: -4rem;
  }
}