@import "../../styles/variables.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;

  & svg {transition: all .3s ease;}
  &:hover svg {fill: $color_blue_1;}
}

.amount {
  position: absolute;
  top: -0.75rem;
  left: 2.25rem;
  z-index: 1;
}