@import "../../../styles/variables";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.625rem;
  position: relative;

  @media (min-width: $md) {
    align-items: initial;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  & > .share {
    display: block;
    left: 1rem;
    position: absolute;
    top: 8rem;

    @media (min-width: $md) {
      display: none;
    }

    svg {
      fill: $color_grey_minor;
    }
  }

  & > .heart {
    display: block;
    position: absolute;
    right: 1rem;
    top: 8rem;

    @media (min-width: $md) {
      display: none;
    }

    svg {
      fill: $color_grey_minor;
    }
  }

}

.shopLogo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  background-color: $color_grey_trivial;
  overflow: hidden;

  @media (min-width: $md) {
    margin-right: 2rem;
  }
}

.shopTitleWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: #{$md - 1px}) {
    margin-top: 2rem;
  }

  & .shopTitle {
    display: flex;
    align-items: center;
    width: 100%;
    color: $color_grey;
    font-size: 30px;
    max-height: 4.375rem;

    & > .cartIcon {
      margin-left: 1rem;
      padding-top: 0;

      & > div {
        @media (min-width: $xl) {
          height: 3.5rem;
          width: 3.5rem;
        }

        & svg {
          fill: $color_blue;
        }
      }
    }

    @media (max-width: #{$lg - 1px}) {
      font-size: 24px;
    }

    @media (max-width: #{$md - 1px}) {
      font-size: 18px;
    }
  }
}

.mobileSearch {
  display: block;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0 2rem;
  transition: $transition_all_cb;
  width: 100%;

  @media (min-width: $md) {
    display: none;
  }

  & > .share {
    display: none;
  }

  &.isOpened {
    height: 6rem;
    margin-top: 2rem;
    opacity: 1;
    & > .share {
      display: block;
    }
  }
}

.shopRating {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;

  @media (min-width: $md) {
    align-items: initial;
    flex-direction: row;
    justify-content: flex-start;
    top: 0;
  }

  .rating {
    padding-top: 0.6rem;
  }
}

.reviews {
  color: $color_grey_minor;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-left: 0;
  margin-top: 1rem;

  @media (min-width: $md) {
    margin-left: 2rem;
    margin-top: 0;
    font-size: 17px;
  }
}