@import "../../styles/variables";

.container {
  //
}

.expanded {
  background-color: white;
  position: absolute;
  width: 12rem;
  left: 1rem;
  top: -0.5rem;
  border-radius: 0.5rem;
  border: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: $shadow_2;
  z-index: 1;

  .item {
    height: 3rem;
  }
  .item:hover {
    background-color: $color_grey_trival;
    height: 3rem;
  }
  .itemLabel {
    line-height: 3rem;
    margin: 0 1rem;
  }
  .inputChecked {
    //
  }
  .toggleExpand {
    display: none;
  }
}

.collapsed {
  position: relative;
  min-height: 4rem;
  max-height: 4rem;
  overflow: hidden;
  width: 14rem;

  .item:hover {
    //
  }
}

.toggleExpand {
  background: url('./svg/expand_arrow.svg');
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  position: absolute;
  top: 1.25rem;
  right: 1.625rem;
}

.item {
  height: 4rem;
  font-size: 14px;
  color: $color_grey;
}

.item:hover {
  background-color: $color_grey_trival;
  height: 3.75rem;
}

.itemInput {
  display: none;
}

.itemLabel {
  cursor: pointer;
  width: 100%;
  line-height: 2.375rem;
  margin-top: 0.625rem;
  margin-left: 2rem;
  display: inline-block;
}

.inputChecked {
  //
}
