{
  "presets": [
    ["es2015", { "loose": true }],
    "react",
    "react-app",
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    "dynamic-import-node",
    ["relay", {"schema": "./src/relay/schema.json"}],
    "inline-react-svg"
  ],
  "env": {
    "production": {
      "plugins": [
        ["react-css-modules", {
          "filetypes": {
            ".scss": {
              "syntax": "postcss-scss"
            }
          },
          "generateScopedName": "[name]__[local]___[hash:base64:5]"
        }]
      ]
    },
    "development": {
      "plugins": [
        ["react-css-modules", {
          "filetypes": {
            ".scss": {
              "syntax": "postcss-scss"
            }
          },
          "generateScopedName": "[name]__[local]___[hash:base64:5]",
          "removeImport": true,
          "webpackHotModuleReloading": true
        }]
      ]
    }
  }
}