{
  "presets": [
    ["es2015", { "loose": true }],
    "react",
    "react-app",
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    ["relay", {"schema": "./src/relay/schema.json"}]
  ]
}