@import "../../../styles/variables";

.container {
  padding: 1rem;
  background-image: url('https://s3.eu-west-2.amazonaws.com/storiqa/img-3qC2yrlMUywC.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body {
  max-width: 60rem;
  margin: 0 auto;
  font-size: 14px;
  line-height: 2.5rem;
  text-align: center;
  color: $color_white;

  @media (max-width: #{$sm - 1px}) {
    font-size: 14px;
  }
}

.link {
  a {
    font-size: 14px;
    color: $color_white;
    text-decoration: underline;

    @media (max-width: #{$sm - 1px}) {
      font-size: 12px;
    }
  }
}
