@import '../../../../styles/variables';

.container {
  display: flex;
  width: 100%;

  @media (max-width: #{$lg - 1px}) {
    display: block;
  }
}

.orderSelect {
  position: relative;
  padding-left: 4.5rem;
  width: 28rem;

  @media (max-width: #{$md - 1px}) {
    display: none;
  }
}

.icon {
  position: absolute;
  bottom: -0.5rem;
  left: -0.5rem;
}

.dateRange {
  position: relative;
  padding-left: 4.5rem;
  display: flex;
  margin-left: 5rem;
  flex: 1 0;

  @media (max-width: #{$lg - 1px}) {
    margin-left: 0;
    margin-top: 4rem;
  }

  @media (max-width: #{$md - 1px}) {
    display: none;
  }
}

.calendars {
  width: 100%;
  display: flex;

  .item {
    width: 26rem;

    & + .item {
      margin-left: 3rem;
    }
  }
}

.searchInput {
  width: 100%;

  @media (min-width: $md) {
    position: absolute;
    top: -2rem;
    right: 1rem;
    width: 19rem;
  }
}
