@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  flex: 1;
  position: relative;
}

:global {
  @media (min-width: $lg) { 
    .sticky {
      position: fixed;
      top: 2rem;
    }
    
    .bottom {
      position: absolute;
      bottom: 2rem;
    }
    
    .top {
      position: absolute;
      top: 0;
    }  
  } 
}
