@import "../../styles/variables";

.container {
  background-color: $color_opacity_white;
  border-left: 1px solid transparent;
  border-radius: 5px;
  border: 1px solid $color_grey_trivial;
  display: flex;
  justify-content: center;
  margin-left: 0;

  &.big {
    background-color: $color_white;
    border-radius: 0;
    justify-content: space-between;
  }

  &.noBorder {
    border: none;
    .link:last-child {border-right: 0; padding-right: 2rem;}
  }

  &.noBorderX {
    border-left: none;
    border-right: none;
    .link:last-child {border-right: 0; padding-right: 2rem;}
  }
}

.socialIcons {
  display: flex;
  justify-content: flex-start;

  .link {
    display: flex;
    align-items: center;
    padding: 2rem;

    &:last-child {
      padding-right: 2.5rem;
      border-right: 1px solid $color_grey_minor;
    }

    svg {
      height: 2.7rem;
      width: 2.7rem;
    }
  }

  &.big {
    min-height: 7rem;
    padding: 0rem 2rem;

    .linkContainer {
      margin-right: 3rem;
      @media (min-width: $md) {
        margin-right: 4rem;
      }
    }
    @media (min-width: $md) {
      padding: 2rem;
    }
  }
}

.favorite {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;

  &.big {
    border-left: 1px solid $color_grey_trivial;
    padding: 0 2.25rem;

    @media (min-width: $md) {
      padding: 4.25rem;
    }
  }

  &.noBorder {
    border-left: none;
    padding: 0 4rem 0 0;
  }

  svg {
    fill: $color_grey_minor;
    height: 2.7rem;
    width: 2.7rem;
  }

}