@import '../../../../../../styles/variables';

.container {
  padding: 4rem;
  background-color: $color_white;
}

.title {
  margin-bottom: 4rem;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.photos {

}

.formItem {
  max-width: 41rem;

  & + .formItem {
    margin-top: 6rem;
  }
}

.asterisk {
  color: $color_red;
}

.inputPostfix {
  position: absolute;
  color: $color_grey_minor;
  font-size: 12px;
}





.buttons {
  display: flex;
  margin-top: 4rem;

  .saveButton {
    width: 22.5rem;
  }

  .cancelButton {
    width: 22.5rem;
    margin-left: 2rem;
  }
}
