@import '../../../../../../styles/variables';

.container {
  position: relative;
  padding: 4rem;
  background-color: $color_white;
}

.cross {
  position: absolute;
  top: 3.25rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  &.titleGeneral {
    margin-top: 4rem;
  }

  &.titlePricing {
    margin-top: 4rem;
  }

  &.titleCharacteristics {
    margin-top: 6rem;
  }
}

.photos {

}

.formItem {
  max-width: 41rem;

  & + .formItem {
    margin-top: 6rem;
  }
}

.asterisk {
  color: $color_red;
}

.inputPostfix {
  position: absolute;
  color: $color_grey_minor;
  font-size: 12px;
}

.preOrder {
  margin-top: 4rem;
}

.characteristics {

}

.warehouses {

}

.footer {
  display: flex;
  align-items: center;
  margin-top: 4rem;

  @media (max-width: #{$md - 1px}) {
    display: block;
  }

  .buttons {
    display: flex;

    .saveButton {
      width: 22.5rem;
    }

    .cancelButton {
      width: 22.5rem;
      margin-left: 2rem;
    }
  }
}