@import '../../../../../../styles/variables';

.container {
  position: relative;
  padding: 4rem;
  background-color: $color_white;
}

.cross {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.photos {

}

.formItem {
  max-width: 41rem;

  & + .formItem {
    margin-top: 6rem;
  }
}

.asterisk {
  color: $color_red;
}

.inputPostfix {
  position: absolute;
  color: $color_grey_minor;
  font-size: 12px;
}

.preOrder {
  margin-top: 8rem;

  .preOrderTitle {
    display: flex;

    .preOrderCheckbox {
      margin-left: 2rem;
    }
  }

  .preOrderDaysInput {
    width: 15rem;
  }
}

.warehouses {

}

.footer {
  display: flex;
  align-items: center;
  margin-top: 4rem;

  .buttons {
    display: flex;

    .saveButton {
      width: 22.5rem;
    }

    .cancelButton {
      width: 22.5rem;
      margin-left: 2rem;
    }
  }

  .warnText {
    margin-left: 2rem;
    font-size: 14px;
    color: $color_pink;
  }
}