@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  background: $color_grey_bg;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: -31.25rem;
  transition: all 0.4s ease;
  width: 0;
  z-index: 1001;
}

.toggled2 {
  width: 31.25rem;
  left: 0;
}

.offscreen {
  @include offscreen;
}

.header {
  border-bottom: 1px solid $color_grey_minor;
  display: flex;
  padding: 3.25rem 1.375rem 3.25rem 0;

  & .close {
    margin: 0 2rem;
  }

  & h3 {
    font-size: 2.25rem;
  }

}

.menu {
  overflow: hidden;
  & .item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 3.25rem;
    position: relative;

    & span {
      align-items: center;
      display: flex;
    }

  }

}

.active {
  background: $color_white;
  font-weight: 500;
}

.activeBorder {
  background: $color_blue;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
}

.linkName {
  color: $color_grey;
  font-size: 14px;
  margin-left: 1rem;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
