@import "../../styles/mixins";

.container {
  @include simple-button;
  border-radius: 4px;
  font-size: 16px;
  padding: 16px 0;
}

.buttonProvider {
  @include simple-button($background: #F7F7F7, $color: #505050);
  border-radius: 4px;
  font-size: 16px;
  padding: 14px 0 14px 16%;
  text-align: left;
}

.signUp {
  @include simple-button($background: #2FBAFD, $color: #ffffff);
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 0;
}
