@import "../../../styles/variables";

.container {
  width: 100%;
  height: 6rem;
  position: relative;
}

.spinner {
  position: absolute;
  left: 50%;
  margin-left: -3rem;
  border: 2px solid transparent;
  border-top: 2px solid $color_blue;
  border-left: 2px solid $color_blue;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.paidSpinner,
.paidSpinner:after {
  height: 5.25rem;
  width: 5.25rem;
  border-radius: 50%;
}
.paidSpinner {
  position: relative;
  border-top: 0.75rem solid $color_grey_trivial;
  border-right: 0.75rem solid $color_grey_trivial;
  border-bottom: 0.75rem solid $color_grey_trivial;
  border-left: 0.75rem solid $color_blue;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

.paidSpinner.small,
.paidSpinner.small:after {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
}
.paidSpinner.small {
  position: relative;
  border-top: 0.25rem solid $color_grey_trivial;
  border-right: 0.25rem solid $color_grey_trivial;
  border-bottom: 0.25rem solid $color_grey_trivial;
  border-left: 0.25rem solid $color_blue;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}