@import "../../../../../../../styles/variables";

.container {
  padding: 4rem 3rem 3rem;
  background-color: $color_grey_bg;
}

.selects {
  display: flex;

  @media (max-width: #{$md - 1px}) {
    display: block;
  }
}

.serviceSelect {
  width: 100%;
  max-width: 33rem;
}

.inputPrice {
  width: 100%;
  max-width: 33rem;
  margin-left: 2rem;

  @media (max-width: #{$md - 1px}) {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.countriesSelect {
  width: 100%;
  max-width: 33rem;
  margin-left: 2rem;

  @media (max-width: #{$md - 1px}) {
    margin-left: 0;
    margin-top: 5rem;
  }
}

.buttons {
  display: flex;
  margin-top: 4rem;

  .cancelButton {
    margin-left: 2rem;
    color: $color_blue;
    font-size: 16px;
    cursor: pointer;
    transition: $transition_all_ease;

    &:hover {
      color: $color_blue_hover;
    }
  }
}

.pickup {
  display: flex;
  align-items: center;

  .pickupCheckbox {

  }

  .pickupPriceInput {

  }
}

.countries {
  margin-top: 2rem;
}