@import "../../../styles/variables";

.container {
  display: flex;
}

.input {
  width: 100%;
}

.select {
  width: 10rem;
  margin-left: 1.5rem;

  &.fixCurrencySelect {
    width: auto;
  }
}

.fixCurrency {
  margin-top: 3rem;
}

.asterisk {
  color: $color_red;
}