@import "../../styles/variables";

.container {
  margin: 0 auto;
  max-width: 170rem;
  position: relative;
  width: 100%;
}

.shopBanner {
  position: relative;
  top: -6rem;
  @media (min-width: $md) {
    top: 0;
  }
}

.imageWrapper {
  margin-bottom: 0;
  @media (min-width: $md) {
    margin-bottom: 3rem;
  }
}

.shopInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.625rem;
  position: relative;

  @media (min-width: $md) {
    align-items: initial;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  & > .controls {
    display: block;
    left: 0;
    position: absolute;
    top: 8rem;
    @media (min-width: $md) {
      display: none;
    }
  }

  & > .magnifier {
    display: block;
    position: absolute;
    right: 0;
    top: 8rem;
    @media (min-width: $md) {
      display: none;
    }
  }

}

.shopLogo {
  height: 10rem;
  margin-right: 0;
  width: 10rem;
  & > img {
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  @media (min-width: $md) {
    margin-right: 2rem;
  }
}

.shopTitle {
  align-content: baseline;
  color: $color_grey;
  display: flex;
  font-size: 3.75rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  height: 4.375rem;
  letter-spacing: 0.3px;
  line-height: normal;

  & > .cartIcon {
    margin-left: 2rem;
    padding-top: 1rem;
  }
}

.shopRating {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $md) {
    top: 0;
    align-items: initial;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.reviews {
  color: $color_grey_minor;
  font-size: 2.125rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-left: 0;
  margin-top: 2rem;
  @media (min-width: $md) {
    margin-left: 2rem;
    margin-top: 0;
  }
}

.image {

  @media (min-width: $sm) {
    height: 13.75rem;
  }

  @media (min-width: $md) {
    height: 21.375rem;
  }

  @media (min-width: $lg) {
    height: 30.625rem;
  }

  @media (min-width: $xl) {
    height: 41.625rem;
  }

  & > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.sellerButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  button {
    width: 15rem;
    @media (min-width: $md) {
      width: 15.5rem;
    }
    @media (min-width: $lg) {
      width: 21.25rem;
    }
  }
  @media (min-width: $md) {
    justify-content: space-around;
    margin-top: 4rem;
  }

  & .message {
    display: none;
    @media (min-width: $md) {
      display: inline;
    }
  }

  & .buttonText {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  & .buttonIcon {
    margin-right: 0.5rem;
  }
}

.button {
  margin-left: 0;
  @media (min-width: $md) {
    margin-left: 2rem;
  }
}