@import "../../styles/variables";
@import "../../styles/mixins";

.mobileTabs {
  display: block;
  margin-top: 2rem;
  @media (min-width: $md) {
    display: none;
  }
}

.storeNotFound {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  @media (max-width: #{$lg - 1px}) {
    margin-top: 4rem;
  }
}
