@import "../../styles/variables";

.container {
  display: none;
  width: 100%;

  @media (min-width: $md) {
   display: block;
  }
}

.tabs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tab {
  position: relative;
  color: $color_grey;
  cursor: pointer;
  font-size: 14px;
  height: 7.25rem;
  line-height: 7.25rem;
  letter-spacing: 1.2px;
  padding-bottom: 1.5rem;
  vertical-align: middle;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 12.125rem;
  transition: $transition_all_ease;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: transparent;
    transition: $transition_all_ease;
  }

  &:hover {
    color: $color_blue;

    &:after {
      background-color: $color_blue;
    }
  }
}

.new {
  background: $color_blue;
  border-radius: 2px;
  color: $color_white;
  font-size: 11px;
  padding: 1px 3px;
  position: absolute;
  right: -2rem;
  text-align: center;
  text-transform: capitalize;
  top: 0.5rem;
  line-height: 1.75rem;
  vertical-align: middle;
}