@import "../../styles/variables";

.container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: none;
  padding: 0;
  position: relative;
  top: -6rem;
  @media (min-width: $md) {
    border-bottom: 1px solid $color_grey_trivial;
    padding: 0 2rem 3rem 2rem;
    top: 0;
  }
}
