@import '../../../styles/variables.scss';

.container {
  font-size: 14px;
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.item {
  width: 3rem;
  height: 3rem;
}

.current {
  background-color: $color_blue;
  border-radius: 0.5rem;
  color: white;
}
