@import '../../../styles/variables.scss';

.container {
  font-size: 14px;
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.item, .dots, .arrow {
  position: relative;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: $color_grey;
}

.current {
  background-color: $color_blue;
  border-radius: 0.5rem;
  color: $color_white;
  transition: $transition_all_ease;
}

.clicked {
  color: $color_grey_minor;
}