@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 88.25rem;
}

.text {
  margin-top: 9rem;
  line-height: 3rem;
}