@import "../../../../../styles/variables";

.headerRowWrap {
  align-items: center;
  border-bottom: 1px solid $color_grey_trivial;
  display: none;
  margin: 0 -4rem;
  padding: 2rem 4rem;

  & .tdWrap > span {
    margin-right: 0.5rem;
  }

  @media (min-width: $md) {
    display: flex;
  }
}

.name {
  padding-left: 3rem;
}

.headerRowWrap {
  .td {
    color: $color_grey_minor;
  }
}

.colColor {
  font-size: 14px;
  color: $color_grey_minor;
}

.td {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 2.5rem;
  color: $color_grey;
}

.tdFoto {
  margin-right: 2rem;
  width: 10%;
}
.tdName {width: 22%;}
.tdCategory {width: 18%;}
.tdPrice {width: 10%;}
.tdCashback {width: 10%;}
.tdCharacteristics {width: 25%;}