@import "../../styles/variables";

$icon-size: 5rem;

.container {
  display: flex;
  justify-content: space-between;
}

.image {
  position: relative;
  img {
    border-radius: 50%;
    height: $icon-size;
    width: $icon-size;
  }

  .trash {
    background: $color_white;
    border-radius: 50%;
    border: 1px solid $color_grey_minor;
    position: absolute;
    right: -1rem;
    top: -1rem;
    svg {
      fill: $color_grey_minor;
    }
  }
}

.imageArea {
  align-items: center;
  background-color: $color_grey_trivial;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  height: $icon-size;
  justify-content: center;
  width: $icon-size;
}

.upload {
  align-items: center;
  border-radius: 4px;
  border: solid 1px $color_blue;
  color: $color_blue;
  display: flex;
  height: 5rem;
  justify-content: center;
  margin-left: 2rem;
  width: 100%;
}