@import "../../styles/variables.scss";

.container {
  position: relative;
}

.inputBlock {
  position: relative;
  margin-bottom: 4rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $md) {
    flex-direction: row;
  }
  button:first-child {
    margin-bottom: 2rem;
    margin-right: 0;
    @media (min-width: $md) {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
  button {
    width: 100%;
  }
}