@import "../../styles/variables";

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

.title {
  color: $color_primary;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.linkTitle {
  border-bottom: 1px solid $color_primary;
  color: $color_primary;
  cursor: pointer;
}