@import "../../../styles/variables.scss";

.container {
  color: $color_grey_minor;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  & > div {
    margin-bottom: 2rem;
  }
}

.policyText {
  font-size: 14px;
  line-height: 2.15rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.link {
  font-size: 14px;
  color: $color_grey;
  text-decoration: underline;
}

.checkbox {
  flex: 1 0 auto;
  display: inline-block;
  margin-top: 1px;
}