@import "../../../../styles/variables";

.container {
  margin: 0 auto;
  max-width: 170rem;
  padding: 4rem 0;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  line-height: normal;
  margin-bottom: 6rem;
}

.title {
  font-size: 5rem;
}

.invoiceData {
  color: $color_order_invoice;
  font-family: $font_medium;
  font-size: 11px;
  font-weight: 500;
}

.address {
  color: $color_gray_order_invoice;
  font-family: $font_medium;
  font-size: 11px;
  width: 28rem;
}

.addressField {
  display: flex;
  justify-content: space-between;

  span {
    display: block;
    width: 50%;
  }

  span:first-child {
    text-align: right
  }

  span:nth-child(2) {
    margin-left: 4rem;
  }
  
}

.customerData {
  color: $color_gray_order_invoice;
  font-family: $font_light;
}

.invoiceDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.75rem;
}

.tableHeader {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  
}

.tableHeaderItem {
  background: $color_order_invoice_table_item_bg;
  color: $color_order_invoice;
  flex: 1;
  font-size: 11px;
  font-weight: bold;
  line-height: 4rem;
  margin-right: 0.5rem;
  height: 4rem;
  padding-left: 1.25rem;
  &:first-child {
    max-width: 5.3rem;
  }
  &:nth-child(2) {
    flex: 3;
  }
}

.tableRow {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  &:nth-child(odd) {
    background: $color_grey_bg;
  }
}

.tableRowItem {
  color: $color_order_invoice;
  flex: 1;
  font-size: 10px;
  line-height: 4rem;
  margin-right: 0.5rem;
  height: 4rem;
  padding-left: 1.25rem;
  &:first-child {
    max-width: 5.3rem;
  }
  &:nth-child(2) {
    flex: 3;
  }
  
}