@mixin simple-button($color: #A7A7A7, $background: #ffffff, $width: 100%) {

  & {
    background: $background;
    border: none;
    color: $color;
    cursor: pointer;
    outline: 0;
    width: $width;
  }

}
