@import "../../../../styles/variables";

.container {
  overflow: hidden;
  padding: 3rem;
  border-top: 1px solid $color_grey_trivial;
  border-bottom: 1px solid $color_grey_trivial;
  border-left: 1px solid $color_grey_trivial;
  background-color: $color_white;

  //@media (min-width: $lg) {
  //  display: block;
  //}
}

.label {
  color: $color_grey_minor;
  cursor: pointer;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.2px;
  line-height: normal;
  margin-right: 6.625rem;
  padding-bottom: 1.75rem;
  margin-bottom: -0.25rem;
  text-transform: uppercase;
}

.labels {
  border-bottom: 0.25rem solid $color_grey_trivial;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.active {
  color: $color_blue;
  border-bottom: 0.25rem solid $color_blue;
}
