@import "../../styles/variables.scss";

.container {
  padding: 4rem 0rem;
  color: $color_grey_text;
  background: $color-white;
  border: 1px solid $color_grey_light;
  width: 40rem;
}

:global {
  .sticky {
    position: fixed;
    top: 2rem;
  }
  
  .bottom {
    position: absolute;
    bottom: 2rem;
  }
  
  .top {
    position: absolute;
    top: 0;
  }  
}

.cart-total-title {
  font-family: $font_medium;
  text-transform: uppercase;
  padding: 0rem 4rem 2rem 4rem;
}

.checkout {
  margin-top: 0.5rem;
  padding: 0rem 4rem;

  button {
    width: 100%;
  }
}

.payments-container {
  background-color: $color_grey_1;
  padding: 2rem 4rem;
}

.title {
  color: $color_grey_bg;
  font-family: $font_regular;
  font-size: 1.75rem;
}

.value {
  font-family: $font_regular;
  color: $color_grey_text;
}

.payment-option {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
}

.payment-option-icon {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
  svg {
    height: 2rem;
  }
  img {
    height: 2rem;
  }
}

.payments-group {
  padding-top: 2rem;
}

.totals-container {
  padding: 2.5rem 4rem;
}