@import "../../styles/variables.scss";

.container {
  color: $color_grey_text;
  display: flex;
  padding-bottom: 3rem;
  border-bottom: 1px solid $color_grey_light;
}

.picture {
  width: 16rem;
  margin-right: 4rem;
}

.checkbox {
  margin-right: 4rem;
}

.header {
  padding: 0 0 1rem 2rem;
}

.left-container {
  display: flex;
  align-items: flex-start;
}

.main-container {
  flex-grow: 1;
  display: flex;
}

.half-width {
  width: 50%;
  display: inline-block;
}

.product-summary {
  width: 66%;
  border-right: 1px solid $color_grey_2;
}

.product-params {
  width: 34%;
  padding-left: 4rem;
}

.product-summary-header {
  margin-bottom: 3rem;
  font-family: $font_regular;
}

.product-summary-attributes {
  font-family: $font_regular;
}

.cart-product-title {
  font-family: $font_medium;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.total-container {
  width: 40em;
  border: 1px solid $color_grey_light;
}