@import "../../styles/variables.scss";

.container {
  padding: 4rem;
  color: $color_grey;
  background-color: $color-white;
  border: 1px solid $color_grey_trivial;
  margin-bottom: 2rem;
}

.header {
  padding: 0 0 1rem 2rem;
}

.image {
  width: 5rem;
  height: 5rem;
}

.name {

}

.products {

}

.store {
  width: 66%;
}

.store-info {
  display: flex;
  margin-bottom: 3rem;

  & img {
    display: block;
    border-radius: 2px;
  }
}

.store-total {
  width: 34%;
  padding-left: 4rem;
}

.store-description {
  margin-left: 1rem;
  font-family: $font_regular;
  top: -0.5rem;
  position: relative;
}

.store-name {
  margin-bottom: 0.5rem;
}

.footer {
  padding-top: 3rem;
  padding-left: 26rem;
  display: flex;
}

.store-total-header {
  text-transform: uppercase;
}

.buy {
  button {
    width: 100%;
  }
}

.chat-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-text {
  color: $color_grey_minor;
  font-family: $font_regular;
  margin-left: 1rem;
}

.promocode {
  width: 24rem;
}
