@import "../../styles/variables.scss";

.wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.sidebarWrapper {
  display: flex;
  flex: 1;
  margin-top: 2rem;
}

@media (min-width: $md) { 
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.storeContainer {
  margin-top: 2rem;
}

.header {
  font-size: 24px;
  font-family: $font_medium;
}

// old styles

.container {
  margin: 2rem 0 4rem;
}
