@import "../../styles/variables.scss";

.container {
  //margin: 2rem 0 4rem;
  overflow: hidden;
}

.wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.sidebarWrapper {
  display: flex;
  flex: 1;
  margin-top: 2rem;
}

@media (min-width: $md) { 
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.storeContainer {
  margin-top: 2rem;
}

.header {
  font-size: 24px;
  font-family: $font_medium;
}

.tabs {
  margin-top: 2rem;
  padding: 3rem 3rem 2rem;
  border: 1px solid $color_grey_trivial;
  background-color: $color_white;
}
