@import "../../styles/variables.scss";

.container {
  padding: 4rem;
  color: $color_grey_text;
  background: $color-white;
  border: 1px solid $color_grey_light;
  margin-bottom: 2rem;
}

.header {
  padding: 0 0 1rem 2rem;
}

.products {
  
}

.footer {

}