@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  color: $color_grey;
  min-height: 80rem;
}

.stores-container {
  flex-grow: 1;
}

.empty-container {
  width: 100%;
  padding: 0 2rem;
}

.total-container {
  position: relative;
  width: 40rem;
  margin-left: 2rem;
}

.body-container {
  display: flex;
  flex: 1 0 auto;
}

.header {
  margin-bottom: 1rem;
  padding: 0 2rem;
  font-size: 24px;
}
