@import "../../styles/variables.scss";

.wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.sidebarWrapper {
  display: flex;
  flex: 1;
  margin-top: 2rem;
}

@media (min-width: $md) { 
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.storeContainer {
  margin-top: 2rem;
}


// old styles

.container {
  display: flex;
  flex-direction: column;
  color: $color_grey;
  min-height: 80rem;
}

.stores-container {
  flex-grow: 1;
}

.empty-container {
  width: 100%;
  padding: 0 2rem;
}

.total-container {
  position: relative;
  width: 40rem;
  margin-left: 2rem;
}

.body-container {
  display: flex;
  flex: 1 0 auto;
}

.header {
  font-size: 24px;
  font-family: $font_medium;
}
