@import "../../styles/variables.scss";

.container {
  padding: 4rem;
  color: $color_grey_text;
  background: $color-white;
  border: 1px solid $color_grey_light;
  height: 50rem;
  width: 40rem;
}

.sticky {
  position: fixed;
  top: 2rem;
}

.bottom {
  position: absolute;
  bottom: 2rem;
}

.top {
  position: absolute;
  top: 0;
}

.cart-total-title {
  font-family: $font_medium;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
