@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  position: relative;
}

.offscreen {
  @include offscreen();
}

.imageArea {
  border-radius: 0.5rem;
  overflow: hidden;
  display: none;
  @media (min-width: $md) {
    display: block;
  }

  .trash {
    background: $color_white;
    border-radius: 50%;
    border: 1px solid $color_grey_minor;
    cursor: pointer;
    position: absolute;
    right: -1rem;
    top: -1rem;
    svg {
      fill: $color_grey_minor;
    }
  }

}

.img {
  display: block;
  height: auto;
  width: 100%;
}

.title {
  font-family: $font_medium;
  max-height: 6rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: none;
  @media (min-width: $md) {
    display: block;
  }
}

.items {
  display: none;
  position: relative;

  @media (min-width: $md) {
    display: block;
  }

}

.item {
  color: $color_grey;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-left: -2rem;
  padding: 1.5rem 0 1.5rem 2rem;
  transition: $transition_all_ease;

  &:hover {
    background-color: $color_white;
  }
}

.isActive {
  background-color: $color_white;
  font-family: $font_medium;
  position: relative;
}

.isActive:before {
  border-left: 2px solid $color_blue;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.25rem;
}

.storeLogo {
  height: 26rem;
  width: 26rem;
}

.cross {
  cursor: pointer;
  left: -3rem;
  position: absolute;
  top: 0.5rem;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $md) {
    display: none;
  }

}
