@import "../../styles/variables";

$max-width: 41rem !important;

.container {
  margin: 2rem 0 4rem;
}

.sidebar {
  display: none;

  @media (min-width: $md) {
    display: block;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.header {
  align-items: center;
  display: none;
  margin-top: 1rem;
  padding-left: 2rem;

  @media (min-width: $md) {
    display: flex;
  }
}

.personalData,
.shippingAddresses,
.security,
.ordersList {
  width: 100%;
  padding: 4rem;
  background-color: $color_white;
  flex: 1 0 auto;
}

.personalDataWrap {
  max-width: $max-width;

  & > .subtitle {
    display: none;

    @media (min-width: $md) {
      display: block;
    }
  }

  .button {
    width: 22.5rem;
  }
}

.title {
  color: $color_grey;
  font-family: $font_medium;
  font-size: 24px;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  text-transform: uppercase;

  @media (min-width: $md) {
    margin-bottom: 5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-top: 0;

  @media (min-width: $md) {
    margin-top: 2rem;
  }
}

.formItem + .formItem {
  margin-top: 6rem;
}

.addressForm {
  max-width: $max-width;
}

.editAddressForm {
  background-color: $color_grey_bg;
  margin: 4rem 0;
  padding: 4rem;
}

.saveButtons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;

  button {
    width: 100%;

    @media (min-width: $md) {
      width: initial;
    }
  }

}

.editButtons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;

  button {
    width: 100%;

    @media (min-width: $md) {
      width: 12rem;
    }
  }
}

.cancelButton {
  margin-left: 0;
  margin-top: 2rem;
  font-size: 16px;
  color: $color_blue;
  cursor: pointer;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue_hover;
  }

  @media (min-width: $md) {
    margin-left: 3rem;
    margin-top: 0;
  }
}

.deleteButton {
  margin-left: 0;
  margin-top: 2rem;
  width: 100%;

  @media (min-width: $md) {
    margin-left: 3rem;
    margin-top: 0;
    width: initial;
  }
}

.addButton {
  float: right;
  display: none;

  @media (min-width: $md) {
    display: block;
  }
}

.addButtonMobile {
  display: block;
  margin-top: 2rem;

  @media (min-width: $md) {
    display: none;
  }

  button {
    width: 100%;
  }
}

.priorityCheckbox {
  margin-top: 5rem;
}

.addressesWrap {
  &.isOpenNewForm {
    margin-top: 7.5rem;
  }
}

.addresses {
  //
}

.item {
  background-color: $color_grey_bg;
  border-radius: 4px;
  padding: 2rem;

  & + .item {
    margin-top: 4rem;
  }

  @media (min-width: $md) {
    padding: 4rem;
  }

}

.address {
  color: $color_grey_minor;
  line-height: 2.5rem;
}

.name {
  margin-top: 1rem;
}

.email {
  color: $color_grey_minor;
}

.priorityText {
  color: $color_blue;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.passwordInputs {
  margin-bottom: 6rem;
}

.passwordInput {
  position: relative;
  width: 100%;

  &.passwordInput {
    margin-top: 6rem;
  }

  @media (min-width: $md) {
    width: 30rem;
  }
}

.icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -0.25rem;

  & svg {
    transition: $transition_all_ease;
  }

  &.openIcon {
    & svg {
      fill: $color_blue;
    }
    &:after {
      opacity: 0;
    }
  }

  &:after {
    border-right: 1px solid $color_grey_light;
    content: '';
    display: block;
    height: 3rem;
    left: 1.75rem;
    position: absolute;
    top: 0.25rem;
    transform: rotate(33deg);
    transition: $transition_all_ease;
  }
}

.inputRef {
  position: relative;

  .copyRefButton {
    position: absolute;
    top: -6px;
    right: -1rem;
    background-color: $color_white;
    cursor: pointer;
    z-index: 1;

    svg {
      transition: $transition_all_ease;
      fill: $color_grey_minor;
    }

    &:hover {
      svg {
        fill: $color_grey;
      }
    }

    &.isCopiedRef {
      svg {
        fill: $color_green;
      }
    }
  }

  .copyMessage {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 12px;
    color: $color_green;
    line-height: 2rem;
    opacity: 0;
    transition: $transition_all_ease;

    &.isCopiedRef {
      opacity: 1;
    }
  }
}