@import "../../styles/variables";

.container {
  margin-top: 4.875rem;

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-left: 2rem;
}

.personalData {
  width: 41rem;
}

.title {
  font-family: $font_medium;
  color: $color_grey;
  font-size: 24px;
}

.subtitle {
  margin-bottom: 5rem;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form {
  margin-top: 2rem;
  padding: 4rem;
  background-color: $color_white;
  flex: 1 0 auto;
}

.formItem + .formItem {
  margin-top: 6rem;
}

.addressForm {
  width: 41rem;
}

.editAddressForm {
  margin: 4rem 0;
  padding: 4rem;
  background-color: $color_grey_bg;
}

.saveButtons {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.editButtons {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.cancelButton {
  margin-left: 3rem;
  font-size: 16px;
  color: $color_grey_minor;
  cursor: pointer;
  transition: $transition_all_ease;

  &:hover {
    color: $color_grey;
  }
}

.addButton {
  //display: flex;
  //justify-content: flex-end;
  float: right;
}

.priorityCheckbox {
  margin-top: 5rem;
}

.addressesWrap {
  &.isOpenNewForm {
    margin-top: 7.5rem;
  }
}

.addresses {
  //
}

.item {
  padding: 4rem;
  border-radius: 4px;
  background-color: $color_grey_bg;

  & + .item {
    margin-top: 4rem;
  }
}

.address {
  color: $color_grey_minor;
  line-height: 2.5rem;
}

.name {
  margin-top: 1rem;
}

.email {
  color: $color_grey_minor;
}

.preorityText {
  margin-bottom: 1.5rem;
  color: $color_blue;
  line-height: 2.5rem;
}

.passwordInputs {
  margin-bottom: 6rem;
}

.passwordInput {
  position: relative;
  width: 30rem;

  &.passwordInput {
    margin-top: 6rem;
  }
}

.icon {
  position: absolute;
  top: -0.25rem;
  right: 0;
  cursor: pointer;

  & svg {
    transition: $transition_all_ease;
  }

  &.openIcon {
    & svg {
      fill: $color_blue;
    }
    &:after {
      opacity: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 1.75rem;
    display: block;
    height: 3rem;
    border-right: 1px solid $color_grey_light;
    transform: rotate(33deg);
    transition: $transition_all_ease;
  }
}