@import "../../../../styles/variables";

.container {
  margin-top: 4rem;
}

.title {
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.counter {
  display: block;
  margin-top: 1rem;
  align-items: flex-start;


  @media (min-width: $lg), (max-width: #{$md - 1px}) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}

.stepper {
  margin-right: 2rem;
}

.stock {
  display: inline-block;
  margin-right: 1rem;
  padding-top: 1rem;

  @media (min-width: $lg), (max-width: #{$md - 1px}) {
    margin-right: 0;
    padding-top: 0;
  }
}

.inStock {
  color: $color_green;
  padding-left: 0;
  padding-top: 0;

  @media (min-width: $lg), (max-width: #{$md - 1px}) {
    padding-left: 1rem;
  }
}

.zeroQuantity {
  color: $color_red;
}

.preOrder {
  margin-top: 4rem;

  .preOrderText {
    margin-top: 2rem;
    color: $color_grey_minor;

    .preOrderDays {
      color: $color_green;
    }
  }
}
