@import "../../../../styles/variables";

.container {
  background-color: $color_pink;
  border-top: 0 solid transparent;
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 2rem;
  text-align: center;
  width: 8rem;
  z-index: 1;
  border-bottom: 1px solid $color_white;
  border-left: 1px solid $color_white;
  border-radius: 0 0 0.5rem 0.5rem;
  border-right: 1px solid $color_white;
  height: 9.375rem;
  padding-top: 1px;
  top: 0;

  @media (max-width: #{$lg - 1px}) {
    height: 4rem;
    padding-top: 0.5rem;
  }
}

.price {
  display: none;

  @media (min-width: $lg) {
    display: block;
  }
}