@import "../../../styles/variables";

.container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.forForm {
  display: block;
  width: 41rem;
}

.forForm .hr, .forSearch .hr {
  display: block;
  position: absolute;
  bottom: -0.375rem;
  width: 100%;
  border-top: 1px solid $color_grey_border2;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid $color_blue_1;
    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
}

.isExpanded {
  &.forForm .hr, .forSearch .hr {
    &:after {
      transform: scaleX(1);
    }
  }
}

.fullWidth {
  width: 100%;
}

.forSearch {
  display: block;
  width: 100%;
}

.label {
  color: $color_grey_bg;
  font-size: 14px;
  white-space: nowrap;
  transform: scale(0.75) translate(0, 0.875rem);
  transform-origin: left top 0;
  transition: all .3s ease;
}

.isExpanded .label {
  color: $color_blue_1;
}

.wrap {
  position: relative;
  display: inline-block;
  height: 2.25rem;
  padding: 0 3rem 0 1rem;
  border-radius: 0.25rem;
  color: $color_grey_text;
  background-color: #FAFAFA;
  font-size: 11px;
}

.forForm .wrap, .forSearch .wrap {
  position: static;
}

.transparent,
.forForm .wrap,
.forSearch .wrap {
  padding-left: 0;
  background-color: transparent;
}

.forAutocomlete .wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  vertical-align: bottom;
}

.isDropdown .wrap {
  background-color: transparent;
}

.isItem {
  padding-right: 3.5rem;
  font-size: 16px;
  background-color: transparent;
}

.isDropdown {
  color: $color_grey_link;
  background-color: transparent;
}

.forAutocomlete {
  width: 100%;
  height: 100%;
}

.selected {
  font-family: $font_regular;
  position: relative;
  line-height: 2.5rem;
  z-index: 2;
}

.forForm .selected {
  top: 0.25rem;
}

.forAutocomlete .selected,
.forForm .selected,
.forSearch .selected {
  font-size: 14px;
}

.icon {
  position: absolute;
  top: 1px;
  right: 0.5rem;
  border-radius: 0.25rem;
  z-index: 2;
  transition: all .3s ease;
}

.rotateIcon {
  transform: rotate(-180deg);
  transition: all .3s ease;
}

.forForm .icon,
.forSearch .icon {
  top: auto;
  bottom: 0.25rem;
  right: -0.5rem;
}

.isItem .icon {
  background-color: #FAFAFA;
}

.forAutocomlete .icon {
  top: 1rem;
  right: 0.75rem;
}

.items {
  position: absolute;
  top: 3rem;
  left: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 0.25rem;
  background-color: $color_white;
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, .16);
  overflow: hidden;
  cursor: default;
  z-index: 11;
  transition: all .3s ease;
}

.itemsWrap::-webkit-scrollbar {
  width: 0.5rem;
}

.itemsWrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d8d8d8;
}

.itemsWrap::-webkit-scrollbar-track {
  background: transparent;
}

.forAutocomlete .items {
  top: 3rem;
  left: -1px;
  width: 14rem;
  padding: 1rem 0 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: none;
  border: 1px solid #BFBFBF;
  border-top: 0;
}

.forForm .items,
.forSearch .items {
  top: 100%;
  left: 0;
  margin-left: 0;
  margin-top: 1.5rem;
}

.isItem .items {
  top: -1rem;
}

.isDropdown .items {
  top: 3rem;
  left: auto;
  right: 0;
  z-index: 1;
}

.itemsWrap {
  position: relative;
  max-height: 10rem;
  overflow-y: auto;
}

.forForm .itemsWrap,
.forSearch .itemsWrap{
  max-height: 15rem;
}

.item {
  height: 2rem;
  padding: 0 1rem;
  text-align: left;
  line-height: 2.25rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    color: #03a9ff;
  }
}

.forForm .item,
.forSearch .item {
  height: 3rem;
  line-height: 3.25rem;
  font-size: 14px;
}

.isItem .item {
  line-height: 3rem;
}

.isDropdown .item {
  white-space: nowrap;
}

.forAutocomlete .item {
  font-size: 14px;
  height: 3.75rem;
  line-height: 3.75rem;
  padding: 0 1rem;
}

.active {
  color: #03a9ff;
}

.isDropdown .active {
  display: block;
}

.hidden {
  display: none;
}

.area {
  //
}