@import "../../styles/variables.scss";

.container {
  padding: 4rem 3.5rem;
  background: $color_white;
  max-width: 100%;
 
  @media (min-width: $md) {
    max-width: 82rem;
    padding: 9rem;
  }
}

.title {
  font-family: $font_light;
  font-size: 36px;
  font-weight: 100;
  line-height: 36px;
  margin-bottom: 4rem;
  text-align: center;
  @media (min-width: $md) {
    margin-bottom: 2rem;
  }

  &.hasDescription {
    margin-bottom: 2rem;
    @media (min-width: $md) {
      margin-bottom: 2rem;
    }
  }
}

.description {
  color: $color_grey_minor;
  font-size: 16px;
  margin-bottom: 6.25rem;
  text-align: center;
  max-width: 54rem;

}

.buttons {
  max-width: 54rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  button {
    width: 100%;
  }

  button:first-child {
    margin-bottom: 2rem;
  }

  @media (min-width: $md) {
    flex-direction: row;

    button:first-child {
      margin-bottom:0;
      margin-right: 2rem;
    }
  }
 
}