@import '../../../../../styles/variables';

.layer {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: $color_grey_trivial;
  z-index: 5;
  transition: $transition_all_ease;

  & .editbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & + .editbutton {
      margin-left: 3rem;
    }

    & svg {
      fill: $color_grey_minor;
    }
  }
}

.buttonLabel {
  text-align: center;
  font-size: 14px;
  line-height: 2rem;
  margin-top: 0.5rem;
  color: $color_grey_minor;
}
