@import "../../../../../../../styles/variables";

.header {
  display: flex;
  width: 138rem;
  margin: 0;
  padding: 0 4rem 1rem;
  border-bottom: 1px solid $color_grey_trivial;
  background-color: $color_white;
}

.headerItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 2.5rem;
  color: $color_grey_minor;
}

.headerItemWrap {
  & > span {
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}

.deleteButton {
  & svg {
    fill: $color_grey_minor;
    transition: $transition_all_ease;
  }

  &:hover svg {fill: $color_grey;}
}

.tdCheckbox {width: 5%;}
.tdArticle {width: 17%;}
.tdCashback {width: 9%;}
.tdDiscount {width: 9%;}
.tdCharacteristics {width: 19%;}
.tdPrice {width: 15%;}
.tdCount {width: 18%;}
.tdCopy {width: 4%; justify-content: flex-end;}
.tdBasket {width: 4%; justify-content: flex-end;}
