@import "../../../styles/variables.scss";

.container {
  padding-bottom: 2rem;
}

.title {
  color: $color_grey_minor;
  font-family: $font_regular;
  font-size: 1.75rem;
}

.value {
  font-family: $font_regular;
  color: $color_grey;
}
