@import '../../../../styles/variables.scss';

.container {
  margin-left: 0;
  margin-right: 0;
}

.loadingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.errorWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color_red;
  font-size: 1.5rem;
}
