@import "../../../styles/variables.scss";

.container {
  background-color: $color_grey_trivial;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid $color_grey_spiner;
  border-radius: 50%;
  width: 5.25rem;
  height: 5.25rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
