* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 8px;
}

body {
  font-family: 'Open_Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 18px;
  color: $color_grey_text;
}

b {
  font-family: 'Open_Sans_Bold', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
}

strong {
  font-family: 'Open_Sans_SemiBold', 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;
}

input,
textarea {
  border: 0;
  background-color: transparent;
  outline: none;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: normal;
  overflow: visible;
  padding: 0;
  outline: none;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a, a:visited {
  color: $color_grey_text;
  text-decoration: none;
  transition: all .3s ease;
}