@import "../styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 8px;
}

body {
  font-family: $font_regular;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  color: $color_grey;
  -webkit-font-smoothing: antialiased;
}

b {
  font-weight: normal;
  font-family: $font_bold;
}

strong {
  font-weight: normal;
  font-family: $font_medium;
}

thin {
  font-weight: normal;
  font-family: $font_light;
}

i {
  font-style: normal;
  font-family: $font_italic;
}

input,
textarea {
  display: block;
  border: 0;
  background-color: transparent;
  outline: none;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: normal;
  overflow: visible;
  padding: 0;
  outline: none;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  font-size: 12px;
  color: $color_grey_minor;
  text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table, thead, tr, th, tbody, td {
  font-weight: normal;
}
