* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Open_Sans;font-family: 'Open_Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 18px;
  color: $color_primary;
}

b {
  font-family: 'Open_Sans_Bold', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
}

strong {
  font-family: 'Open_Sans_SemiBold', 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button,
button:active,
button:focus {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  outline: none;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}