@font-face {
  font-family: 'Roboto';
  src: url('./styles/fonts/Roboto/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto_Light';
  src: url('./styles/fonts/Roboto/Roboto-Light.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url('./styles/fonts/Roboto/Roboto-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto_Italic';
  src: url('./styles/fonts/Roboto/Roboto-Italic.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto_Medium';
  src: url('./styles/fonts/Roboto/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: normal;
}