@font-face {
  font-family: 'Open_Sans';
  src: url('./styles/fonts/Open_Sans/OpenSans-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Open_Sans_Light';
  src: url('./styles/fonts/Open_Sans/OpenSans-Light.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Open_Sans_Bold';
  src: url('./styles/fonts/Open_Sans/OpenSans-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Open_Sans_SemiBold';
  src: url('./styles/fonts/Open_Sans/OpenSans-SemiBold.ttf');
  font-style: normal;
  font-weight: normal;
}