// Colors
$color_primary: #505050;
$color_white: #ffffff;
$color_grey: #A7A7A7;
$color_blue: #2FBAFD;
$color_pink: #FF508E;

:global {
  .bgWhite { background-color: $color_white }
  .bgBlue { background-color: $color_blue }
  .bgGrey { background-color: $color_grey }
  .bgPink { background-color: $color_pink }
  .colorWhite { color: $color_white }
  .colorGrey { color: $color_grey }
  .boxShadow1 { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .16) }

  // fonts
  .OpenSans { font-family: 'Open_Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif }
  .OpenSans_Light { font-family: 'Open_Sans_Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif }
  .OpenSans_Bold { font-family: 'Open_Sans_Bold', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif }
  .OpenSans_SemiBold { font-family: 'Open_Sans_SemiBold', 'Helvetica Neue Medium', Helvetica, Arial, sans-serif }
}