// Colors
$color_primary: #2FBAFD;
$color_pink: #FF508E;
$color_green: #9FC63C;
$color_grey_text: #505050;
$color_grey_breadcrumbs: #a29f9a;
$color_grey_light: #EFEFEF;
$color_grey_bg: #A7A7A7;
$color_grey_link: #939393;
$color_grey_border: #979797;
$color_grey_border2: #c7c7c7;
$color_grey_ranger: #e1e1e1;
$color_grey_ranger_value: #f7f7f7;
$color_grey_ranger_value_number: #4c4c4c;
$color_blue_1: #03a9ff;
$color_blue_1_hover: #51c1fb;
$color_blue_2: #00b2ff;
$color_red_error: #E62C6D;
$color_grey_1: #f6f6f6;
$color_grey_2: #eaeaea;
$color_grey_3: #969696;
$color_white: #FFFFFF;
$color_black: #000000;

// Fonts
$font_regular: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_light: 'Roboto_Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
$font_bold: 'Roboto_Bold', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
$font_italic: 'Roboto_Italic', 'Helvetica Neue Italic', Helvetica, Arial, sans-serif;
$font_medium: 'Roboto_Medium', 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;

// Shadows
$shadow_1: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, .1);