@import '../../../styles/variables';

$burger_menu_size: 7.5rem;

.container {
  background: $color_white;
  display: none;
  height: 6.9rem;
  padding: 1rem 2rem 0 2rem;
  position: absolute;
  right: -100%;
  transition: all 0.2s ease;
  width: 0;
  z-index: 11;

  &.isOpen {
    display: block;
    right: 0;
    width: calc(100% - #{$burger_menu_size});
    top: 0;
  }
}

.close {
  left: -1rem;
  position: relative;
  top: 1.4rem;

  svg {
    fill: $color_blue;
  }

  @media (min-width: 576px) {
    left: 0;
  }

}
