@import '../../styles/variables';

.container {
  display: flex;

  & .avatar {
    display: block;
    padding-top: 1rem;
  }

  & .signInButton, .signUpButton {
    display: none;
  }

  & .signInButton {
    margin-left: 2rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    border: solid 1px $color_grey_light;
    font-size: 14px;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      color: $color_white;
      background-color: $color_blue_hover;
      border: solid 1px $color_blue_hover;
    }
  }

  & .signUpButton {
    font-size: 14px;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      color: $color_blue;
    }
  }

  @media (min-width: 768px) {
    & .signInButton, .signUpButton {
      display: block;
    }
    .avatar {
      display: none;
    }
  }
}