@import "../../styles/variables";

.container {
  position: relative;
  flex: 0 0 auto;
  width: 170rem;
  margin: 0 auto;
 }

.navBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem;
  border-bottom: solid 1px rgba(239,239,239,.41);
}

.navBlockItem {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.navBlockItem + .navBlockItem {
  padding-left: 6rem;
}

.description {
  margin-top: 3rem;
  color: rgba(80,80,80,.43);
  font-size: 13px;
}

.navHeader {
  margin-bottom: 2rem;
  font-size: 16px;
  color: #000000;
}

.navItem {
  font-size: 14px;
  color: $color_grey_text;

  &:hover {
    text-decoration: underline;
  }
}

.infoBlock {
  padding: 3rem 4rem;
  text-align: center;
  border-bottom: solid 1px rgba(239,239,239,.41);
}

.address, .email {
  font-size: 13px;
  color: rgba(80,80,80,.43);
}

.email:hover {
  text-decoration: underline;
}

.aboutNavBlock {
  margin-top: 2rem;
}

.aboutNavItem {
  display: inline-block;
  padding: 0 3rem;
  line-height: 2rem;
}

.aboutNavItem + .aboutNavItem {
  border-left: 1px solid $color_grey_text;
}

.aboutNavItem a {
  font-size: 14px;
  color: $color_grey_text;

  &:hover {
    text-decoration: underline;
  }
}

.icons {
  margin-top: 2rem;

  & > * + * {
    margin-left: 2rem;
  }
}

.rightsBlock {
  padding: 3rem 4rem;
  font-size: 13px;
  color: rgba(80,80,80,.43);
  text-align: center;
}
