@import "../../styles/variables";

.container {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  max-width: 170rem;
  margin: 0 auto;
  padding-top: 5.625rem;
 }

.navBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5.75rem 0 6rem 4rem;
  border-bottom: solid 1px rgba(239, 239, 239, .41);
  flex-wrap: wrap;
}

.navBlockItem, .navBlockButton, .navBlockLogo {
  display: flex;
  flex-direction: column;
}

.navBlockLogo {
  align-items: flex-end;
  // width: 25%;
  padding-right: 5rem;
}

.navBlockItem {
  align-items: flex-start;
  // width: 20%;
}

.navBlockButton {
  align-items: flex-end;
  // width: 15%;
}

.description {
  color: rgba(80, 80, 80, .43);
  font-size: 13px;
  line-height: 20px;
  margin-top: 3rem;
  max-width: 24rem;
  text-align: right;
}

.navHeader {
  margin-bottom: 1rem;
  font-size: 16px;
  color: $color_grey_text;
}

.navItem {
  display: block;
  font-size: 14px;
  line-height: 3.5rem;
  color: $color_grey_text;

  &:hover {
    text-decoration: underline;
  }
}

.aboutNavItem + .aboutNavItem {
  border-left: 1px solid $color_grey_text;
}

.aboutNavItem a {
  font-size: 14px;
  color: $color_grey_text;

  &:hover {
    text-decoration: underline;
  }
}

.sectionColumns {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}

.rightsBlock {
  padding: 2rem;
  font-size: 13px;
  color: rgba(80,80,80,.43);
  text-align: center;
}

.footerTop {
  padding-bottom: 3.25rem;
}

@media (min-width: 576px) {
  .navBlockButton {
    align-items: center;
    justify-content: center;
  }

  .description {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .navBlockButton {
    align-items: center;
    justify-content: center;
    padding-top: 3.25rem;
  }

  .description {
    text-align: center;
    margin-bottom: 2rem;
  }
}