.container {
  display: none;

  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1rem;

    a {
      margin-left: 3rem;
    }
  }
}

.item {
  margin-left: 3rem;
}
