@import '../../styles/variables';

.container {
  background-color: $color_blue;
}

.text {
  color: $color_white;
  font-size: 12px;
  margin-left: 2rem;

  @media (max-width: #{$md - 1px}) {
    font-size: 10px;
  }
}

.body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170rem;
  width: 100%;
  margin: 0 auto;

  @media (max-width: #{$md - 1px}) {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.link {
  display: inline-block;
  margin-left: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem 2rem;
  color: $color_white;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 0.5rem;
  transition: $transition_all_ease;

  @media (max-width: #{$md - 1px}) {
    padding: 0.3rem 3rem;
    font-size: 14px;
    margin-left: 0;
    margin-top: 1rem;
  }

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
}

.cross {
  position: absolute;
  right: 2rem;
  top: 50%;
  margin-top: -2rem;
  padding: 1.5rem;
  cursor: pointer;

  @media (max-width: #{$md - 1px}) {
    top: 3rem;
  }

  &:hover {
    svg {
      opacity: 0.9;
    }
  }

  svg {
    fill: $color_white;
    opacity: 0.6;
    transition: $transition_all_ease;
  }
}
