@import '../../styles/variables';

.container {
  position: relative;
  width: 170rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  z-index: 2;
}

.top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
  a {
    margin-left: 3rem;
  }

}

.item {
  margin-left: 3rem;
}

.qaIcon {
  position: relative;
  top: 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.bottom {
  background-color: $color_white;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.searchInput {
  margin-left: 18rem;
  flex: 1;
}

.cartIcon {
  width: 4rem;
  margin-left: 1rem;
}

.authButtons {
  display: flex;

  & .signInButton {
    margin-left: 2rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    border: solid 1px rgba(151,151,151,.2);
    font-size: 14px;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    transition: $transition_all_ease;

    &:hover {
      color: $color_white;
      background-color: $color_blue_hover;
    }
  }

  & .signUpButton {
    font-size: 14px;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    transition: $transition_all_ease;

    &:hover {
      color: $color_blue;
    }
  }
}