@import '../../styles/variables';

$burger_menu_size: 7rem;

.container {
  border-bottom: 1px solid $color_grey_light;
  margin: 0 auto;
  max-width: 170rem;
  padding-bottom: 1.4rem;
  position: relative;
  width: 100%;
  //z-index: 2;

  @media (min-width: $lg) {
    border-bottom: none;
    padding-bottom: 0;
  }

  &.expanded {
    padding-bottom: 0;
  }

}

.withoutCategories {
  padding-bottom: 2rem;
}

.qaIcon {
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 0.5rem;
}

.burgerMenu {
  align-items: center;
  border-right: 1px solid $color_grey_light;
  display: flex;
  height: $burger_menu_size;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: $burger_menu_size;
  z-index: 10;

  @media (min-width: $lg) {
    display: none;
  }

}

.mobileCategories {
  padding-bottom: 2rem;
  position: relative;
  transition: padding-bottom 0.2s ease;
}
