@import '../../styles/variables';

.container {
  background-color: $color_blue;
  display: flex;
  justify-content: center;
}

.textWrap {
  color: $color_white;
  font-size: 12px;
  line-height: 2.5rem;
  padding: 0.5rem 0;
}

.text {
  margin-right: 1rem;
}

.body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170rem;
  width: 100%;
  margin: 0 auto;
  padding-right: 6rem;
  padding-left: 3rem;

  @media (max-width: #{$md - 1px}) {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.link {
  display: inline-block;
  color: $color_white;
  font-size: 12px;
  transition: $transition_all_ease;
  text-decoration: underline;
  font-weight: bold;
}

.cross {
  position: absolute;
  right: 0;
  top: 1.75rem;
  margin-top: -2rem;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  cursor: pointer;

  svg {
    fill: $color_white;
  }
}
