@import '../../styles/variables';

$burger_menu_size: 7.5rem;

.container {
  // border-bottom: 1px solid $color_grey_light;
  margin: 0 auto;
  max-width: 170rem;
  padding-bottom: 2rem;
  position: relative;
  transition: padding-bottom 0.2s ease;
  width: 100%;

  &.expand {
    padding-bottom: 0;
  }

}

.qaIcon {
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 0.5rem;
}

.headerBottom {
  background-color: $color_white;
  margin-top: 1.5rem;
}

.cartIcon {
  margin-left: 1rem;
  width: 4rem;
}

.searchIcon {
  display: block;
  margin-right: 2rem;
  padding-top: 1rem;

  @media (min-width: 992px) {
    display: none;
  }

}

.searchBar {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

}

.userData {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  padding-top: 1rem;
  @media (min-width: 992px) {
    padding-top: 0;
  }

  &.isUserLoggedIn {
    display: none;
    @media (min-width: 768px) {
      display: inherit;
    }
  }


}

.logoIcon {
  margin-left: calc(#{$burger_menu_size} + 1.875rem);
  width: 15rem;

  @media (min-width: 768px) {
    width: 24rem;
  }

  @media (min-width: 1200px) {
    margin-left: 0;
  }

}

.burgerMenu {
  align-items: center;
  border-right: 1px solid $color_grey_light;
  display: flex;
  height: $burger_menu_size;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: $burger_menu_size;
  z-index: 10;

  @media (min-width: 992px) {
    display: none;
  }

}

.mobileCategories {
  padding-bottom: 2rem;
  position: relative;
  transition: padding-bottom 0.2s ease;
}
