@import '../../styles/variables';

$burger_menu_size: 7.5rem;

.container {
  position: relative;
  width: 100%;
  max-width: 170rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.qaIcon {
  position: relative;
  top: 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.headerBottom {
  background-color: $color_white;
  margin-top: 1.5rem;
}

.cartIcon {
  width: 4rem;
  margin-left: 1rem;
}

.searchIcon {
  display: block;
  margin-right: 2rem;
  padding-top: 1rem;
  @media (min-width: 768px) {
    display: none;
  }
}

.searchBar {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}

.userData {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  padding-top: 1rem;
  @media (min-width: 992px) {
    padding-top: 0;
  }
}

.logoIcon {
  margin-left: calc(#{$burger-menu-size} + 1.875rem);
  max-width: 15rem;

  @media (min-width: 768px) {
    max-width: 24rem;
  }

  @media (min-width: 768px) {
    margin-left: 0;
  }

}

.burgerMenu {
  align-items: center;
  border-right: 1px solid $color_grey_light;
  display: flex;
  height: $burger-menu-size;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: $burger-menu-size;
  z-index: 10;

  @media (min-width: 992px) {
    display: none;
  }

}
