@import "../../styles/variables.scss";

.container {
  background-color: $color_grey_bg;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 2rem 0 4rem;
}

.isCategories {
  margin-top: 0;

  @media (min-width: 992px) {
    margin-top: 5rem;
  }

  & .wrap {
    margin-top: -5rem;
  }

}

.wrap {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 170rem;
  width: 100%;
}