doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' type='text/css' href='/styles.css')
  body
    div#root(style={height: '100%'})
      #{html}
    div#global-modal-root
    div#alerts-root(style={right: 0,top: 0,left: 0,position: 'fixed','z-index': 10000})
    script.
      window.__RELAY_PAYLOADS__ = !{relayPayloads}
      window.__PRELOADED_STATE__= !{reduxState}
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDZFEQohOpK4QNELXiXw50DawOyoSgovTs&libraries=places&language=en' type='text/javascript')
    script(src='/static/js/bundle.js')
    