@import "../../styles/variables.scss";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.wrap {
  background-color: $color_white;
  border-radius: 0.5rem;
  position: relative;
  width: calc(30rem);
  @media (min-width: $md) {
    width: 42rem;
  }
}

.signUp {
  position: relative;
}

.signUpGroup {
  align-items: flex-start;
  display: flex;
  margin: 4rem 0 2rem;
  justify-content: space-between;
}

.signIn {
  position: relative;
}

.signInGroup {
  margin: 4rem 0 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.signInCheckbox {
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 14px;
  text-align: left;
  width: 50%;
}

.signInButton {
  width: 100%;

  & > * {
    width: 100%;
  }
}

.inputBlock {
  position: relative;
  margin-bottom: 4rem;

  &.userPassword {
    margin-bottom: 2rem;
  }
}

.forgotPassword {
  font-size: 14px;
  margin-bottom: 1rem;
  text-align: right;
  span {
    cursor: pointer;
  }
}

.separatorBlock {
  margin-bottom: 2rem;
}

.firstButtonBlock {
  margin-bottom: 2rem;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,.7);
  z-index: 2;
}

.recoverPasswordButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $md) {
    flex-direction: row;
  }
  button:first-child {
    margin-bottom: 2rem;
    margin-right: 0;
    @media (min-width: $md) {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
  button {
    width: 100%;
  }
}
