@import "../../styles/variables.scss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  background-color: $color_white;
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  @media (min-width: $md) {
    width: 42rem;
  }
}

.signUp {
  position: relative;
}

.signUpGroup {
  align-items: flex-start;
  display: flex;
  margin: 4rem 0 2rem;
  justify-content: space-between;
}

.signUpButton {
  width: 16rem;
}

.signIn {
  position: relative;
}

.signInGroup {
  margin: 4rem 0 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.signInCheckbox {
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 14px;
  text-align: left;
  width: 50%;
}

.signInButton {
  width: 100%;

  & > * {
    width: 100%;
  }
}

.policy {
  margin-left: 1rem;
  color: $color_grey_minor;
  font-size: 10px;
  line-height: 1.75rem;
  text-align: left;
}

.link {
  color: $color_grey;
}

.inputBlock {
  position: relative;
  margin-bottom: 4rem;

  &.userPassword {
    margin-bottom: 2rem;
  }
}

.forgotPassword {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 1rem;
  text-align: right;
}

.separatorBlock {
  margin-bottom: 2rem;
}

.firstButtonBlock {
  margin-bottom: 2rem;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,.7);
  z-index: 2;
}