@import "../../styles/variables";

.input {
  position: relative;
}

.input input {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $color_grey_bg;
  font-size: 14px;
  line-height: 3rem;
  text-align: left;
  background-color: transparent;
}

.validity input {
  border-bottom: 1px solid $color_green;
}

.isError input {
  border-bottom: 1px solid $color_red_error;
}

.input hr {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid $color_grey_bg;
  transform: scaleX(0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.isFocus hr {
  transform: scaleX(1);
}

.isFocus.isError hr {
  border: 1px solid $color_red_error;
  transform: scaleX(1);
}

.isError.isFocus .labelFloat {
  color: $color_red_error;
}

.validInput {
  border-bottom: 1px solid $color_green;
}

.invalidInput {
  border-bottom: 1px solid #FD7DAA;
}

.label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  color: $color_grey_bg;
  font-size: 14px;
  line-height: 2rem;
  white-space: nowrap;
  transform: scale(1) translate(0, 0);
  transform-origin: left top 0;
  transition: all .3s ease;
}

.labelFloat {
  transform: scale(0.75) translate(0, -3.5rem);
  transform-origin: left top 0;
}

.message {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #FF62A4;
  font-size: 10px;
  line-height: 16px;
}

.errors {
  position: relative;
  margin-top: 4px;
  color: #FF62A4;
  font-size: 10px;
  text-align: left;
}