@import "../../styles/variables.scss";

.policy {
  color: $color_grey_minor;
  font-size: 10px;
  line-height: 1.75rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.policyText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.link {
  color: $color_grey;
}

.checkbox {
  display: inline-block;
}