@import '../../styles/variables';

.container {
  position: relative;
}

.wrapper {
  display: inline-block;
  max-width: 100%;
}

.menuContainer {
  position: absolute;
  z-index: 9999;
  top: 4.5rem;
  left: 0;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: $color-white;
  box-shadow: 0 0.35rem 3rem 0 rgba(0, 0, 0, 0.05);
  width: 80rem;
  max-width: 100%;

  @media (max-width: #{$lg - 1px}) {
    width: auto;
  }
}

.levelWrapper {
  display: flex;
  flex-direction: row;

  @media (max-width: #{$lg - 1px}) {
    flex-direction: column;
  }
}

.label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  color: $color_grey_minor;
  font-size: 14px;
  line-height: 2rem;
  white-space: nowrap;
  transform: scale(0.9) translate(0, -3rem);
  transform-origin: left top 0;
}

.breadcrumbsWrapper {
  //display: inline-block;
}

.breadcrumbs {
  display: inline-block;
  width: 100%;
  // min-width: 28rem;
  color: $color_blue;
  font-size: 1.75rem;
  cursor: pointer;
  border-bottom: 1px dashed $color_blue;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue_hover;
    border-bottom: 1px dashed $color_blue_hover;
  }

  .breadcrumbsContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.onlyView {
    border-bottom: 0;
    color: $color_blue_hover;
    cursor: default;
  }

  @media (min-width: $md) {
    // min-width: 41rem;
  }
}

.level {
  flex: 1;

  & + .level {
    margin-left: 4rem;

    @media (max-width: #{$lg - 1px}) {
      margin-left: 0;

      .levelLabel {
        margin-top: 2rem;
      }
    }
  }
}

.levelLabel {
  font-size: 12px;
  color: $color_grey_minor;
  white-space: nowrap;
}

.items {
  background-color: bisque;
}

.hidden {
  display: none;
}

.itemWrap {
  & + .itemWrap {
    margin-top: 1rem;
  }
}

.item {
  font-size: 14px;
  line-height: 2.5rem;
  color: $color_grey;
  cursor: pointer;
  white-space: nowrap;
}

.selectedItem {
  color: $color_blue;
}
