@import "../../styles/variables";

.wrapper {
  position: relative;
}

.menuContainer {
  position: absolute;
  z-index: 1;
  top: 6.5rem;
  left: 0;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: $color-white;
  box-shadow: 0 0.35rem 3rem 0 rgba(0, 0, 0, 0.05);
  width: 77.5rem;
}

.label {
  font-size: 1.5rem;
  color: $color_grey_bg;
}

.breadcrumbs {
  display: inline-block;
  color: $color_primary;
  font-size: 1.75rem;
  cursor: pointer;
  border-bottom: 1px dashed $color_primary;
}

.levelWrapper {
  display: flex;
  flex-direction: row;
}

.level {
  flex: 1;
}

.item {
  font-size: 1.75rem;
  color: $color_grey_text;
  cursor: pointer;
}

.selectedItem {
  color: $color_primary;
}