@import '../../styles/variables.scss';

.container {
  margin-bottom: 22.625rem;
}

.title {
  font-family: $font_montserrat_extra_bold;
  font-size: 28px;
  color: $color_royal;
  max-width: 100%;
  line-height: normal;
  margin-bottom: 6.625rem;
  text-transform: uppercase;
  @media (min-width: $md) {
    font-size: 36px;
  }
  @media (min-width: $lg) {
    max-width: 72rem;
  }
}

.subtitle {
  font-family: $font_montserrat_medium;
  color: $color_royal;
  font-size: 20px;
  line-height: 1.6;
  max-width: 46rem;
  margin-bottom: 8.625rem;
}

.imageContainer {
  overflow: hidden;
  padding-top: 5rem;
  img {
    height: 100%;
    margin-left: 2rem;
    object-fit: cover;
    width: 80%;
    @media (min-width: $md) {
      margin-left: 0rem;
      width: 125%;
    }
  }
}

.item {
  margin-bottom: 8rem;
  max-width: 100%;
  @media (min-width: $lg) {
    max-width: 49.75rem;
  }
}

.itemTitle {
  font-family: $font_montserrat_extra_bold;
  color: $color_blue;
  font-size: 28px;
  margin-bottom: 3.125rem;
  line-height: normal;
}

.itemText {
  font-family: $font_montserrat_regular;
  color: $color_grey_royal;
  font-size: 20px;
  line-height: 1.6;
}
