@import '../../styles/variables.scss';

.container {
  cursor: pointer;
  font-size: 28px;
  font-family: $font_circe_extra_bold;
  width: 100%;
  height: 65px;
  border-radius: 10px;
  background-image: linear-gradient(to left, #ff0084, #4cb1f9 99%), linear-gradient(#4cb1f9, #4cb1f9);
  color: $color_white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}