@import '../../styles/variables.scss';

.container {
  margin-bottom: 9.75rem;
  @media (min-width: $md) {
    margin-bottom: 20.5rem;
  }
}

.title {
  font-family: $font_circe_extra_bold;
  font-size: 40px;
  color: $color_royal;
  max-width: 52rem;
  line-height: normal;
  margin-bottom: 8rem;
}

.subtitle {
  font-family: $font_circe_regular;
  color: $color_royal;
  font-size: 23px;
  line-height: 1.39;
  max-width: 56rem;
  margin-bottom: 6rem;
}

.imageContainer {
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-bottom: 8rem;
  margin-right: 0;
  @media (min-width: $md) {
    margin-right: 6.625rem;
  }
}

.itemTitle {
  font-family: $font_circe_extra_bold;
  color: $color_blue;
  font-size: 32px;
  margin-bottom: 4rem;
  line-height: normal;
}

.itemText {
  font-family: $font_circe_regular;
  color: $color_grey_royal;
  font-size: 23px;
  line-height: 1.39;
}
