@import '../../styles/variables.scss';

.container {
  margin-bottom: 20.5rem;
}

.title {
  font-family: $font_regular;
  font-size: 40px;
  color: $color_royal;
  max-width: 52rem;
  line-height: normal;
  margin-bottom: 8rem;
  text-transform: uppercase;
}

.subtitle {
  color: $color_royal;
  font-size: 23px;
  line-height: 1.39;
  max-width: 56rem;
  margin-bottom: 6rem;
}

.imageContainer {
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.item {
  height: 74rem;
  background: #f7f7f7;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 0 0;
  width: 39.625rem;
}

.itemTitle {
  color: $color_royal;
  font-size: 32px;
  margin-bottom: 6.375rem;
  position: relative;
}

.itemSubtitle {
  margin-top: 4.375rem;
  margin-bottom: 3.875rem;
  color: $color_grey_royal;
  font-size: 23px;
  max-width: 18rem;
  text-align: center;
  line-height: normal;
}

.planBadge {
  display: flex;
  .stq {
    color: $color_royal;
    font-size: 32px;
    line-height: normal;
    font-weight: 800;
  }
  .price {
    color: $color_royal;
    font-size: 18px;
  }
  .number {
    color: $color_blue;
    font-size: 110px;
    line-height: 90px;
    font-weight: 800;
  }
}

.detail {
  color: $color_grey_royal;
  line-height: 1.35;
  font-size: 17px;
}

.hit {
  position: absolute;
  top: -2.4rem;
  width: 4rem;
  right: 0rem;
}

.bestChoice {
  position: absolute;
  top: -3rem;
  width: 12rem;
  right: -5rem;
}
