@import '../../styles/variables.scss';

.container {
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 0%;
  right: 0;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.title {
  font-family: $font_circe_extra_bold;
  font-size: 63px;
  color: $color_blue;
  max-width: 72rem;
  line-height: 0.95;

  &.royal {
    color: $color_royal;
    margin-bottom: 8rem;
  }
}

.titleSpacer {
  height: 2px;
  background: $color_blue;
  width: 21.25rem;
  margin: 4rem 0;
}

.subtitle {
  color: $color_royal;
  font-family: $font_circe_regular;
  font-size: 23px;
  line-height: 1.39;
  max-width: 46rem;
  margin-bottom: 6rem;
}

.button  {
  margin: 0 auto 0 0;
  margin-bottom: 31.75rem;
  width: 38.25rem;
}
