@import '../../styles/variables.scss';

.container {
  margin-bottom: 22.625rem;
}

.title {
  font-family: $font_circe_extra_bold;
  font-size: 40px;
  color: $color_royal;
  max-width: 72rem;
  line-height: normal;
  margin-bottom: 6.625rem;
  text-transform: uppercase;
}

.subtitle {
  font-family: $font_circe_regular;
  color: $color_royal;
  font-size: 23px;
  line-height: 1.39;
  max-width: 46rem;
  margin-bottom: 8.625rem;
}

.imageContainer {
  overflow: hidden;
  padding-top: 5rem;
  img {
    height: 100%;
    margin-left: 14rem;
    object-fit: cover;
    width: 125%;
  }
}

.item {
  margin-bottom: 8rem;
  max-width: 100%;
  @media (min-width: $lg) {
    max-width: 49.75rem;
  }
}

.itemTitle {
  font-family: $font_circe_extra_bold;
  color: $color_blue;
  font-size: 32px;
  margin-bottom: 3.125rem;
  line-height: normal;
}

.itemText {
  font-family: $font_circe_regular;
  color: $color_grey_royal;
  font-size: 23px;
  line-height: 1.39;
}
