@import '../../styles/variables.scss';

.container {
  margin: 3rem auto;
  max-width: 170rem;
  padding-bottom: 1.4rem;
  position: relative;
  width: 100%;

  @media (min-width: $md) {
    margin: 6.75rem auto;
  }
}

.logoIcon {
  width: 14rem;
  @media (min-width: $md) {
    width: 19rem;
  }
  @media (min-width: $lg) {
    margin-left: 0;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 1.2rem;
  @media (min-width: $md) {
    padding-top: 0.8rem;
  }
  @media (min-width: $lg) {
    padding-top: 0;
  }
}