@import '../../styles/variables.scss';

.container {
  background: none;
  background-position: initial;
  width: 100%;
  padding: 0 1rem;
  @media (min-width: $lg) {
    background: url('./img/storiqa-start-selling-heading.png');
    background-position: 90rem -30rem;
    background-repeat: no-repeat;
    background-size: 80%;
  }
  @media (min-width: $xl) {
    padding: 0;
    background: url('./img/storiqa-start-selling-heading.png');
    background-position: 90rem -30rem;
    background-repeat: no-repeat;
    background-size: initial;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 170rem;
  position: relative;
  width: 100%;
}