@import '../../styles/variables.scss';

.container {
  margin-bottom: 9.75rem;
  @media (min-width: $md) {
    margin-bottom: 17.75rem;
  }
}

.title {
  font-family: $font_circe_extra_bold;
  font-size: 40px;
  color: $color_royal;
  max-width: 63rem;
  line-height: normal;
  margin-bottom: 5.125rem;
}

.subtitle {
  font-family: $font_circe_regular;
  color: $color_royal;
  font-size: 23px;
  line-height: 1.39;
  max-width: 46rem;
  margin-bottom: 6rem;
}

.imageContainer {
  margin-top: 6rem;
  @media (min-width: $md) {
    margin-top: 0;
  }
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    @media (min-width: $md) {
      width: 120%;
    }
  }
}

.parragraphs {
  font-family: $font_circe_regular;
  font-size: 23px;
  line-height: 1.39;
  color: $color_grey_royal;
  p:first-child {
    margin-bottom: 6rem;
  }
}