@import '../../styles/variables.scss';

.icon {
  background-color: $color_grey_bg;
  margin-right: 2rem;
}

.text {
  color: $color_grey_minor;
  font-size: 1.75rem;
  position: relative;
}

.header {
  display: flex;
  cursor: pointer;
}

.on {
  transform: rotate(-180deg);
  transition: $transition_all_ease;
}

.off {
  transform: rotate(0deg);
  transition: $transition_all_ease;
}

.content {
  // overflow: hidden; !!!
  transition: $transition_all_ease;
}
