.container {
  position: absolute;
  top: -16px;
  right: 0;
  cursor: pointer;
}

small {
  display: inline-block;
  margin-left: 2px;
  color: #939393;
  font-size: 10px;
}

small.show {
  color: #2FBAFD;
}
