@import "../../../../../styles/variables";

.container {
  margin-top: 2rem;
  padding: 2rem;
  background-color: $color_white;
}

.title {
  margin-bottom: 2rem;
  font-size: 16px;
  color: $color_grey_text;
}
