@import "../../../styles/variables";

.container {
  display: flex;
  align-items: stretch;
}

.storeLogo {
  position: relative;
  background-color: $color_grey_trivial;
  display: flex;
  height: 10rem;
  width: 10rem;

  & .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2rem 0 0 -2rem;
  }

  & img {
    display: block;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
}

.storeInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  padding-right: 3rem;
}

.storeName {
  color: $color_black;
  font-size: 17px;
}

.storeAdd {
  display: none;
  margin-top: 1rem;
  color: $color_grey_minor;
  font-size: 16px;

  & .productsCount {
    display: inline-block;
    margin-left: 2rem;
  }
}