@import "../../../../../styles/variables";

.container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 2.5rem;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.items {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.item {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.item + .item {
  margin-left: 4rem;
}

.characteristicImg {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}

.characteristicSelect {
  width: 100%;
  margin-top: 1.5rem;
}

.remove {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(239,239,239,.9);
  transition: $transition_all_ease;
  cursor: pointer;

  svg {
    fill: $color_grey_minor;
  }

  &:hover {
    opacity: 1;
  }
}
