@import '../../../../styles/variables';

.container {
  align-items: initial;
  display: flex;

  @media (min-width: $md) {
    align-items: baseline;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

[class*='Select__forForm'] {
  width: 100% !important;
}