.container {
   display: flex;
   align-items: baseline;
}

.inputsWrapper {
  display: none;
  justify-content: space-between;
  align-items: baseline;

  @media (min-width: 992px) {
    display: flex;
  }

}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
