@import '../../../../styles/variables';

.container {
  color: $color_grey_minor;
  display: flex;
  line-height: 2.5rem;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.border {
  background-color: #efefef;
  height: 0.125rem;
  position: absolute;
  bottom: -2rem;
  left: -4rem;
  right: -4rem;
}
