@import "../../../../../../styles/variables";

.container {
  background-color: $color_white;
  margin: 2rem -4rem -4rem;
  overflow: hidden;
  padding: 4rem 0 2rem;
  @media (min-width: $md) {
    // margin: 2rem -4rem 0;
    // padding: 4rem 4rem 2rem;
    overflow: initial;
  }
}

.title {
  margin-bottom: 4rem;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
