@import "../../../../../../styles/variables";

.container {
  margin: 2rem -2rem 0;
  padding: 4rem 4rem 2rem;
  background-color: $color_white;
}

.title {
  margin-bottom: 4rem;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
