@import '../../../styles/variables';

$burger_menu_size: 7rem;

.container {
  border-bottom: 1px solid $color_grey_light;
  margin: 0 auto;
  max-width: 170rem;
  padding-bottom: 1.4rem;
  position: relative;
  width: 100%;

  @media (min-width: $lg) {
    border-bottom: none;
    padding-bottom: 0;
  }

  @media (max-width: #{$lg - 1px}) {
    margin-top: 3rem;
    border-top: 1px solid $color_grey_light;
  }

  &.expanded {
    padding-bottom: 0;
  }

}

.withoutCategories {
  padding-bottom: 2rem;
}

.qaIcon {
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 0.5rem;
}

.burgerMenu {
  align-items: center;
  border-right: 1px solid $color_grey_light;
  display: flex;
  height: $burger_menu_size;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: $burger_menu_size;
  z-index: 10;

  @media (min-width: $lg) {
    display: none;
  }

}

.mobileCategories {
  padding-bottom: 2rem;
  position: relative;
  transition: padding-bottom 0.2s ease;
}

.searchItems {
  position: absolute;
  background-color: $color_white;
  z-index: 20;
  width: 100%;
  background-color: $color_white;
  padding: 1rem;
  top: 100%;
  margin-top: 1px;

  .searchItem {
    font-size: 14px;
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0 1rem;
    background-color: transparent;
    transition: $transition_all_ease;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      color: $color_blue;
    }
  }
}