@import '../../../../styles/variables.scss';

.container {

}

.title {
  margin-bottom: 2rem;
  font-size: 14px;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  //border-top: 1px solid $color_grey_trivial;
  //border-bottom: 1px solid $color_grey_trivial;
  //margin: 0 -4rem;
  //padding: 4rem;
}

.sendButtonWrapper {
  margin-right: 2.5rem;
}

.sendButtonWrapper,
.cancelButtonWrapper {
  width: 28.25rem;

  button {
    width: 100%;
  }
}

.sendOrderModal {
  width: 82rem;
  height: 74rem;
  background-color: white;
  padding: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-family: $font_light !important;
    font-size: 36px;
    text-align: center;
    color: $color_grey;
    line-height: normal;
  }
  .description {
    color: $color_grey_minor;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    margin-top: 4rem;
  }
  .inputWrapperTrackId {
    width: 47.5rem;
    margin-top: 6rem;
  }
  .inputWrapperComment {
    width: 47.5rem;
    margin-top: 2rem;
  }
  .sendOrderButtonWrapper {
    width: 28.25rem;
    margin-top: 7.75rem;
    button {
      width: 100%;
    }
  }
}

.orderFee {
  margin-top: 6rem;

  &.alone {
    margin-top: 0;
  }

  .desc {
    margin-bottom: 2rem;

    .label {
      color: $color_grey_minor;
      font-size: 14px;
      line-height: 1.43;
    }
    .text {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}

.infoBlockItem {
  margin-top: 2rem;

  @media (max-width: #{$lg - 1px}) {
    & > div > div + div {
      margin-top: 2rem;
    }
  }
}