@import '../../../../../../../styles/variables';

.container {
  margin-bottom: 8.5rem;
}

.upload {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  vertical-align: bottom;
}

.title {
  margin-bottom: 2.5rem;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.items {
  display: inline-block;
  vertical-align: bottom;
}

.item {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden;
}

.itemWrap {
  display: flex;
  justify-content: center;
  height: 10rem;

  & > img {
    height: 100%;
  }
}

.labelSmall {
  font-family: Roboto;
  color: $color_grey_minor;
  font-size: 12px;
}
