@import "../../../styles/variables";

.container {
  position: relative;
}

.items {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 0.25rem;
  background-color: $color-white;
  box-shadow: $shadow_1;
  overflow: hidden;
  cursor: default;
  z-index: 3;
}

.itemsWrap {
  position: relative;
  overflow-y: auto;
  max-height: 20rem;
}

.itemsWrap::-webkit-scrollbar {
  width: 0.5rem;
}

.itemsWrap::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background-color: $color_grey_light;
}

.itemsWrap::-webkit-scrollbar-track {
  background: transparent;
}

.item {
  font-size: 12px;
  padding: 0.25rem 1rem;
  text-align: left;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue;
  }
}

.isHighlighted {
  color: $color_blue;
}