.Icon {
  display: inline-block;
  width: 16px;
  height: 16px;

  svg {
    width: 16px;
    height: 16px;
  }

  &.size-32 {
    width: 32px;
    height: 32px;

    & svg {
      width: 32px;
      height: 32px;
    }
  }
}