@import '../../../../styles/variables';

.container {
  color: $color_grey;
  cursor: pointer;
  margin-left: -4rem;
  margin-right: -4rem;
  padding: 3rem 0;
  position: relative;

  &:before {
    background-color: transparent;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: $transition_all_ease;
    width: 2px;
  }

  &:hover {
    &:before {
      background-color: $color_blue_hover;
    }
  }

  @media (min-width: $md) {
    margin-left: -4rem;
    margin-right: -4rem;
  }

}

.rowWrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0 4rem;
  & > div[class*="Col_"] {
    margin-right: 0;
    @media (min-width: $xl) {
      margin-right: 3rem;
    }
  }
}

.link {
  color: $color_blue !important;

  a[href] {
    color: $color_blue !important;
    font-size: 2rem;
    transition: $transition_all_ease;

    &:hover {
      color: $color_blue_hover !important;
    }
  }
}

.border {
  background-color: #efefef;
  bottom: 0;
  height: 0.125rem;
  left: 0;
  position: absolute;
  right: 0;
}

.date {
  display: none;
  width: 12.25rem;
  @media (min-width: $xl) {
    display: inline-block;
  }
}

.dateFormatted {
  display: inline-block;
  @media (min-width: #{$xl - 2}) {
    display: none;
  }
}

.price {
  width: 12.25rem;
}

.paid {
  color: $color_green;
}

.unpaid {
  color: $color_pink;
}

.noLink {
  color: $color_grey;
}
