@import "../../../styles/variables";

.container {
  position: relative;
}

.light {
  position: absolute;
  top: 0.5rem;
  right: 0;
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 12px;
  line-height: 2rem;
  color: $color_white;

  &.green {
    background-color: $color_green;
  }

  &.red {
    background-color: $color_red;
  }
}

.domen {
  position: absolute;
  top: 0.5rem;
  right: -1.5rem;

  & > span {
    position: absolute;
    top: 0;
    left: 0;
    color: $color_blue;
    white-space: nowrap;
  }
}

.hint {
  position: absolute;
  bottom: -3rem;
  font-size: 10px;
  color: $color_green;

  &.green {
    color: $color_green;
  }

  &.red {
    color: $color_red;
  }
}

