@import "../../../styles/variables";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color_green;
  z-index: 10000;
  box-shadow: $shadow_3;
}

.isError {
  background-color: $color_red;
}

.wrap {
  width: 170rem;
  height: 8rem;
  margin: 0 auto;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.icon {
  display: block;
  width: 3rem;
  height: 5.5rem;
  margin-right: 2rem;
}

.text {
  width: 100%;
  color: $color_white;
}

.cross {
  margin-left: 2rem;
  cursor: pointer;
}