@import "../../../../styles/variables";

.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: scroll;
  padding: 13rem 0 26rem 0;

  .modal {
    display: flex;
    justify-content: center;

    .modalContent {
      position: relative;

      .closeButton {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        cursor: pointer;
      }
    }
  }
}
