@import "../../../../styles/variables";

.view {
  width: 100%;

  .productItem {
    display: inline-block;
    vertical-align: middle;
    height: 40rem;
    width: 40rem;

    .productContent {
      position: relative;
      height: 100%;
    }

    &.uploaderItem {
      padding: 1rem;

      &:hover {
        cursor: pointer;
      }

      & .productContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color_grey_trivial;
        border-radius: 0.5rem;
      }
    }

    &.cardItem {
      &:hover {
        .productContent {
          & .layer {
            opacity: .9;
          }
        }
      }
    }

    .buttonLabel {
      text-align: center;
      font-size: 14px;
      line-height: 2rem;
      margin-top: 0.5rem;
      color: $color_grey_minor;
    }

    .layer {
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      background-color: $color_grey_trivial;
      z-index: 5;
      transition: $transition_all_ease;

      & .editbutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        & + .editbutton {
          margin-left: 3rem;
        }

        & svg {
          fill: $color_grey_minor;
        }
      }
    }
  }
}

.firstUploaderItem {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 30rem;

  .firstUploaderItemWrapper {
    width: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    & svg {
      fill: $color_grey_minor;
    }
  }

  .text {
    margin-top: 1rem;
    color: $color_grey_minor;
    text-align: center;
  }

  .button {
    margin-top: 3rem;
  }

}

.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: scroll;
  padding: 13rem 0 26rem 0;

  .modal {
    display: flex;
    justify-content: center;

    .modalContent {
      position: relative;

      .closeButton {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        cursor: pointer;
      }
    }
  }
}
