@import "../../styles/variables.scss";

.container {
  font-family: $font_medium;
  position: relative;
  display: block;
  min-width: 2rem;
  height: 2rem;
  padding: 0 0.5rem;
  text-align: center;
  color: $color_white;
  font-size: 11px;
  line-height: 2.25rem;
  border-radius: 2px;
  background-color: $color_blue;
  letter-spacing: normal;
}

.blue {
  background-color: $color_blue;
}

.green {
  background-color: $color_green;
}