@import "../../styles/variables.scss";

.container {
  font-family: $font_medium;
  position: relative;
  display: inline-block;
  min-width: 16px;
  height: 16px;
  padding: 0 5px 1px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  border-radius: 2px;
  background-color: $color_primary;
}

.blue {
  background-color: $color_primary;
}

.green {
  background-color: #7DC74E;
}