@import "../../styles/variables";

.container {
  font-family: $font_regular;
  color: $color_grey;
  display: flex;
  padding-top: 0.375rem;

  @media (min-width: 992px) {
    padding-top: 0;
  }

}

.searchCategorySelect {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: none;
  height: 4rem;
  position: relative;
  width: 14rem;

  @media (min-width: 992px) {
    border: 1px solid $color_grey_minor;
    border-right: none;
  }

}

.highlighted {
  background-color: $color_grey_trivial;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  flex: 1;
}

.searchInput {
  width: 54rem;
}

.input {
  font-family: $font_regular;
  font-size: 14px;
  color: $color_grey;
  height: 4rem;
  width: 100%;
  border: none;
  border-left: 0;
  padding-left: 1.5rem;

  @media (min-width: 992px) {
    border: 1px solid $color_grey_minor;
  }

}

.input::-webkit-input-placeholder {color: $color_grey; opacity: 0.4;}
.input::-moz-placeholder {color: $color_grey; opacity: 0.4;}
.input:-ms-input-placeholder {color: $color_grey; opacity: 0.4;}
.input:-moz-placeholder {color: $color_grey; opacity: 0.4;}

.searchButton {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 1px solid $color_blue;
  display: none;
  height: 4rem;
  margin-left: -1px;
  transition: $transition_all_ease;
  width: 14rem;

  &:hover {
    background-color: $color_blue;
  }

  & svg {
    transition: $transition_all_ease;
  }

  &:hover svg {
    fill: $color_white;
  }

  @media (min-width: 992px) {
    display: block;
  }

}

.searchButtonIcon {
  height: 2rem;
  width: 2rem;
}

.searchMenuItem {
  height: 3rem;
}
