@import "../../styles/variables";

.container {
  font-family: $font_regular;
  color: $color_grey;
  display: flex;
}

.searchCategorySelect {
  position: relative;
  height: 4rem;
  width: 14rem;
  border: 1px solid $color_grey_minor;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.highlighted {
  background-color: $color_grey_trivial;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  flex: 1;
}

.searchInput {
  width: 54rem;
}

.input {
  font-family: $font_regular;
  font-size: 14px;
  color: $color_grey;
  height: 4rem;
  width: 100%;
  border: 1px solid $color_grey_minor;
  border-left: 0;
  padding-left: 1.5rem;
}

.input::-webkit-input-placeholder {color: $color_grey; opacity: 0.4;}
.input::-moz-placeholder {color: $color_grey; opacity: 0.4;}
.input:-ms-input-placeholder {color: $color_grey; opacity: 0.4;}
.input:-moz-placeholder {color: $color_grey; opacity: 0.4;}

.searchButton {
  height: 4rem;
  width: 14rem;
  margin-left: -1px;
  border: 1px solid $color_blue;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: $transition_all_ease;

  &:hover {
    background-color: $color_blue;
  }

  & svg {transition: $transition_all_ease;}
  &:hover svg {fill: $color_white;}
}

.searchButtonIcon {
  height: 2rem;
  width: 2rem;
}

.searchMenuItem {
  height: 3rem;
}
