@import "../../styles/variables";

.container {
  font-family: $font_regular;
  color: #505050;
  display: flex;
}

.searchCategorySelect {
  position: relative;
  height: 4rem;
  width: 14rem;
  border-top: 1px solid #BFBFBF;
  border-left: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  border-right: 1px solid #e2e2e2; // TODO: optimize
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.highlighted {
  background-color: #F7F7F7;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  flex: 1;
}

.searchInput {
  width: 54rem;
}

.input {
  font-family: $font_regular;
  font-size: 14px;
  color: $color_grey_text;
  height: 4rem;
  width: 100%;
  border-left: 0;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  padding-left: 1.5rem;
}

.searchButton {
  height: 4rem;
  width: 14rem;
  margin-left: -1px;
  border: 1px solid $color_primary;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.searchButtonIcon {
  height: 2rem;
  width: 2rem;
}

.searchMenuItem {
  height: 3rem;
}
