@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.upoloadContainer {
  padding-bottom: 2rem;
  margin-right: 2rem;

  &.noIndents {
    padding-bottom: 0;
    margin-right: 0;
  }
}

.uploadButton {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color_grey_light;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttonLabel {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.4rem;
  color: $color_grey_bg;
}

.childrenConainer {
  height: 100%;
  flex: 1;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 2rem;
}

.upoloadChildren {
  //
}

.overPictureWrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;

  & > img {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
  }
}

.overPicture {
  //
}