@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.square {
  position: relative;
  padding-top: 100%;

  .uploadContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .childrenConainer {
    display: none;
  }
}

.uploadContainer {
  width: 100%;
  &.noIndents {
    padding-bottom: 0;
    margin-right: 0;
  }
}

.uploadIndicator {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;

  & .spinner {
    opacity: 1;
    border: 1px solid transparent;
    border-top: 1px solid $color_white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
    z-index: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.uploadButton {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color_grey_trivial;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttonLabel {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.4rem;
  color: $color_grey_minor;
}

.childrenConainer {
  height: 100%;
  flex: 1;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 2rem;
}

.upoloadChildren {
  //
}

.overPictureWrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  //&:hover > .overlay {
  //  display: block;
  //}
  & > img {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 100%;
    object-fit: cover;
  }
}

.delete {
  background: $color_white;
  border-radius: 50%;
  border: 1px solid $color_grey_minor;
  svg {
    fill: $color_grey_minor;
  }
}

.overPicture {
  //
}

.overlay {
  background: $overlay_black;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fullWidth {
  width: 100%;
}
