@import "../../../styles/variables.scss";

.infoContent {
  background-color: $color_grey_trivial;
  padding: 2rem 3rem;
  margin-top: 2rem;
  color: $color_grey_minor;
  line-height: 1.25;

  .name {
    margin-top: 1rem;
    color: $color_grey;
  }

  .email {
    font-style: italic;
  }
}