@import "../../../styles/variables.scss";

.infoContent {
  background-color: $color_grey_trivial;
  padding: 2rem 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: $color_grey_minor;
  line-height: 1.25;

  .wrapper {
    margin-bottom: 2rem;
  }

  .label {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .name {
    color: $color_grey;
  }

  .email {
    font-style: italic;
  }

  .address {
    // margin-bottom: 2rem;
  }
}