@import "../../../styles/variables.scss";

.container {
  background-color: $color_white;

  .title {
    text-transform: uppercase;
    font-family: $font_medium;
    font-size: 1.75rem;
  }

  .receiverContainer {
    margin-top: 2rem;

    .label {
      font-size: 1.75rem;
      color: $color_grey_minor;
    }
  }

  .selectAddressContainer {
    padding-top: 2rem;
    margin-bottom: 4rem;

    .selectWrapper {
      margin-top: 1rem;
      padding-left: 3rem;
      color: $color_grey_minor;
      font-size: 1.75rem;
    }
  }
  .newAddressForm {
    
  }
}
