@import '../../../../styles/variables';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 3rem;
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.selectsWrapper {
  display: flex;

  @media (max-width: #{$xl - 1px}) {
    display: block;
    max-width: 42rem;
  }
}

.chooseCountry {
  position: relative;
  flex: 0.5;

  .select {
    width: 100%;
  }
}

.chooseDeliveryCompany {
  flex: 0.5;
  margin-left: 2rem;

  @media (max-width: #{$xl - 1px}) {
    margin-left: 0;
  }
}

.deliveryCompanyItem {
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  cursor: pointer;

  .companyNameRow {
    //display: flex;

    .checkedIcon {
      position: absolute;
      left: 0.5rem;
      top: 2.25rem;

      &.hidden {
        visibility: hidden;
      }
    }

    .companyNameWrap {
      position: relative;
      margin-left: 1rem;

      .selected {
        color: $color_blue !important;
      }

      .companyName {
        line-height: 3.25rem;
        height: 3.25rem;
        font-size: 14px;
        font-weight: 500;
        color: $color_grey;
        width: calc(100% - 1px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .price {
        font-size: 14px;
        line-height: 2rem;
        color: $color_grey;
      }
    }
  }
}

.selectDelivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24rem;
  margin-top: 1rem;
  border: 1px solid $color_grey_light;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  line-height: 3rem;
  color: $color_grey;
  cursor: pointer;

  .icon {
  }
}

.deliveryPrice {
  margin-top: 1rem;
}

.button {
  width: 22.5rem;
  margin: 0 auto;
  padding-top: 4rem;
}

.table {
  margin-top: 2rem;
}

.tableHeader {
  display: flex;
  margin-bottom: 2rem;
  font-size: 14px;
  color: $color_grey_minor;
}

.deliveryPackage {
  display: flex;
  background-color: $color_grey_trivial;
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 2rem;

  .logoWrapper {
    .logo {
      display: block;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      object-position: left;
    }
  }

  .textWrapper {
    margin-left: 3.25rem;

    .pkgName {
      line-height: 2.5rem;
      font-size: 14px;
      color: $color_grey_minor;
    }
    .pkgPrice {
      line-height: 2.5rem;
      font-size: 16px;
      color: $color_grey;
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  right: -4rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 20;

  @media (max-width: #{$xl - 1px}) {
    top: -2.5rem;
  }
}

.notShippingText {
  margin-top: 1rem;
  font-size: 14px;
  color: $color_pink;
}

.errorWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $color_red;
  font-size: 1.5rem;
}

.notShipping {
  position: absolute;
  top: 100%;
  margin-top: 0.5rem;
  font-size: 12px;
  color: $color_pink;
}

.warning {
  margin-top: 1rem;
  font-size: 12px;
  line-height: 2rem;
  color: $color_grey_minor;
}