@import "../../styles/variables";

.container {
  position: relative;
  display: inline-block;
  padding: 0 2rem 0 1rem;
  color: $color_white;
  font-size: 12px;
  line-height: 3rem;
  background-color: $color_pink;
  box-shadow: $shadow_1;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: -3rem;
  display: block;
  border: 1.5rem solid transparent;
  border-right: 1.5rem solid $color_pink;
}