@import '../../../../../../../styles/variables';

.container {
  position: relative;
  width: 138rem;
  margin: 0;
  padding: 0 4rem;
  border-bottom: 1px solid $color_grey_trivial;
  cursor: pointer;
  background-color: $color_white;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    background-color: transparent;
    transition: $transition_all_ease;
  }

  &:hover {
    &:before {
      background-color: $color_blue_hover;
    }
  }
}

.arrowExpand {
  //
}

.variant {
  display: flex;
  padding: 1.75rem 0;
}

.variant + .variant {
  border-bottom: 1px solid $color_grey_trivial;
}

.text {
  font-family: Roboto;
  font-size: 16px;
  color: $color_grey;
}

.textPostfix {
  font-family: Roboto;
  font-size: 14px;
  color: $color_grey;
  margin-left: 5px;
}

.cashbackText {
  display: inline-block;
  width: 2.5rem;
}

.discountText {
  display: inline-block;
  width: 2.5rem;
}

.vendorCodeText {
  display: inline-block;
  width: 15rem;
}

.priceText {
  display: inline-block;
  width: 12rem;
}

.characteristicItem {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.characteristicLabels {
  color: $color_grey_minor;
}

.characteristicValues {
  margin-left: 1.5rem;
}

.more {
  color: $color_grey;
}

.warehouseName {
  width: 11rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.storagesItem {
  display: flex;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

.storagesLabels {
  width: 100%;
  color: $color_grey_minor;
}

.storagesValues {
  margin-left: 1.5rem;
  text-align: right;
}

.deleteButton {
  & svg {
    fill: $color_grey_minor;
    transition: $transition_all_ease;
  }

  &:hover svg {fill: $color_grey;}
}

.td {
  display: flex;
  align-items: center;
  font-size: 12px;

  svg {transition: $transition_all_ease;}

  &.isOpen {
    svg {
      transform: rotate(180deg);
    }
  }
}

.tdCheckbox {width: 5%;}
.tdArticle {width: 17%;}
.tdCashback {width: 10%;}
.tdDiscount {width: 10%;}
.tdCharacteristics {width: 18%;}
.tdPrice {width: 15%;}
.tdCount {width: 17%; align-items: flex-start; padding-right: 4rem;}
.tdBasket {width: 4%; justify-content: flex-end;}
.tdDropdawn {width: 4%; justify-content: flex-end;}
