@import '../../../../../../../styles/variables';

.container {
  position: relative;
  margin: 0 -4rem;
  padding: 0 4rem;
  border-bottom: 1px solid $color_grey_trivial;
}

.variantItem {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.arrowExpand {
  position: absolute;
  right: 2rem;
  width: 6rem;
  height: 6rem;
}

.variant {
  display: flex;
  // height: 9.75rem;
  padding: 1.75rem 0;
}

.variant + .variant {
  border-bottom: 1px solid $color_grey_trivial;
}

.text {
  font-family: Roboto;
  font-size: 16px;
  color: $color_grey;
}

.textPostfix {
  font-family: Roboto;
  font-size: 14px;
  color: $color_grey;
  margin-left: 5px;
}

.cashbackText {
  display: inline-block;
  width: 2.5rem;
}

.vendorCodeText {
  display: inline-block;
  width: 15rem;
}

.priceText {
  display: inline-block;
  width: 12rem;
}

.characteristicItem {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.characteristicLabels {
  color: $color_grey_minor;
}

.characteristicValues {
  margin-left: 1.5rem;
}

.storagesItem {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.storagesLabels {
  color: $color_grey_minor;
}

.storagesValues {
  margin-left: 1.5rem;
}

.deleteButton {
  & svg {
    fill: $color_grey_light;
    transition: $transition_all_ease;
  }

  &:hover svg {fill: $color_grey;}
}

.tdCheckbox {width: 5%;}
.tdCashback {width: 15%;}
.tdCharacteristics {width: 15%;}
.tdArticle {width: 20%;}
.tdPrice {width: 20%;}
.tdCount {width: 15%; align-items: flex-start;}
.tdBasket {width: 5%;}
.tdDropdawn {width: 5%;}
