@import '../../../../../../../styles/variables';

.container {
  background-color: $color_grey_bg;
  overflow: auto;
}

.table, .emptyForm {
  background-color: $color_white;
}

.tableWrapper {
  width: 102rem;

  @media (min-width: $lg) {
    width: initial;
  }
}

.button {
  width: 22.5rem;
  margin-top: 4rem;
}

.hiddenButton {

}

.newVariant {

}
