<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div id="root" style="height:100%;">
    <!-- ::APP:: -->
  </div>
  <div id="global-modal-root"></div>
  <div id="alerts-root" style="right:0;top:0;left:0;position:fixed;z-index:10000;"></div>
  <!-- ::SCRIPTS:: -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZFEQohOpK4QNELXiXw50DawOyoSgovTs&amp;libraries=places&amp;language=en" type="text/javascript"></script>
</body>
</html>