@import '../../styles/variables.scss';

.container {
  padding: 1rem;
  position: relative;
}

.body {
  box-shadow: $shadow_1;
  display: block;
  height: 100%;
  border-radius: 0.25rem;
  position: relative;
  transition: $transition_all_ease;

  &:hover {
    box-shadow: $shadow_1_hover;
  }
}

.top {
  align-items: center;
  background-color: $color_grey_trivial;
  display: flex;
  justify-content: center;
  min-height: 21.25rem;
  position: relative;
}

.discount {
  background-color: $color_pink;
  border-radius: 0.5rem;
  color: $color_white;
  font-size: 16px;
  height: 4rem;
  left: 1.5rem;
  line-height: 4rem;
  position: absolute;
  text-align: center;
  top: 1.5rem;
  width: 7rem;
  z-index: 1;
}

.img {
  display: block;
  width: 100%;
}

.icon {
  bottom: 2rem;
  position: absolute;
  right: 2rem;
}

.bottom {
  background-color: $color_white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  z-index: 1;
}

.title {
  font-size: 16px;
  font-family: $font_regular;
  color: $color_grey;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 4.25rem;
  line-height: 2rem;
  overflow: hidden;
  transition: $transition_all_ease;
  white-space: normal;

  @media (min-width: $md) {
    height: 6rem;
    line-height: 2.75rem;
  }

  @media (min-width: $xl) {
    font-family: $font_medium;
    text-transform: uppercase;
  }
}

.undiscountedPrice {
  color: $color_grey_minor;
  font-size: 12px;
  line-height: 2.5rem;
  height: 2.5rem;
  text-decoration: line-through;

  @media (min-width: $md) {
    font-size: 14px;
  }
}

.priceDropdown {
  //
}

.toggleRatesDropdownClosed {
  height: 18px;
  width: 18px;
  background: url('./img/dropdown_toggle_opened.svg');
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.toggleRatesDropdownOpened {
  height: 18px;
  width: 18px;
  background: url('./img/dropdown_toggle_closed.svg');
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.price {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;

  @media (min-width: $xl) {
    flex-direction: row;
  }

  > div:nth-child(1) {
    display: flex;
    position: relative;
  }

  &.isSearchPage {
    flex-direction: column !important;
    > div:nth-child(1) {
      margin-bottom: 1rem;
    }
  }
}

.actualPrice {
  font-family: $font_medium;
  font-size: 14px;
  line-height: 2.25rem;
  color: $color_blue;
  margin-bottom: 1rem;

  @media (min-width: $md) {
    font-size: 16px;
  }
  @media (min-width: $xl) {
    margin-bottom: 0;
  }
}

