@import '../../styles/variables.scss';

.container {
  padding: 1rem;
  position: relative;
  height: 100%;
}

.body {
  box-shadow: $shadow_1;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.25rem;
  position: relative;
  transition: $transition_all_ease;

  &:hover {
    box-shadow: $shadow_1_hover;
  }
}

.top {
  align-items: center;
  padding-top: 70%;
  background-color: $color_grey_trivial;
  display: flex;
  justify-content: center;
  min-height: 28.25rem;
  position: relative;
}

.emptyFoto {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount {
  background-color: $color_pink;
  border-radius: 0.5rem;
  color: $color_white;
  font-size: 16px;
  height: 4rem;
  left: 1.5rem;
  line-height: 4rem;
  position: absolute;
  text-align: center;
  top: 1.5rem;
  width: 7rem;
  z-index: 1;
}

.img {
  display: block;
  width: 100%;
}

.icon {
  bottom: 2rem;
  position: absolute;
  right: 2rem;
}

.bottom {
  background-color: $color_white;
  padding: 2rem;
  width: 100%;
  z-index: 1;
}

.levelOne {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.titleWrap {
  width: 100%;
  font-size: 16px;
  color: $color_black;
  margin-top: 1rem;
  height: 8rem;
  line-height: 2.5rem;
  overflow: hidden;
}

.title {
  max-height: 5rem;
  overflow: hidden;
}

.store {
  margin-top: 0.25rem;
  font-size: 11px;
  color: $color_grey;
}

.priceWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 7rem;
}

.undiscountedPrice {
  position: absolute;
  top: -2.75rem;
  left: 0;
  color: $color_grey_minor;
  font-size: 14px;
  line-height: 2.5rem;
  height: 2.5rem;
  text-decoration: line-through;
}

.priceDropdown {
  display: flex;
  flex-wrap: wrap;

  .actualPrice {
    color: $color_black;
    font-size: 18px;
    white-space: nowrap;

    &:after {
      // content: '/';
      font-family: $font_light;
      margin-left: 0.5rem;
      font-size: 16px;
    }
  }
}

.toggleRatesDropdownClosed {
  height: 18px;
  width: 18px;
  background: url('./img/dropdown_toggle_opened.svg');
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  //display: none;
}

.toggleRatesDropdownOpened {
  height: 18px;
  width: 18px;
  background: url('./img/dropdown_toggle_closed.svg');
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  //display: none;
}

.price {
  position: relative;

  &.isSearchPage {}
}

.actualPrice {
  font-family: $font_medium;
  font-size: 14px;
  line-height: 2.25rem;
  color: $color_black;
  margin-right: 1rem;
}

.bannerLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.priceExchanged {
  font-size: 16px;
  font-family: $font_light;
  line-height: 2.5rem;
  color: $color_grey_minor
}
