@import "../../styles/variables.scss";

.container {
  position: relative;
  padding: 1rem;

  &:hover .title {
    transition: all .3s ease;
    color: $color_blue_1;
  }
}

.body {
  display: block;
  height: 320px;
  box-shadow: $shadow_1;
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 53.25%;
  background-color: $color_grey_light;

  & img {
    width: 100%;
  }
}

.img {
  width: 100%;
  display: block;
}

.icon {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 46.75%;
  padding: 2rem;
  z-index: 1;
  background-color: $color_white;
}

.title {
  max-height: 48px;
  color: $color_grey_text;
  font-size: 16px;
  white-space: normal;
  overflow: hidden;
  transition: all .3s ease;
}

.price {
  position: relative;
  padding-right: 3rem;
}

.actualPrice {
  font-size: 18px;
  color: $color_grey_text;
}

.undiscountedPrice {
  color: #A3A3A3;
  font-size: 14px;
  line-height: 2rem;
  text-decoration: line-through;
}

.cashbackWrap {
  margin-top: 0.5rem;
}

.cashback {
  display: inline-block;
  height: 2.25rem;
  padding: 0 1rem;
  color: $color_white;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 2.5rem;
  vertical-align: bottom;
  border-radius: 0.25rem;
  background-color: #03A9FF;
}