@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap {
  position: relative;
  height: 100%;
}

.tabs {
  margin: -1rem -4rem 0;

  @media (max-width: #{$md - 1px}) {
    margin: -1rem -2rem 0;
  }
}