@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap {
  position: relative;
  height: 100%;
}

.tabs {
  margin-top: -1rem;
}

.paymentOptions {
  //margin: 0 -4rem;
}

.cards {
  //margin: 0 -4rem;
  margin-top: 3rem;
}

.storeSubscription {
  margin-top: 6rem;
}

.paymentAccount {

}

.balance {

}

.title {
  //padding-left: 4rem;
  font-size: 14px;
  line-height: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.walletAddress {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  padding-right: 3rem;
  word-break: break-all;

  .copyWalletAddressButton {
    position: absolute;
    top: -6px;
    right: -1rem;
    background-color: $color_white;
    cursor: pointer;
    z-index: 1;

    svg {
      transition: $transition_all_ease;
      fill: $color_grey_minor;
    }

    &:hover {
      svg {
        fill: $color_grey;
      }
    }

    &.isCopiedWalletAddress {
      svg {
        fill: $color_green;
      }
    }
  }

  .copyMessage {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 12px;
    color: $color_green;
    line-height: 2rem;
    opacity: 0;
    transition: $transition_all_ease;

    &.isCopiedWalletAddress {
      opacity: 1;
    }
  }
}

.walletCode {
  margin-top: 6rem;
}
