.editor {
  .buttons {
    position: fixed;
    top: 0;
    left: 0;
    right: 100%;
    width: 100%;
    min-height: 1.5em;
    text-align: center;
    background-color: #555;
    padding: 5px;
    z-index: 100;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid black;
  }

  table tr {
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }

  table thead tr {
    background: #f5f5f5;
    font-weight: bold;
  }

  table td {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 0.5em;
    position: relative;
  }
}

.title {
  font-size: 14px;
  margin-bottom: 2.75rem;
  text-transform: uppercase;
}

.list {
  padding-left: 2rem;
}

ol.list {
  li {
    list-style-type: decimal;
  }
}
