@import '../../../../styles/variables';

.container {

}

.title {
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.rrBlock {
  overflow: hidden;
  height: 0;
  width: 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .item {
    width: 50%;

    @media (max-width: #{$lg - 1px}) {
      width: 100%;
    }
  }

  &.fullWidth {
    .item {
      width: 25%;

      @media (max-width: #{$lg - 1px}) {
        width: 33.33%;
      }

      @media (max-width: #{$md - 1px}) {
        width: 50%;
      }

      @media (max-width: #{$sm - 1px}) {
        width: 100%;
      }
    }
  }
}
