@import "../../../../styles/variables.scss";

.container {
  background-color: $color_white;
  padding: 2rem;

  .infoContainer {
    margin-top: 3rem;

    .addressInfoWrapper {
      margin-top: 1rem;
      margin-bottom: -2rem;
    }
  }
}

@media (min-width: $sm) {
  .container {
    padding: 3rem;
  }
}

.wrapperAddressButton {
  display: flex;
  justify-content: flex-end;
}

.containerAddressButton {
  width: 23.25rem;
}

.containerAddressButton2 {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem;
}

.title {
  text-transform: uppercase;
  font-family: $font_medium;
  font-size: 1.75rem;
}

.subtitle {
  font-size: 2rem;
}

.centeredTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
