.container {
  position: relative;
  width: 32px;
  height: 32px;
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  padding: 1px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar:hover {
  background-color: #EDEDED;
}

.is-avatar:hover {
  background-color: transparent;
}

.low {
  border: 1px solid #BFBFBF;
}

.high {
  border: 1px solid #28D66B;
}

.avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-icon {
  display: block;
  margin-top: -2px;
}

.menu {
  position: relative;
}

.name {
  padding: 0 8px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.items {
  margin-top: 24px;
}

.item {
  position: relative;
  display: block;
  height: 40px;
  margin: 0 -8px;
  padding: 0 16px;
  line-height: 40px;
  font-size: 14px;
}

.item:hover {
  background-color: #F7F7F7;
}

.logout {
  position: relative;
  display: block;
  margin: 24px -8px -16px;
  padding: 16px;
  font-size: 14px;
}

.logout:before {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  right: 8px;
  height: 1px;
  border-top: 1px solid #F7F7F7;
}

.logout:hover {
  background-color: #F7F7F7;
}

.count {
  display: inline-block;
  margin-top: -1px;
  float: right;
}