@import "../../../styles/variables";

.container {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 9.5rem);
}

.filterItem {
  margin-top: 5rem;
}

.apply {
  display: block;
  position: absolute;
  bottom: 1rem;
  button[class*="Button"] {
    width: 100%;
  }
  width: 100%;
  @media (min-width: $lg) {
    display: none;
  }

}