@import "../../../../../../styles/variables";

.container {
  padding: 4rem 3rem 3rem;
  background-color: $color_grey_bg;
}

.selects {
  display: flex;

  @media (max-width: #{$md - 1px}) {
    display: block;
  }
}

.serviceSelect {
  width: 33rem;
}

.inputPrice {
  width: 33rem;
  margin-left: 2rem;

  @media (max-width: #{$md - 1px}) {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.addButton {
  margin-top: 4rem;
}