@import "../../../../../../styles/variables";

.container {
  margin-top: 2rem;
  padding: 4rem;
  background-color: $color_white;
}

.title {
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.radioButtons {
  margin-top: 2.5rem;
}

.radioButton + .radioButton {
  margin-top: 1.5rem;
}

.form {
  margin-top: 2.5rem;
}

.formWrap {
  position: relative;
}

.hidePlane {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color_white;
    opacity: .5;
    z-index: 5;
  }
}

.companies {

}

.company {
  margin-top: 2rem;
  padding: 3rem;
  background-color: $color_grey_bg;
}

.editableForm {
  margin-top: 2rem;
}