@import "../../../../../../styles/variables";

.container {
  margin-top: 2rem;
  padding: 4rem;
  background-color: $color_white;
}

.title {
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.radioButtons {
  margin-top: 2.5rem;
}

.radioButton + .radioButton {
  margin-top: 1.5rem;
}

.form {
  margin-top: 2.5rem;
}