@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  background: $color_white;
  border-radius: 0.5rem;
  border: 1px solid $color_grey_light;
}

.transparent {
  background: transparent;
}

.offscreen {
  @include offscreen();
}

.header {
  align-items: center;
  display: flex;
  font-weight: 500;
  height: 5.125rem;
  justify-content: space-between;
  padding: 0 2rem;
  text-transform: uppercase;
}

.item {
  color: $color_grey;
  font-size: 14px;
  min-height: 4.375rem;
  line-height: 4.375rem;
}

.itemTitle {
  color: $color_grey;
  font-size: 16px;
  font-weight: 800;
}

.icon {
  // border-radius: 0.25rem;
  transition: $transition_all_ease;
  z-index: 2;

  &.rotate {
    transform: rotate(-180deg);
    transition: $transition_all_ease;
  }

}

.content {
  display: none;
  padding: 0 2rem;

  &.show {
    display: block;
  }

}
