@import '../../../styles/variables.scss';

.container {
  background-color: $color_white;
  border: solid 1px $color_grey_trivial;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin-top: 2rem;
  //margin-bottom: 2rem;
  position: relative;
}

.title {
  color: $color_grey;
  font-family: $font_light;
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  height: 5.25rem;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 4rem;
  text-align: center;
  @media (min-width: $md) {
    margin-top: 14rem;
  }
}

.description {
  margin-top: 2.25rem;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $color_grey_minor;
}

.info {
}

.separator {
  border: solid 1px $color_grey_trivial;
  margin-top: 3.75rem;
  width: 100%;

  @media (min-width: $md) {
    width: 65.75rem;
  }
}

.links {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $font_regular;
  height: 4.75rem;
  justify-content: space-between;
  margin-bottom: 5.25rem;
  margin-top: 3.75rem;
  width: 100%;

  @media (min-width: $md) {
    flex-direction: row;
    margin-bottom: 24.25rem;
    width: 65.75rem;
  }

  a {
    font-size: 16px;
    font-family: $font_medium;
    color: $color_blue;
    transition: $transition_all_ease;

    &:hover {
      color: $color_blue_hover;
    }
  }
}

.loader,
.loader:after {
  margin-top: 12.75rem;
  margin-bottom: 14.25rem;
  height: 5.25rem;
  width: 5.25rem;
  border-radius: 50%;
}
.loader {
  font-size: 10px;
  position: relative;
  border-top: 0.75rem solid $color_grey_trivial;
  border-right: 0.75rem solid $color_grey_trivial;
  border-bottom: 0.75rem solid $color_grey_trivial;
  border-left: 0.75rem solid $color_blue;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

.loader-small,
.loader-small:after {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
}
.loader-small {
  font-size: 10px;
  position: relative;
  border-top: 0.25rem solid $color_grey_trivial;
  border-right: 0.25rem solid $color_grey_trivial;
  border-bottom: 0.25rem solid $color_grey_trivial;
  border-left: 0.25rem solid $color_blue;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  margin-left: 1rem;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.paymentInfoWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2.25rem;
  width: 100%;
  @media (min-width: $md) {
    align-items: initial;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
    width: 70.5rem;
  }

  .qr {
    width: 26.75rem;
    height: 26.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paymentInfo {
    margin-left: 0.5rem;
    text-align: center;
    @media (min-width: $md) {
      text-align: left;
    }

    .addressTitle {
      font-size: 16px;
      color: $color_grey_minor;
      margin-top: 2rem;
    }

    .address {
      font-size: 12px;
      @media (min-width: $md) {
        font-size: 16px;
      }
    }

    .amountTitle {
      font-size: 16px;
      color: $color_grey_minor;
      margin-top: 2rem;
    }

    .amount {
      font-size: 20px;
      color: $color_grey;
    }

    .timer {
      color: $color_grey;
    }
  }
}

.reserveInfo {
  font-size: 14px;
  color: $color_grey_minor;
  text-align: center;
}

.transactionsBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1.75rem;

  .statusBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    @media (min-width: $md) {
      align-items: initial;
      flex-direction: row;
    }
    .statusTitle {
    }
    .statusValue {
      margin-left: 2rem;
      display: flex;
      align-items: center;
    }
    .statusInProcess {
      color: $color_green;
    }
    .statusPaymentAwaited {
      color: $color_pink;
    }
  }

  .transactions {
    width: 65.5rem;
    background-color: $color_grey_trivial;
    padding: 2.5rem;
    margin-top: 3rem;

    .row {
      display: flex;
    }

    .transactions-title-tx {
      color: $color_grey_minor;
      width: 25rem;
    }

    .transactions-title-amount {
      color: $color_grey_minor;
      width: 25rem;
      margin-left: 4rem;
    }

    .row-tx {
      width: 25rem;
      overflow: hidden;
      display: flex;
      justify-content: right;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 15rem;
        background: linear-gradient(to right, $color_grey_trivial, transparent);
      }
      a {
        color: $color_blue;
        text-decoration: none;
        font-size: 16px;
      }
    }

    .row-amount {
      width: 25rem;
      margin-left: 4rem;
    }
  }
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.restCartInfo {
  margin-top: 6rem;
}

.ordersLinkWrap {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.ordersLink {
  font-size: 14px;
  color: $color_blue;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue_hover;
  }
}
