@import "../../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding: 0 1rem;

  @media (min-width: $md) {
    padding: 0;
  }

  button {
    width: 100%;
    @media (min-width: $md) {
      width: 17.5rem;
    }
    @media (min-width: $lg) {
      width: 21.25rem;
    }
  }

  button:first-child {
    margin-right: 2rem;
  }
  @media (min-width: $md) {
    justify-content: flex-end;
    margin-top: 5rem;
  }

  & .message {
    display: none;
    margin-left: 0.5rem;
    @media (min-width: $lg) {
      display: inline;
    }
  }

  & .buttonText {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 11rem;
    @media (min-width: $md) {
      width: initial;
    }

  }

  & .buttonIcon {
    display: block;
    margin-right: 0.6rem;
    @media (min-width: $md) {
      display: none;
    }
  }

  & .email svg {
    fill: $color_white;
    transition: $transition_all_ease;
  }

  & .phone svg {
    fill: $color_blue;
    transition: $transition_all_ease;
  }

}

.button {
  margin-left: 0;
  @media (min-width: $md) {
    margin-left: 2rem;
  }
}