@import '../../../styles/variables';

$burger_menu_size: 7.5rem;

.container {
  background-color: $color_white;
  margin-top: 1.5rem;
  padding-left: 6rem;
  @media (min-width: $lg) {
    padding-left: 0;
  }
}

.logoIcon {
  width: 14rem;

  @media (min-width: $md) {
    width: 19rem;
  }
  @media (min-width: $lg) {
    margin-left: 0;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
  @media (min-width: $lg) {
    padding-top: 0.8rem;
  }
}

.searchBar {
  display: none;
  @media (min-width: $lg) {
    display: block;
  }
}

.userData {
  display: flex;
  justify-content: flex-end;
}

.cartIcon {
  margin-left: 1rem;
  &.isUserLoggedIn {
    margin-left: 0;
  }
  width: 4rem;
}

.searchIcon {
  display: block;
  margin-right: 2rem;
  padding-top: 1rem;

  &.isUserLoggedIn {
    margin-right: 1.5rem;
  }

  @media (min-width: $lg) {
    display: none;
  }
}