@import "../../styles/variables.scss";

.mainContainer {
  margin: 0 0 4rem;

  @media (min-width: $xl) {
    margin: 2rem 0 4rem;
  }
}

.headerWrapper {
  margin-left: -2rem;
  margin-right: -2rem;
}

.wrapper {
  margin-left: -2rem;
  margin-right: -2rem;
}

.addressContainer {
  padding-bottom: 3rem;
}

@media (min-width: $xl) { 
  .headerWrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $md) { 
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.container {
  width: 100%;
  background-color: $color_white;
  margin-bottom: 2rem;
  min-height: 43rem;

  .title {
    text-transform: uppercase;
    font-family: $font_medium;
    font-size: 1.75rem;
  }
}

.storeContainer {
  margin-top: 2rem;
}
