@import '../../styles/variables';

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 7px 21px 5px rgba(0, 0, 0, 0.08);
  padding: 0 4rem;
  min-height: 6.25rem;

  &.success {
    background-color: $color_green;
  }

  &.success {
    background-image: $alert_success_background_gradient;
  }

  &.danger {
    background-image: $alert_danger_background_gradient;
  }

  &.warning {
    background-color: $color_yellow;
  }

  @media (min-width: $md) {
    flex-direction: row;
  }
  
}

.disappering {
  opacity: 0;
  transition: all 1.5s ease;
}

.leftEdge {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 0.25rem;
}

.closeButton {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  svg {
    path {
      fill: $color_white !important;
    }
  }
}

.titleContainer {
  margin-top: 1rem;

  @media (min-width: $md) {
    margin-top: 0;
  }
}

.title {
  color: $color_white;
  font-family: $font_regular;
  font-weight: bolder;
  font-size: 18px;
}

.alertMessage {
  color: $color_white;
  font-family: $font_regular;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.43;
  margin: 1rem 0;
  
  
  @media (min-width: $md) {
    font-size: 18px;
    margin: 0 2rem;
  }

  &.longText {
    font-size: 12px;
    padding: 0 1rem;
    text-align: justify;
    @media (min-width: $sm) {
      font-size: 14px;
    }
  }
}

.buttonLink {
  max-width: 17.25rem;
  width: 17.25rem;
  height: 4rem;
  border-radius: 4px;
  border: 1px solid $color_white;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    margin-bottom: 0;
  }
}

.link {
  color: $color_white;
  font-family: $font_regular;
  font-size: 18px;
  line-height: 1.43;
}
