@import "../../../../../styles/variables";

.container {
  position: relative;
  //display: flex;
  //flex-direction: row;
  //width: 100%;
}

.select {
  &.hidePlane {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      background-color: $color_white;
      opacity: .5;
      z-index: 5;
    }
  }
}

.button {
  position: absolute;
  top: 0.25rem;
  left: 100%;
  display: flex;
  margin-left: 1rem;
  font-size: 14px;
  color: $color_blue;
  cursor: pointer;
  transition: $transition_all_ease;

  .buttonIcon {
    margin-top: -1px;

    svg {
      fill: $color_blue;
      transition: $transition_all_ease;
    }
  }

  .buttonText {

  }

  &:hover {
    color: $color_blue_hover;

    .buttonIcon {
      svg {
        fill: $color_blue_hover;
      }
    }
  }
}

.selectedAttributes {
  margin-top: 1rem;
  margin-left: -2rem;

  .attribute {
    display: inline-flex;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0 1rem;
    border-radius: 0.375rem;
    font-size: 12px;
    background-color: $color_grey_trivial;

    .label {

    }

    .cross {
      margin-left: 1rem;
      margin-top: -1px;
      cursor: pointer;
    }
  }
}
