@import '../../../../../styles/variables';

.container {
  position: relative;
}

.wrap {
  background-color: $color_grey_bg;
  margin: -2rem;
  @media (min-width: $md) {
    margin: -4rem;
  }
}

.form {
  background-color: $color_white;
  height: 100%;
  padding: 2rem;
  @media (min-width: $md) {
    padding: 4rem;
  }
}

.title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  &.titleGeneral {
    margin-top: 4rem;
  }

  &.titlePricing {
    margin-top: 6rem;
  }

  &.titleCharacteristics {
    margin-top: 6rem;
  }
}

.formItem {
  max-width: 41rem;

  &.textArea {
    max-width: 96rem;
  }
}

.formItem + .formItem {
  margin-top: 6rem;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  margin-top: 4rem;

  @media (max-width: #{$sm - 1px}) {
    display: block;
  }
}

.button {
  position: relative;
  width: 22.5rem;

  @media (max-width: #{$sm - 1px}) {
    width: 100%;
  }
}

.moderationButton {
  margin-left: 2rem;

  @media (max-width: #{$sm - 1px}) {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.warnMessage {
  margin-left: 2rem;
  color: $color_pink;
  font-size: 14px;

  @media (max-width: #{$sm - 1px}) {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.label {
  font-family: 'Open_Sans_SemiBold', 'Helvetica Neue Medium', Helvetica, Arial,
    sans-serif;
  margin-bottom: 1rem;
  color: $color_grey_minor;
  font-size: 12px;
  line-height: 2rem;
  white-space: nowrap;
}

.categorySelector {
  margin-top: 7rem;
}

.status {
  position: absolute;
  right: 2rem;
  top: 2rem;

  @media (min-width: $md) {
    right: 4rem;
    top: 4rem;
  }
}

.asterisk {
  color: $color_red;
}

.categoryError {
  font-size: 12px;
  color: $color_red;
}

.spinner {
  margin-top: 2rem;
}

.additionalAttributes {
  margin-top: 4rem;
}

.characteristics {
}

.inputPostfix {
  position: absolute;
  color: $color_grey_minor;
  font-size: 12px;
}

.warehouses {
  margin-top: 4rem;
}

.preOrder {
  margin-top: 8rem;
}

.tabs {
  width: 100%;
  margin-top: 2rem;
  background-color: $color_white;

  .tabsWrap {
    .variants {
      .noVariants {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;

        .variantsIcon {
        }

        .variantsText {
          margin: 4rem 0;
          color: $color_grey_minor;
          text-align: center;
        }

        .variantsButton {
        }

        .variantsWarnText {
          margin-top: 4rem;
          color: $color_pink;
          text-align: center;
        }
      }

      .isVariants {
        padding-top: 4rem;

        .variantsButton {
          width: 22.5rem;
          margin: 4rem;
        }

        .variantsWarnText {
          margin: -2rem 0 4rem 4rem;
          color: $color_pink;
        }
      }
    }

    .delivery {
      padding: 4rem;

      .deliveryButton {
        width: 22.5rem;
        margin-top: 4rem;
      }
    }

    .hidden {
      height: 0;
      padding: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }
}

.metrics {
  position: relative;
  margin-top: 7rem;

  .metricsError {
    position: absolute;
    bottom: -2.5rem;
    width: 19rem;
    margin-top: 0.5rem;
    line-height: 2rem;
    color: $color_red;
    font-size: 12px;
  }
}

.shippingPopup {
  padding: 10rem;
  width: 82rem;

  @media (max-width: #{$md - 1px}) {
    padding: 4rem;
    width: 100%;
  }

  .shippingPopupWrapper {
    //
  }

  .shippingPopupDescription {
    text-align: center;
  }

  .shippingPopupButtons {
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    .shippingPopupOkButton {
      margin-left: 2rem;
    }
  }

}

.editor {
  margin: 4rem 0 7rem;
  position: relative;

  span.label {
    display: block;
    font-size: 14px;
    transform: scale(0.9) translate(0, 0);
    transform-origin: left top 0;
  }

  span.asterisk {
    font-size: 18px;
    position: relative;
    top: 2px;
  }
}

.error {
  color: $color_red;
  font-size: 12px;
  margin-top: 1rem;
  position: absolute;
}
