@import "../../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  @media (min-width: $md) {
    padding: 0 2rem;
  }
}

.form {
  height: 100%;
  margin-top: 2rem;
  background-color: $color_white;
}

.title {
  margin-bottom: 4rem;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.formItem {
  max-width: 41rem;

  &.textArea {
    max-width: 96rem;
  }

  &.button {
    button {
      width: 100%;
      @media (min-width: $md) {
        width: initial;
      }
    }
  }
}

.formItem + .formItem {
  margin-top: 6rem;
}

.label {
  font-family: 'Open_Sans_SemiBold', 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;
  margin-bottom: 1rem;
  color: $color_grey_minor;
  font-size: 12px;
  line-height: 2rem;
  white-space: nowrap;
}