@import "../../../styles/variables";

.container {
  position: relative;
  width: 10rem;
  height: 2rem;
  margin-left: -0.5rem;
  overflow: hidden;

  & svg {
    position: relative;
    display: block;
    z-index: 2;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background-color: $color_grey_light;
  }
}

.background {
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 1px;
  background-color: $color_yellow;
  z-index: 1;
}