@import "../../../styles/variables";

.form {
  .formItem {
    margin-bottom: 6.5rem;
  }
}

.secondForm {
  .formItem {
    margin-bottom: 4.5rem;
  }
  .addressForm {
    margin-bottom: 8.5rem;
  }
}