@import "../../../styles/variables";

.footerContainer {
  height: 8.875rem;
  width: 100%;
  border-top: 2px solid $color_grey_trival;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .backContainer {
    display: flex;
    align-items: center;
    .footerText {
      font-family: $font_regular;
      font-size: 1.75rem;
      color: $color_grey;
    }
  }

}

.leftButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color_blue;
  padding: 1rem 1rem 1rem 0;
  margin-right: 6.5rem;
  cursor: pointer;

  span {
    margin-left: 1rem;
  }
}