@import "../../../styles/variables";

.stepperContainer {
  height: 8.25rem;
  width: 100%;
  border-bottom: 2px solid $color_grey_trival;
  display: flex;
  justify-content: center;
  align-items: center;

  .item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 3.5rem;
    height: 100%;
    cursor: pointer;

    span {
      font-family: $font_medium;
      font-size: 1.75rem;
      color: $color_grey_minor;
      text-transform: uppercase;
    }

    &.active {
      span {
        color: $color_blue;
      }

      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: $color_blue;
      }
    }
  }
}
