@import "../../../styles/variables";

.wizardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color_white;
  min-height: 101rem;
  margin: 0 2rem -2rem 2rem;
  border-top: 1px solid $color_grey_trivial;
  border-bottom: 1px solid $color_grey_trivial;
  margin: 0 0 4rem;

  @media (min-width: $lg) {
    margin: 2rem 0 4rem;
  }

  .stepperWrapper {
    display: flex;
  }

  .contentWrapper {
    display: flex;
    flex: 1;
    padding: 14.25rem 3rem 2rem 3rem;
    justify-content: center;

    .formWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.firstForm {
        width: 54rem;
      }
      &.secondForm {
        width: 54rem;
      }
      &.thirdForm {
        width: 100%;
      }

      .headerTitle {
        font-family: $font_light;
        font-size: 4.5rem;
        margin-bottom: 2.7rem;
        text-align: center;
      }

      .headerDescription {
        width: 45rem;
        font-family: $font_regular;
        line-height: 2.7rem;
        color: $color_grey_minor;
        text-align: center;
        margin-bottom: 6.5rem;
      }
    }
  }

  .footerWrapper {
    display: flex;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4rem;
  background-color: $color_white;
  .modalTitle {
    font-family: $font_regular;
    font-size: 2.5rem;
  }
  .modalButtonsContainer {
    margin: 4rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    width: 100%;
    .modalOkButton {
      margin-right: 2rem;
    }
  }
}

