@import '../../../styles/variables';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.headerMock {
  background-color: azure;
  height: 20rem;
}

.wizardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color_white;
  min-height: 101rem;
  margin: 0 2rem -2rem 2rem;
  border-top: 1px solid $color_grey_trivial;
  border-bottom: 1px solid $color_grey_trivial;
  margin: 0;

  @media (min-width: $lg) {
    margin: 2rem 0 4rem;
  }
}
