@import "../../../styles/variables.scss";

.container {
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

.title {
  color: $color_grey_minor;
  font-family: $font_regular;
  font-size: 1.75rem;
}

.value {
  font-family: $font_regular;
  color: $color_grey;
}
