@import "../../../styles/variables.scss";

.container {
  color: $color_grey;
  padding: 2rem 0;
  border-bottom: 1px solid $color_grey_trivial;
}

@media (min-width: $sm) {
  .container {
    padding: 3rem 2rem;
  }
}

.left-container {
  display: flex;
  align-items: flex-start;
}

.picture {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.header {
  padding: 0 0 1rem 2rem;
}

.half-width {
  width: 50%;
  display: inline-block;
}

.product-params {
  width: 34%;
  padding-left: 4rem;
}

.productInfoWrapper {
  margin-top: 2rem;
}

.product-summary-header {
  font-size: 2.5rem;
  font-family: $font_medium;
}

.product-summary-attributes {
  font-family: $font_regular;
  margin-bottom: 2rem;
}

.contentBlock {
  margin-top: 2rem;
}

.cart-product-title {
  font-family: $font_medium;
  font-size: 1.75rem;
  text-transform: uppercase;
  padding-bottom: 1.75rem;
}

.total-container {
  width: 40em;
  border: 1px solid $color_grey_trivial;
}

.comment {
  .title {
    color: $color_grey_minor;
    font-family: $font_regular;
    font-size: 1.75rem;
    margin-bottom: -3rem;
  }
}

.recycleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.recycle {
  & svg {
    fill: $color_grey_light;
    transition: $transition_all_ease;
  }

  &:hover {
    & svg {
      fill: $color_grey;
    }
  }
}

.noLogo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $color_grey_trivial;
  vertical-align: middle;
  border-radius: 0.5rem;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}