@import '../../../styles/variables';

.container {
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
}

.item {
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
  }

  &.image {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
}

.counter {
  background: rgba(0, 0, 0, 0.5);
  bottom: 2rem;
  left: 2rem;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 0.75rem;
  letter-spacing: 0.25rem;
}

.counterText {
  color: $color_white;
}

.fadeItem {
  position: relative;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: $transition_all_ease_out_quad_10;
  visibility: hidden;

  & + .fadeItem {
    position: absolute;
    left: 0;
    z-index: 1;
  }
}

.activeSlide {
  opacity: 1;
  visibility: visible;
}

.dots {
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.dot {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 1.4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid $color_grey_light;
}

.dot.active {
  background-color: $color_white;
}
