@import "../../../../styles/variables";

.container {
  margin-top: 2rem;

  @media (max-width: #{$lg - 1px}) {
    padding: 0 2rem;
  }

  @media (max-width: #{$md - 1px}) {
    display: none;
  }

  .item {
    display: inline-block;
    color: $color_grey_minor;
    font-size: 1.75rem;
    cursor: pointer;

    .separator {
      margin: 0 1rem;
    }
  }
}

.active {
  color: $color_blue !important;
}
