@import "../../../styles/variables";

.container {
  border-top: solid 1px $color_grey_trivial;
  border-bottom: solid 1px $color_grey_trivial;
  margin: 0 -2rem;
  padding: 3.5rem 2rem;
  text-align: center;
  @media (min-width: $md) {
    margin: 0;
    padding: 3.5rem 4rem;
  }
}

.address, .email {
  color: rgba(80, 80, 80, .43);
  font-size: 13px;
  line-height: 21px;
}

.address {
  padding: 0 2rem;
  @media (min-width: $md) {
    padding: 0;
  }
}

.email:hover {
  text-decoration: underline;
}

.aboutNavBlock {
  margin-top: 2rem;
}

.aboutNavItem {
  display: inline-block;
  line-height: 2rem;
  padding: 0 3rem;

  &:not(:last-child) {
    border-right: 1px solid $color_grey;
  }

  .link {
    color: $color_grey;
    font-size: 14px;
  }

}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  & > * + * {
    margin-left: 2rem;
  }

}
