@import "../../../../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.title {
  margin-top: 4rem;
  font-size: 14px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.form {
  position: relative;
  background-color: $color_white;
  flex: 1 0 auto;
}

.formItem + .formItem {
  margin-top: 6rem;
}

.maxWidthInput {
  max-width: 41rem;
}

.maxWidthTextArea {
  max-width: 96rem;
}

.formHeader {
  display: flex;
  justify-content: space-between;
}

.storeStatus {
  position: absolute;
  right: 0rem;
  top: 0rem;

  @media (max-width: #{$md - 1px}) {
    position: relative;
    display: inline-block;
    margin-bottom: 4rem;
  }
}

.coverUploadWrap {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;
  min-height: 13.5rem;
}

.uploadButton {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}

.uploadRec {
  font-size: 14px;
  line-height: 2.5rem;
  color: $color_grey_minor;
}

.cover {
  position: relative;
  display: block;
  width: 100%;
  max-width: 41rem;
  height: 13.5rem;
  margin-bottom: 5rem;

  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .trash {
    background: $color_white;
    border-radius: 50%;
    border: 1px solid $color_grey_light;
    cursor: pointer;
    position: absolute;
    right: -1rem;
    top: -1rem;
    transition: $transition_all_ease;

    svg {
      fill: $color_grey_minor;
      transition: $transition_all_ease;
    }

    &:hover {
      border: 1px solid $color_grey_minor;

      svg {
        fill: $color_grey;
      }
    }
  }
}

.buttonsPanel {
  display: flex;
  align-items: center;
  margin-top: 6rem;

  @media (max-width: #{$sm - 1px}) {
    display: block;
  }

  .formItem + .moderationButton {
    margin-left: 2rem;
  }
}

.saveButton {
  width: 22.5rem;

  @media (max-width: #{$sm - 1px}) {
    width: 100%;
  }
}

.moderationButton {
  width: 22.5rem;
  margin-left: 2rem;

  @media (max-width: #{$sm - 1px}) {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
}

.warnMessage {
  margin-left: 2rem;
  color: $color_pink;
  font-size: 14px;

  @media (max-width: #{$sm - 1px}) {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.asterisk {
  color: $color_red;
}

.error {
  margin-top: 2rem;
  color: $color_red;
  font-size: 12px;
}