@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.sidebarContainer {
  width: 25.95rem;

  .blockTitle {
    color: $color_grey_bg;
    font-size: 14px;
  }

  .attrBlock {
    margin: 2rem 0;
  }
}

.contentContainer {
  flex: 1;
  margin: -0.5rem 2rem 0 2rem;

  .topContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem 0.5rem 1rem;

    .breadcrumbs {

      .item {
        display: inline-block;
        color: $color_grey_breadcrumbs;
        font-size: 1.75rem;
        cursor: pointer;

        .separator {
          margin: 0 1rem;
        }
      }
    }

    .sortingContainer {
      display: flex;
      flex-direction: row;
    }
  }
  .productsContainer {

    .loadMoreContainer {
      display: flex;
      height: 5rem;
      margin-top: 2rem;
      padding: 0 1rem;

      .loadMoreButton {
        flex: 1;
        padding: 1rem;
        border: 1px solid #f4f4f4;
        color: #505050;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}

.cardWrapper {
  width: 25%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.button {
  margin-top: 2rem;
}

.active {
  color: $color_primary!important;
}

.parentCategory {
  font-family: $font_medium;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
  cursor: pointer;
}