@import "../../styles/variables";

.container {
  position: relative;
  height: 5rem;
  margin-top: -2rem;
}

.root {
  position: relative;
  z-index: 10;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.rootItem {
  width: 23.625rem;
  float: left;
  cursor: pointer;
}

.rootItem:hover {
  background-color: $color_white;
}

.rootItem > .link .text {
  position: relative;
  display: block;
  font-size: 16px;
  color: $color_grey_text;
  line-height: 5rem;
  text-align: center;
  z-index: 1;
  transition: none;
}

.rootItem:hover > .link .text:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid $color_primary;
}

.rootItem:hover > .itemsWrap {
  opacity: 1;
  visibility: visible;
  margin: 0;
  z-index: 11;
}

.rootItem > .itemsWrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 100%;
}

.rootItem > .itemsWrap > ul {
  position: relative;
  width: 42rem;
  height: 56rem;
  padding: 3rem 2rem;
  background-color: $color_white;
}

.rootItem > .itemsWrap > ul > li {
  height: 5rem;
}

.rootItem > .itemsWrap > ul > li:hover svg {
  fill: $color_primary;
}

.rootItem > .itemsWrap > ul > li > .link {
  margin: -0.125rem -2rem 0 -2rem;
  padding-left: 2rem;
  line-height: 5rem;
  cursor: pointer;
}

.rootItem > .itemsWrap > ul > li:hover > .link {
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #EFEFEF;
  }

  &:hover:before {
    top: 0;
  }

  &:hover:after {
    bottom: 0;
  }
}

.rootItem > .itemsWrap > ul > li > .link .text {
  position: relative;
  display: block;
  font-size: 14px;
  color: $color_grey_text;
}

.rootItem > .itemsWrap > ul > li:hover > .link .text {
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    top: 1px;
    bottom: 0px;
    right: -1px;
    border-right: 1px solid $color_white;
    z-index: 1;
  }
}

.icon {
  position: absolute;
  top: 1.5rem;
  right: 1.25rem;
}

.link {
  position: relative;
}

.midItem > .itemsWrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
}

.midItem:hover > .itemsWrap {
  opacity: 1;
  visibility: visible;
}

.midItem:hover > .itemsWrap > ul {
  width: 44rem;
  height: 56rem;
  padding: 3rem 2rem;
  border-left: 1px solid #EFEFEF;
  background-color: $color_white;
}

.midItem:hover > .itemsWrap > ul > li {
  height: 5rem;
  margin: 0 -2rem;
}

.midItem:hover > .itemsWrap > ul > li > .link {
  line-height: 5rem;
  cursor: pointer;
}

.midItem:hover > .itemsWrap > ul > li:hover > .link .text {
  text-decoration: underline;
}

.midItem:hover > .itemsWrap > ul > li > .link .text {
  display: block;
  padding-left: 2rem;
  font-size: 14px;
  color: $color_grey_text;
  transition: none;
}