@import "../../styles/variables";

.container {
  margin-top: 2.875rem;

  @media (min-width: 992px) {
    margin-top: 0;
  }

}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.sidebarContainer {
  display: none;
  max-width: 25.95rem;

  .blockTitle {
    color: $color_grey_minor;
    font-size: 14px;
  }

  .attrBlock {
    margin: 2rem 0;
  }

  @media (min-width: 992px) {
    display: block;
  }

}

.contentContainer {
  flex: 1;
  // margin: -0.5rem 2rem 0 2rem;

  .topContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem 0.5rem 1rem;

    .breadcrumbs {

      .item {
        display: inline-block;
        color: $color_grey_minor;
        font-size: 1.75rem;
        cursor: pointer;

        .separator {
          margin: 0 1rem;
        }

      }

    }

    .sortingContainer {
      display: flex;
      flex-direction: row;
    }
  }
  .productsContainer {

    .loadMoreContainer {
      display: flex;
      height: 5rem;
      margin-top: 2rem;
      padding: 0 1rem;

      .loadMoreButton {
        align-items: center;
        border: 1px solid $color_grey_light;
        color: $color_grey;
        cursor: pointer;
        flex: 1;
        justify-content: center;
        padding: 1rem;
        text-align: center;
      }
    }
  }
}

.cardWrapper {
  display: inline-block;
  height: 40rem;
  position: relative;
  vertical-align: bottom;
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 992px) {
    width: 33%;
  }

  @media (min-width: 1200px) {
    width: 25%;
  }

}

.button {
  margin-top: 2rem;
}

.active {
  color: $color_blue !important;
}

.parentCategory {
  font-family: $font_medium;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
  cursor: pointer;
}
