.container {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.label {
  position: absolute;
  top: 0.375rem;
  left: 0;
  width: 2rem;
  height: 2rem;
  border: 1px solid #707070;
  border-radius: 0.5rem;
  line-height: 2rem;
  cursor: pointer;
  background: #FFFFFF;
}

.label:after {
  content: '';
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  width: 0.75rem;
  height: 0.5rem;
  border: 0.25rem solid #000;
  border-top: none;
  border-right: none;
  background-color: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.label:hover::after {
  opacity: 0.3;
}

.labelText {
  position: relative;
  top: -0.125rem;
  margin-left: 2.5rem;
  padding-bottom: 0.25rem;
  white-space: nowrap;
}

.input {
  visibility: hidden;
}

.input:checked + label:after {
  opacity: 1;
}