.container {
  display: flex;
  align-items: baseline;
}

.inputsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.buttonWrapper {
  margin-left: 22.25rem;
}

.searchTermInputWrapper {
  width: 27rem;
}
