.container {
  display: flex;
  align-items: baseline;
}

.inputsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.buttonWrapper {
  margin-left: 22.25rem;
}

.searchTermInputWrapper {
  width: 27rem;
}

.birthdateSelect {
  & > div:first-child {
    width: 26.25rem;
    margin-left: 3rem;
    margin-bottom: 1px;
  }
}
