@import '../../../styles/variables';

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $md) {
    align-items: baseline;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  [class*='Button__container'] {
    width: 100% !important;
  }

  @media (min-width: $sm) {
    justify-content: flex-end;
    margin-top: 0;

    & > [class*='Button__container'] {
      width: initial !important;
    }

  }

}

.orderSelect {
  position: relative;
  top: 1rem;
}

.birthdateSelect {
  position: relative;
  top: 1rem;
  & > div:first-child {
    margin-bottom: 1px;
    margin-left: 3rem;
    width: 26.25rem;
  }
}
