.container {
  display: none;

  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    a {
      margin-left: 3rem;
    }
  }
}

a[role="button"] {
  cursor: pointer;
}

.item {
  margin-left: 3rem;
  z-index: 90;
}
