@import "../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  a {
    margin-left: 3rem;
  }

  @media (max-width: #{$lg - 1px}) {
    position: absolute;
    right: 2.5rem;
    top: -35px;
    z-index: 2;
  }
}

a[role="button"] {
  cursor: pointer;
}

.item {
  margin-left: 3rem;
  z-index: 90;
}
