$colorError: #FD7DAA;

.formInput {
  @include form-input;
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  &.invalidInput {
    border-bottom: 1px solid $colorError;
  }

}

.formInputLabel {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 0.2s ease top;
}

.formInputLabelFloat {
  color: #A7A7A7;
  font-size: 14px;
  top: -20px;
}

.formInputMessage {
  color: $colorError;
  font-size: 13px;
  text-align: center;
}

.formInputShowPassword {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
  top: -20px;

  svg {
    height: 18px;
    width: 18px;
  }

  small {
    color: #939393;
    font-size: 13px;
    position: relative;
    right: -3px;
    top: -4px;
  }

}