@import '../../../../styles/variables';

.container {
  .dropdownToggleClosed {
    background: url('./svg/dropdown_toggle_closed.svg');
    width: 2.25rem;
    height: 2.25rem;
  }

  .dropdownToggleOpened {
    background: url('./svg/dropdown_toggle_opened.svg');
    width: 2.25rem;
    height: 2.25rem;
  }

  span:first-child {
    display: block;
  }

  span.cashback {
    margin-top: 0.375rem;
    background-color: $color_blue;
    border-radius: 0.25rem;
    color: $color_white;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    height: 2.25rem;
    line-height: 2.4rem;
    margin-left: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    width: 12.875rem;
    word-spacing: 1rem;

    &.noCashback {
      background-color: $color_grey_light;
      color: $color_white;
    }
  }
}

.stq {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4.75rem;
}

.priceDropdownList {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 1.7rem 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: $color_grey;
  font-size: 14px;
  line-height: 1.8;
  font-family: $font_medium;
  white-space: nowrap;
  text-align: right;
  z-index: 9999;
}

.lastPrice {
  color: $color_grey_minor;
  font-size: 1.75rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 2rem;
  letter-spacing: -0.2px;
  line-height: normal;
  text-align: left;
  text-decoration: line-through;
  width: 12.625rem;
}

.price {
  color: $color_grey;
  font-size: 2.5rem;
}
