@import '../../../../styles/variables';

.container {
  .dropdownToggleClosed {
    background: url('./svg/dropdown_toggle_closed.svg');
    width: 2.25rem;
    height: 2.25rem;
  }

  .dropdownToggleOpened {
    background: url('./svg/dropdown_toggle_opened.svg');
    width: 2.25rem;
    height: 2.25rem;
  }

  .cashback {
    margin-top: 1rem;
    background-color: $color_blue;
    border-radius: 0.25rem;
    color: $color_white;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    height: 2.25rem;
    line-height: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    width: 12.875rem;
    word-spacing: 1rem;

    &.noCashback {
      background-color: $color_grey_light;
      color: $color_white;
    }
  }
}

.stq {
  
}

.priceDropdownList {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 1.7rem 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: $color_grey;
  font-size: 14px;
  line-height: 1.8;
  font-family: $font_medium;
  white-space: nowrap;
  text-align: right;
  z-index: 9999;
}

.lastPrice {
  position: relative;
  color: $color_grey_minor;
  font-size: 20px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    right: -2px;
    top: 50%;
    border-bottom: 1px solid $color_grey_minor;
  }
}

.price {
  margin-bottom: 2rem;
}

.discountPrice {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 1rem;
  font-size: 26px;
  line-height: 4rem;

  //@media (max-width: #{$md - 1px}) {
  //  display: block;
  //}
}

.title {
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.basePrice {
  margin-right: 1rem;
}

.currencyPrice {
  display: flex;
  align-items: baseline;
  margin-top: 0.5rem;
  line-height: 1.5rem;
  color: $color_grey_minor;
  font-weight: normal;
  font-family: $font_light;

  //@media (max-width: #{$md - 1px}) {
  //  margin-left: 0;
  //  margin-top: 1rem;
  //}

  .slash {
    font-weight: normal;
    font-family: $font_light;
    color: $color_grey;
    font-size: 24px;

    //@media (max-width: #{$md - 1px}) {
    //  display: none;
    //}
  }
}
