@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.form {
  background-color: $color_white;
  flex: 1 0 auto;
}

.formItem + .formItem {
  margin-top: 6rem;
}

.maxWidthInput {
  max-width: 41rem;
}

.maxWidthTextArea {
  max-width: 96rem;
}

.saveButton {
  margin-top: 2rem;
  button {
    width: 100%;
    @media (min-width: $md) {
      width: 22.5rem;
    }
  }
}