@import '../../../styles/variables.scss';

.cardElement {
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $color_grey_light;

  hr {
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    border: 1px solid $color_blue;
    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  .cardError {
    position: absolute;
    left: 0;
    margin-top: 0.5rem;
    font-size: 12px;
    color: $color_red;
  }

  &.isFocus {
    hr {
      transform: scaleX(1);
    }

    .label {
      color: $color_blue !important;
    }
  }
}

.label {
  position: relative;
  top: 2rem;
  color: $color_grey_minor;
  font-size: 14px;
  transform: scale(0.9) translate(0, -2.6rem);
  transform-origin: left top 0;
  transition: $transition_all_ease;
}

.asterisk {
  color: $color_red;
}






//&.isFocus {
//  .cardElement hr {
//    transform: scaleX(1);
//  }
//
//  .label {
//    color: $color_blue !important;
//  }
//}
//
//&.isError {
//  .cardElement hr {
//    border: 1px solid $color_red;
//  }
//
//  .label {
//    color: $color_red;
//  }
//}