@import "../../styles/variables.scss";

.container {
  position: relative;
  background-color: $color_grey_trivial;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, .25);
  padding: 1rem;
  position: absolute;
  right: -26rem;
  text-align: left;
  top: -1.5rem;
  width: 25rem;
  z-index: 99;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  color: $color_grey;
  font-size: 12px;
  margin-bottom: 0.5rem;

  &::before {
    bottom: -0.625rem;
    color: $color_blue;
    content: "•";
    display: inline-block;
    font-size: 2rem;
    height: 0;
    margin-left: 0;
    position: relative;
    width: 2rem;
  }
}

.valid {
  @extend .list-item;
  color: $color_grey_minor;

  &::before {
    color: $color_grey_minor;
  }
}
