.passwordHints {
  background: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 11px 0 0 13px;
  position: absolute;
  right: -67%;
  text-align: left;
  top: -7px;
  width: 200px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      color: #505050;
      font-size: 12px;
      margin-bottom: 14px;
      &::before {
        color: #2FBAFD;
        content: "•";
        display: inline-block;
        margin-left: 0;
        width: 10px;
      }
    }

  }
}