.container {
  position: relative;
  background: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 0 0 10px 13px;
  position: absolute;
  right: -208px;
  text-align: left;
  top: -12px;
  width: 200px;
  z-index: 99;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  color: #505050;
  font-size: 12px;
  margin-bottom: 4px;

  &::before {
    bottom: -5px;
    color: #2FBAFD;
    content: "•";
    display: inline-block;
    font-size: 2em;
    height: 0;
    margin-left: 0;
    position: relative;
    width: 15px;
  }
}

.valid {
  @extend .list-item;
  color: #E2E2E2;

  &::before {
    color: #E2E2E2;
  }
}
