@import "../../assets/scss/mixins";

$blackText: #505050;

.signUpForm {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 15px 27px;
  width: 336px;

  .signUpFormHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;

    h1 {
      color: $blackText;
      font-size: 24px;
      font-weight: normal;
      margin: 0;
    }

    a {
      border-bottom: 1px solid $blackText;
      color: $blackText;
      text-decoration: yellow;
    }

  }
}

.signUpFormGroup {
  margin-bottom: 40px;
  position: relative;
}

.signUpFormAuthProvider {
  margin-bottom: 24px;
  position: relative;
}

.signUpFormInputPassword {
  // @extend .formInput;
  border-bottom: none;

  &:focus {
    border-bottom: none;
  }
}

.signUpFormButton {
  @include simple-button($background: #2FBAFD, $color: #ffffff);
  border-radius: 4px;
  font-size: 16px;
  padding: 16px 0;
  &:disabled {
    background: #EFEFEF !important;
    color: #FFFFFF !important;
  }
}

.signUpFormGoogleButton {
  @include simple-button($background: #F7F7F7, $color: $blackText);
  border-radius: 4px;
  font-size: 16px;
  padding: 14px 0 14px 14%;
  text-align: left;
}

.signUpFormButtonIcon {
  height: 22px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 22px;
}

.signUpFormSignUp {
  align-items: center;
  display: flex;
  margin: 36px 0;
  justify-content: space-between;
}

.signUpFormPolicy {
  color: $blackText;
  font-size: 11px;
  line-height: 16px;
  max-width: 46%;
  padding: 0 0 0 6px;
  text-align: left;
}
