@import "../../styles/mixins";

$blackText: #505050;

.container {
  composes: OpenSans from global;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 15px 27px;
  width: 336px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

.signUpTitle {
  color: $blackText;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.signInLink {
  border-bottom: 1px solid $blackText;
  color: $blackText;
}

.group {
  margin-bottom: 40px;
  position: relative;
}

.providerGroup {
  margin-bottom: 24px;
  position: relative;
}

.providerIcon {
  height: 22px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 22px;
}

.signUpGroup {
  align-items: center;
  display: flex;
  margin: 36px 0;
  justify-content: space-between;
}

.policy {
  color: $blackText;
  font-size: 11px;
  line-height: 16px;
  max-width: 46%;
  padding: 0 0 0 6px;
  text-align: left;
}
