@import "../../../../../styles/variables";

.container {
  position: relative;
  align-items: center;
  border-bottom: 1px solid $color_grey_trivial;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4rem;
  min-height: 11.75rem;
  padding: 1rem 3rem;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    background-color: transparent;
    transition: $transition_all_ease;
  }

  &:hover {
    &:before {
      background-color: $color_blue_hover;
    }
  }
}

.storageName {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.address {
  color: $color_grey_minor;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.deleteButton, .editButton {
  & svg {
    fill: $color_grey_minor;
    transition: $transition_all_ease;
  }

  &:hover svg {fill: $color_grey;}
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
}