@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form {
  position: relative;
  height: 100%;
}

.wrap {
  max-width: 41rem;
}

.formItem + .formItem {
  margin-top: 6rem;
}

.label {
  font-family: $font_medium;
  margin-bottom: 1rem;
  color: $color_grey_minor;
  font-size: 12px;
  line-height: 2rem;
  white-space: nowrap;
}

.socialItem {
  position: relative;
}

.icon {
  position: absolute;
  top: 0.625rem;
}

.address {
  max-width: 41rem;
  margin-top: 3rem;
}

.buttonsPanel {
  display: flex;
  align-items: center;
  margin-top: 6rem;

  @media (max-width: #{$sm - 1px}) {
    display: block;
  }
}

.saveButton {
  width: 22.5rem;

  @media (max-width: #{$sm - 1px}) {
    width: 100%;
  }
}

.storeStatus {
  position: absolute;
  right: 0rem;
  top: 0rem;

  @media (max-width: #{$md - 1px}) {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
  }
}

.warnMessage {
  margin-left: 2rem;
  color: $color_pink;
  font-size: 14px;

  @media (max-width: #{$sm - 1px}) {
    margin-left: 0;
    margin-top: 1rem;
  }
}