@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form {
  height: 100%;
  margin-top: 2rem;
  padding: 4rem;
  background-color: $color_white;
}

.formItem + .formItem {
  margin-top: 6rem;
}

.maxWidthInput {
  max-width: 41rem;
}

.label {
  font-family: $font_medium;
  margin-bottom: 1rem;
  color: $color_grey_minor;
  font-size: 12px;
  line-height: 2rem;
  white-space: nowrap;
}

.socialItem {
  position: relative;
}

.icon {
  position: absolute;
  top: 0.625rem;
}

.address {
  width: 41rem;
}
