@import "../../styles/variables";

.container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.forForm {
  display: block;
  width: 41rem;
}

.forForm .hr, .forSearch .hr {
  display: block;
  position: absolute;
  bottom: -0.375rem;
  width: 100%;
  border-bottom: 1px solid $color_grey_minor;
}

.fullWidth {
  width: 100%;
}

.forSearch {
  display: block;
  width: 100%;
}

.label {
  font-family: $font_medium;
  color: $color_grey_minor;
  font-size: 12px;
  white-space: nowrap;
}

.wrap {
  position: relative;
  display: inline-block;
  height: 2.5rem;
  padding: 0 3rem 0 1rem;
  border-radius: 0.25rem;
  color: $color_grey;
  background-color: $color_grey_bg;
  font-size: 11px;
}

.forForm .wrap, .forSearch .wrap {
  position: static;
}

.transparent,
.forForm .wrap,
.forSearch .wrap{
  padding-left: 0;
  background-color: transparent;
}

.forAutocomlete .wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  vertical-align: bottom;
}

.isItem {
  padding-right: 3.5rem;
  font-size: 16px;
  background-color: transparent;
}

.isDropdown {
  color: $color_grey_minor;
  background-color: transparent;
}

.forAutocomlete {
  width: 100%;
  height: 100%;
}

.forAutocomlete .selected {
  font-size: 14px;
}

.selected {
  position: relative;
  line-height: 2.75rem;
  z-index: 2;
}

.icon {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  border-radius: 0.25rem;
  z-index: 2;
}

.forForm .icon, .forSearch .icon {
  top: auto;
  bottom: 0.25rem;
}

.isItem .icon {
  background-color: $color_grey_bg;
}

.forAutocomlete .icon {
  top: 1rem;
}

.items {
  position: absolute;
  top: -0.5rem;
  left: 100%;
  margin-left: -2.25rem;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  background-color: $color_white;
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, .16);
  overflow: hidden;
  cursor: default;
  z-index: 11;
}

.forForm .items, .forSearch .items {
  top: 3rem;
  left: 0;
  margin-left: 0;
}

.isItem .items {
  top: -1rem;
}

.isDropdown .items {
  top: 3rem;
  left: auto;
  right: 0;
  z-index: 1;
}

.itemsWrap {
  position: relative;
  max-height: 25rem;
  overflow-y: auto;
}

.item {
  height: 2.5rem;
  padding: 0 1rem;
  text-align: left;
  line-height: 2.75rem;
  white-space: nowrap;
  cursor: pointer;
}

.isItem .item {
  line-height: 3rem;
}

.isDropdown .item {
  white-space: nowrap;
}

.forAutocomlete .item {
  font-size: 14px;
  height: 3.75rem;
  line-height: 3.75rem;
  padding: 0 2rem;
}

.item:hover {
  background-color: $color_grey_trivial;
}

.active {
  background-color: $color_grey_trivial;
}

.isDropdown .active {
  display: block;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0.3;
}