@import "../../styles/variables";


.container {
  margin-top: 2.875rem;

  @media (min-width: 992px) {
    margin-top: 0;
  }

}

.header {
  margin-top: 2rem;
}

.sort {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.sortLabel {
  color: $color_grey_minor;
  font-size: 16px;
}

.sortSelect {
  margin-left: 2rem;
  margin-top: -0.25rem;
  width: 21rem;
}

.button {
  margin-top: 2rem;
}

.sidebar {
  display: none;
  height: 100%;

  @media (min-width: 992px) {
    display: block;
  }
}