@import "../../styles/variables";


.container {
  margin-top: 2.875rem;

  @media (min-width: 992px) {
    margin-top: 0;
  }

}

.header {
  margin-top: 2rem;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sortLabel {
  color: $color_grey_minor;
  font-size: 16px;
}

.sortSelect {
  margin-left: 2rem;
  margin-top: -0.25rem;
  width: 21rem;
}

.store {
  height: 10rem;
  margin-bottom: 2rem;
}

.storeElect {
  align-items: center;
  border-left: 1px solid rgba(186, 186, 186, .17);
  cursor: pointer;
  display: none;
  height: 10rem;
  justify-content: center;
  width: 10rem;

  @media (min-width: 576px) {
    display: flex;
  }

}

.button {
  margin-top: 2rem;
}

.sidebar {
  display: none;
  height: 100%;

  @media (min-width: 992px) {
    display: block;
  }
}