@import '../../../styles/variables';

.container {
  position: relative;
  width: 100%;
  min-width: 2rem;
  height: 2rem;
}

.label {
  display: inline-block;
  min-width: 2rem;
  min-height: 2rem;
  cursor: pointer;

  & .labelBefore {
      position: absolute;
      top: -1px;
      left: 0;
      width: 2rem;
      height: 2rem;
      border: 1px solid $color_grey_light;
      border-radius: 0.5rem;
      line-height: 2rem;
      transition: $transition_all_ease;
  }

  & .labelAfter {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 1rem;
    height: 0.625rem;
    border: 0.25rem solid;
    border-color: $color_blue;
    border-top: none;
    border-right: none;
    background-color: transparent;
    opacity: 0;
    transform: rotate(-45deg);
  }

  &:hover {
    .labelBefore {
      border: 1px solid $color_grey;
    }
  }
}

.active {
  border-color: $color_blue;
}

.labelText {
  position: relative;
  top: -0.5rem;
  display: block;
  padding-left: 3rem;
  color: $color_grey;
  font-size: 1.75rem;
}

.input {
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin-top: -0.25rem;
  opacity: 0;
}

.input {
  &:checked {
    & + label {
      & .labelBefore {
        border: 1px solid $color_blue;
        background-color: $color_blue;
      }

      & .labelAfter {
        opacity: 1;
        border-color: $color_white;
      }
    }
  }

  &.isRadio:checked {
    & + label {
      & .labelBefore {
        border: 1px solid $color_blue;
        background-color: transparent;
      }

      & .labelAfter {
        opacity: 1;
        position: absolute;
        top: 3px;
        left: 0.5rem;
        width: 1rem;
        height: 1rem;
        background-color: $color_blue;
        border: 0;
        border-radius: 2px;
        transform: rotate(0deg);
      }
    }
  }
}
