@import "../../../styles/variables";

.wrapper {
  width: 100%;
}

.result {
  margin-top: 6rem;
}

.items {
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  background-color: $color-white;
  box-shadow: $shadow_1;
  overflow: hidden;
  cursor: default;
  z-index: 3;
}

.itemsWrap {
  position: relative;
}

.item {
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  text-align: left;
  line-height: 2rem;
  white-space: nowrap;
  cursor: pointer;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue;
  }
}

.isHighlighted {
  color: $color_blue;
}

.active {
  display: none;
}

.hidden {
  display: none;
}