@import "../../../../styles/variables";

.container {
  background-color: $color_white;
  flex: 1 0 auto;
  margin-top: 2rem;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.addButton {
  float: right;
}

.emptyStoragesBlock {
  line-height: 11rem;
}