@import "../../styles/variables.scss";

.container {
  position: relative;
}

.user {
  transition: $transition_all_ease;
  white-space: nowrap;

  &:hover {
    color: $color_blue;
  }
}

.avatar {
  align-items: center;
  background-color: $color_grey_bg;
  border-radius: 50%;
  display: inline-flex;
  height: 4rem;
  justify-content: center;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 4rem;
}

.avatarImg {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.greeting {
  display: none;
  margin-left: 1rem;
  vertical-align: middle;
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: $lg) {
    display: inline-block;
  }
}

.menu {
  position: relative;
  width: 33rem;
}

.personalData {
  padding: 0 2rem;
  width: 25rem;

  & .name, .email {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .name {
    font-family: $font_medium;
    font-size: 14px;
    line-height: 2rem;
  }

  & .email {
    font-family: $font_italic;
    color: $color_grey_minor;
    font-size: 11px;
    line-height: 2.5rem;
  }
}

.items {
  margin-top: 1rem;
}

.item {
  color: $color_grey;
  display: block;
  font-size: 14px;
  height: 4rem;
  line-height: 4rem;
  margin: 0 -1rem;
  padding: 0 2rem;
  position: relative;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue;
  }
}

.logout {
  align-items: center;
  border-top: 1px solid $color_grey_trivial;
  color: $color_grey;
  display: flex;
  font-size: 14px;
  margin: 1.5rem -1rem -2rem;
  padding: 2rem;
  position: relative;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue;
  }

  & svg {transition: $transition_all_ease;}
  &:hover svg {fill: $color_blue;}
}

.logoutText {
  display: inline-block;
  margin-left: 0.75rem;
}

.count {
  display: inline-block;
  float: right;
  margin-top: -1px;
}

.link {
  color: $color_grey;
  cursor: pointer;
  display: block;
  font-size: 16px;
  height: 5rem;
  line-height: 5rem;
  margin: 0 -1rem;
  padding: 0 2rem;
  position: relative;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue;
  }
}

.button {
  margin-top: 2rem;
}

.top {
  border-bottom: 1px solid $color_grey_trivial;
  display: flex;
  margin: 0 -1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 6rem;
  justify-content: center;
  margin-left: 3rem;
  overflow: hidden;
  width: 6rem;
}

.topImg {
  display: block;
  height: 100%;
}