// Import Bootstrap overrides
@import "assets/scss/custom";

@import "components/App/index.scss";
@import "components/Button/Button.scss";
@import "components/SignUpForm/SignUpForm.scss";
@import "components/ProgressBar/ProgressBar.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
