$simpleColor: #FD7DAA;
$goodColor: #EFAA29;
$excellentColor: #9FC63C;
$progressBarHeight: 1px;
$progressBarBackground: #E2E2E2;

.progressBarWrapper {
  height: $progressBarHeight;
  position: relative;
  top: -1px;
}

// Initial style
.progressBar {
  @include progress-bar(#0D3349, $progressBarBackground, $progressBarHeight);
  position: absolute;
  left: 0;
}

$progressBar: (simple, $simpleColor, $progressBarBackground, $progressBarHeight),
              (good, $goodColor, $progressBarBackground, $progressBarHeight),
              (excellent, $excellentColor, $progressBarBackground, $progressBarHeight);

// $pb stands for progress bar
@each $pbClass, $strengthColor, $pbBackground, $pbHeight in $progressBar {
  .progressBar.#{$pbClass} {
    @include progress-bar($strengthColor, $pbBackground, $pbHeight);
    position: absolute;
    left: 0;
  }
}

.progressBarMessage {
  font-size: 14px;
  text-align: center;
}

$progressBarMessageColors: (simple, $simpleColor) (good, $goodColor) (excellent, $excellentColor);

@each $strength, $strengthColor in $progressBarMessageColors {
  .progressBarMessage.#{$strength} {
    @extend .progressBarMessage;
    color: $strengthColor;
  }
}
