// These are the main variables that <progressBar>  needs
$simpleColor: #FD7DAA;
$goodColor: #EFAA29;
$excellentColor: #9FC63C;
$progressBarHeight: 1px;
$progressBarBackground: #E2E2E2;

.progressBarWrapper {
  height: $progressBarHeight;
  position: relative;
  top: -1px;
}

// Initial style
.progressBar {
  @include progress-bar(#0D3349, $progressBarBackground, $progressBarHeight);
  position: absolute;
  left: 0;
}
// Strength color variables for each password strength definition
$simpleStrength: ('simple', $simpleColor, $progressBarBackground, $progressBarHeight);
$goodStrength: ('good', $goodColor, $progressBarBackground, $progressBarHeight);
$excellentStrength: ('excellent', $excellentColor, $progressBarBackground, $progressBarHeight);

// compose out of $simple/good/excellent strength variables to reduce is overload and better readability
$progressBar: ($simpleStrength, $goodStrength, $excellentStrength);

// For each password strength representation, build its respective CSS class
// so this loop will generate the following classes:
//
// .progressBar.simple {...}
// .progressBar.good {...}
// .progressBar.excellent {...}
//
// each one represents the strength of a password to indicate the user how strong
// is what he's typing.
//
@each $pbClass, $strengthColor, $pbBackground, $pbHeight in $progressBar {
  .progressBar.#{$pbClass} {
    @include progress-bar($strengthColor, $pbBackground, $pbHeight);
    position: absolute;
    left: 0;
  }
}

// Initial style
.progressBarMessage {
  font-size: 14px;
  text-align: center;
}

$progressBarMessageColors: ('simple', $simpleColor) ('good', $goodColor) ('excellent', $excellentColor);

// For each password strength representation, create the respective CSS class for 'progressBarMessage' colors
// so this loop will generate the following classes:
//
// .progressBarMessage.simple {...}
// .progressBarMessage.good {...}
// .progressBarMessage.excellent {...}
//
// each one represents the strength of a password to indicate the user how strong
//
@each $strength, $strengthColor in $progressBarMessageColors {
  .progressBarMessage.#{$strength} {
    @extend .progressBarMessage;
    color: $strengthColor;
  }
}
