@import '../../.././styles/variables.scss';
@import '../../.././styles/mixins.scss';

.container {
  position: relative;
}

.mainBlock {
  margin-right: 28rem;
  padding: 2.5rem 3.75rem 2.5rem;
  background-color: white;

  @media (max-width: #{$lg - 1px}) {
    margin-right: 0;
  }
}

.orderNumber {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.15rem;
}

.statusList {
  width: 100%;
  overflow-x: scroll;
}

@media (max-width: #{$xxl - 1px}) {
  .statusList {
    padding-bottom: 1rem;
  }

  .statusList::-webkit-scrollbar {
    height: 0.6rem;
  }

  .statusList::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    background-color: $color_grey_light;
  }

  .statusList::-webkit-scrollbar-track {
    background: transparent;
  }
}

.infoBlock {
  margin-top: 6rem;

  & .infoBlockItem {
    margin-top: 2rem;

    @media (max-width: #{$lg - 1px}) {
      & > div > div + div {
        margin-top: 2rem;
      }
    }
  }
}

.left {
  width: 41rem;
}

.statusBlockWrap {

}

.statusBlock {
  position: absolute;
  right: 0;
  top: 0;
  width: 26rem;
  min-width: 26rem;
  padding: 2.5rem 2rem 2rem;
  background-color: $color_white;

  @media (max-width: #{$lg - 1px}) {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    margin-bottom: 3.5rem;
    padding: 0;
  }

  .title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.15rem;

    @media (max-width: #{$lg - 1px}) {
      display: none;
    }
  }

  .statusPaymentBlock {
    @media (max-width: #{$lg - 1px}) {
      display: flex;
      justify-content: space-between;
      margin-top: 2.5rem;
    }

    @media (max-width: #{$md - 1px}) {
      display: block;
    }
  }

  .statusesBlock {
    @media (max-width: #{$lg - 1px}) {
      display: flex;
    }

    @media (max-width: #{$md - 1px}) {
      margin-bottom: 3rem;
    }

    @media (max-width: #{$sm - 1px}) {
      display: block;
    }
  }

  .statusItem {
    margin-top: 2.5rem;

    & + .statusItem {
      @media (max-width: #{$lg - 1px}) {
        margin-left: 8rem;
      }

      @media (max-width: #{$sm - 1px}) {
        margin-left: 0;
        margin-top: 2rem;
      }
    }

    @media (max-width: #{$lg - 1px}) {
      margin-top: 0;
    }
  }

  .statusTitle {
    font-size: 14px;
  }

  .statusInfo {
    font-size: 16px;
    color: $color_green;
  }

  .paid {
    color: $color_green;
  }

  .unpaid {
    color: $color_pink !important;
  }
}

.paymentButtonWrapper {
  margin-top: 2.5rem;

  @media (max-width: #{$lg - 1px}) {
    margin-top: 0;
  }
}

.ticketButtonTitle {
  margin-top: 7rem;
  align-self: center;
  font-size: 14px;
  text-align: center;

  @media (max-width: #{$lg - 1px}) {
    margin-top: 3rem;
  }
}

.ticketButtonWrapper {
  margin-top: 1.5rem;
}

.manageBlock {
  margin-top: 6rem;
}

.noProduct {
  color: $color_red;
}

.preOrder {
  margin-top: 2rem;

  .preOrderText {
    color: $color_grey_minor;

    .preOrderDays {
      color: $color_green;
    }
  }
}