@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
}

.blockTitle {
  color: $color_grey_text;
  font-size: 1.75rem;
  font-family: $font_medium;
}

.valueItem {
  display: block;
  margin-bottom: 0.5rem;
}
