@import '../variables';

@mixin progress-bar($value: red, $backgroundColor: $color_white, $height: 0.5rem, $width: 100%) {

  &[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Get rid of default border in Firefox. */
    border: none;

    width: $width;
    height: $height;
  }

  &[value]::-webkit-progress-bar {
    background-color: $backgroundColor;
    border-radius: 2px;
  }

  &[value]::-webkit-progress-value {
    background-color: $value;
  }

}