@import "../../../../styles/variables";

.container {
  background-color: $color_white;
  flex: 1 0 auto;
}

.wrapper {
  margin-top: 2rem;
  padding: 4rem;
  background-color: $color_white;
  flex: 1 0 auto;
}

.dropdownButton {
  & svg {
    fill: $color_grey_minor;
    transition: $transition_all_ease;
  }
}

.loadButton {
  margin-top: 4rem;
}

.emptyProductsBlock {
  line-height: 11rem;
}