@import "../../../../styles/variables";

.headerRowWrap, .itemRowWrap {
  display: flex;
  margin: 0 -4rem;
  border-bottom: 1px solid $color_grey_trivial;
}

.headerRowWrap {
  .td {
    color: $color_grey_minor;
  }
}

.td {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 2.5rem;
  color: $color_grey;
}

.tdCheckbox {width: 5%;}
.tdFoto {width: 9%;}
.tdName {width: 21%;}
.tdCategory {width: 18%;}
.tdPrice {width: 10%;}
.tdCashback {width: 10%;}
.tdCharacteristics {width: 24%;}
.tdDelete {width: 4%; justify-content: flex-end;}

.headerRowWrap {
  padding: 2rem 4rem;

  & .tdWrap > span {
    margin-right: 0.5rem;
  }
}

.deleteButton, .editButton {
  & svg {
    fill: $color_grey_light;
    transition: $transition_all_ease;
  }

  &:hover svg {fill: $color_grey;}
}