@import "../../styles/variables";

.container {
  position: relative;
  display: flex;
  height: 5rem;
  top: -2rem;
  padding: 0 2rem;
}

.button {
  display: flex;
  align-items: center;
  color: $color_grey;
  transition: $transition_all_ease;

  &:hover {
    color: $color_blue;
  }

  & svg {transition: $transition_all_ease;}
  &:hover svg {fill: $color_blue;}
}

.buttonText {
  display: inline-block;
  margin-left: 1rem;
  font-size: 16px;
}

.root {
  width: 100%;
  z-index: 10;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.rootItem {
  display: inline-block;
  line-height: 5rem;
  vertical-align: bottom;

  &.activeItem {
    & > .items {
      opacity: 1;
      visibility: visible;
      transition: all .15s ease-out;
    }
  }

  & > .items {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 2rem;
    right: 2rem;
    padding: 0 4rem;
    border-top: 2px solid $color_blue;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: $color_white;
    box-shadow: $shadow_1;
    z-index: 10;
    transition: all .15s ease-in;

    & > .itemsWrap {
      position: relative;
      width: 40rem;
      padding-right: 4rem;
      border-right: 1px solid $color_grey_trivial;

      & > ul {
        height: 30.5rem;
        margin-top: 1rem;
        padding-bottom: 4rem;
      }
    }
  }

  & > .link {
    & > .text {
      position: relative;
      display: block;
      padding: 0 2rem;
      font-size: 16px;
      color: $color_grey;
      line-height: 5rem;
      text-align: center;
      z-index: 1;
      transition: none;
      transition: $transition_all_ease;
      cursor: pointer;
    }
  }

  &:hover {
    & > .link {
      & > .text {
        color: $color_blue;
      }
    }
  }

  &:not(:hover) {
    & > .items {
      transition-delay: .07s;
    }
  }
}

.rootButtonItem {
  padding-right: 2rem;
  padding-left: 0;
}

.title {
  font-family: $font_medium;
  font-size: 14px;
  line-height: 7rem;
  text-transform: uppercase;
  border-bottom: 1px solid $color_grey_trivial;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 1.5rem;
  right: 3.5rem;
}

.link {
  position: relative;
}

.midItem {
  font-family: $font_medium;
  margin-right: -4rem;
  font-size: 16px;
  line-height: 4rem;

  & .link {
    display: block;
    color: $color_grey;
    transition: $transition_all_ease;

    & .text {
      position: relative;
      font-size: 14px;
    }
  }

  & svg {
    opacity: 0;
    fill: $color_blue;
    transition: $transition_all_ease;
  }

  & > .items {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    width: 118rem;

    & > .itemsWrap {
      width: 100%;
      padding-left: 4rem;

      & > ul {
        width: 80rem;
        height: 29.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 1rem;

        & > li {
          font-size: 14px;
          line-height: 4rem;
          cursor: pointer;

          & .link {
            display: block;
            width: 100%;
            color: $color_grey;
            transition: $transition_all_ease;
          }

          &:hover {
            & > .link {
              color: $color_blue;
            }
          }
        }
      }
    }
  }

  &.activeItemMod {
    & > .items {
      opacity: 1;
      visibility: visible;
    }

    & > .link {
      color: $color_blue !important;
    }

    & svg {
      opacity: 1 !important;
    }
  }
}