@import "../../../styles/variables";

.container {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;

  @media (max-width: #{$md - 1px}) {
    justify-content: flex-start;
    margin-left: -2rem;
    margin-top: 2rem;
  }
}

.productsWrap {
  display: flex;
}

.productPhoto {
  margin-left: 2rem;

  & .productPhotoWrap {
    position: relative;
    background-color: $color_grey_trivial;
    display: flex;
    width: 10rem;
    height: 10rem;
  }

  & .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2rem 0 0 -2rem;
  }

  & img {
    display: block;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }
}
