@import "../../../styles/variables";

.container {
  align-items: stretch;
  display: none;
  justify-content: flex-end;

  @media (min-width: $sm) {
    display: flex;
  }

}

.productsWrap {
  display: flex;
}

.productPhoto {
  display: flex;
  height: 10rem;
  justify-content: space-around;
  margin-left: 2rem;
  width: 10rem;

  & .productPhotoWrap {
    align-items: center;
    background-color: $color_grey_trivial;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  & img {
    display: block;
    height: 100%;
  }
}
