@import "../../styles/variables";

.container {
  position: relative;
  display: block;
  margin-top: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.wrap {
  position: relative;
  height: 23rem;

  &.single {
    @media (max-width: #{$xxl - 1px}) {
      height: 37rem;
    }

    @media (max-width: #{$xl - 1px}) {
      height: 31rem;
    }

    @media (max-width: #{$lg - 1px}) {
      height: 26rem;
    }

    @media (max-width: #{$md - 1px}) {
      height: 20rem;
    }

    @media (max-width: #{$sm - 1px}) {
      height: 27rem;
    }

    @media (min-width: $xxl) {
      height: 40rem;
    }
  }

  &.double {
    @media (max-width: #{$xl - 1px}) {
      height: 31rem;
    }

    @media (max-width: #{$lg - 1px}) {
      height: 24rem;
    }

    @media (max-width: #{$md - 1px}) {
      height: 34rem;
    }

    @media (max-width: #{$sm - 1px}) {
      height: 26rem;
    }

    @media (min-width: $xl) {
      height: 34rem;
    }
  }
}

.wrap img {
  position: absolute;
  display: block;
  height: 100%;
}