@import '../../../styles/variables.scss';

.container {
  border-radius: 0.5rem;
  color: $color_white;
  font-size: 12px;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }

  &.draft {
    background-color: $color_grey_minor;
  }
  &.moderation {
    background-color: $color_yellow;
  }
  &.decline {
    background-color: $color_pink;
  }
  &.published {
    background-color: $color_green;
  }
  &.blocked {
    background-color: $color_red;
  }
}

.previewLink {
  .previewLinkButton {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    color: $color_blue;
    text-align: center;

    &:hover {
      color: $color_blue_hover;
    }
  }
}
