@import "../../../../styles/variables";

.container {
  margin-top: 3rem;
  position: relative;

  .buttons {
    display: flex;

    button {
      width: 20rem;
    }

    button + button {
      margin-left: 2rem;
    }
  }

  .message {
    bottom: -3.25rem;
    color: $color_red;
    font-size: 12px;
    position: absolute;
  }
}