@import "../../styles/variables";

.container {
  position: relative;
  overflow: hidden;
}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.item {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  img {
    width: 100%;
    object-fit: contain;
  }
  &.image {
    vertical-align: middle;
  }
}

.arrow {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 5rem);
  width: 5rem;
  height: 5rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    opacity: 0.6;
  }

  &.left {
    left: 2rem;
  }

  &.right {
    right: 2rem;
  }
}

.fadeItem {
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: $transition_all_ease_out_quad_10;

  & + .fadeItem {
    position: absolute;
    left: 0;
    z-index: 1;
  }
}

.activeSlide {
  opacity: 1;
}

.dots {
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.dot {
  display: inline-block;
  background-color: rgba(255,255,255,.3);
  margin-left: 1.4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: $color_white;
}