.Slide {
  position: relative;
  display: inline-block;
  padding: 8px;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .Slide--body {
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    border-radius: 4px;
    box-shadow: $shadow_1;
    overflow: hidden;
  }

  .Slide--top {
    position: relative;
    height: 62.5%;
    background-color: #A2A2A2;
  }

  .Slide--labels {
    position: absolute;
    top: 8px;
  }

  .Slide--labels--discount {
    width: 40px;
    height: 32px;
    font-family: $Open_Sans_SemiBold;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color: $color_white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FF508E;
  }

  .Slide--labels--qa {
    width: 40px;
    height: 32px;
    padding-top: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $color_white;

    img {
      display: block;
      margin: 0 auto;
      width: 24px;
      height: 24px;
    }
  }

  .Slide--bottom {
    position: relative;
    height: 37.5%;
    padding: 8px;
  }

  .Slide--title {
    padding-right: 54px;
    font-size: 14px;
    white-space: normal;
  }

  .Slide--price {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 16px;
  }

  .Slide--price--left {
    display: inline-block;
    width: 50%;
  }

  .Slide--price--left--undiscounted-price {
    margin-top: 8px;
    font-size: 12px;
    color: $color_grey;
    text-decoration: line-through;
  }

  .Slide--price--right {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 12px;
  }

  .Slide--price--right--discount {
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    color: $color_white;
    background-color: #2FBAFD;
  }

  .Slide--price--right--actual-price {
    display: inline-block;
    margin-left: 4px;
  }
}