.container {
  margin-bottom: 4px;
  padding: 16px 16px 0;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.most-popular-color { color: #9239C9; }
.sale-color { color: #FF508E; }
.smart-reviews-color { color: #2FBAFD; }

.title {
  float: left;
  font-size: 20px;
  line-height: 32px;
}

.nav {
  height: 32px;
  float: right;
}

.button {
//  composes: boxShadow1 from global;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.reveal {
  margin-left: 16px;
  font-size: 14px;
  line-height: 32px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  float: right;
}
