@import "../../styles/variables";

.container {
  position: relative;
  overflow: hidden;
}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.item {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.fadeItem {
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: $transition_all_ease_out_quad_10;
  visibility: hidden;

  & + .fadeItem {
    position: absolute;
    left: 0;
    z-index: 1;
  }
}

.activeSlide {
  opacity: 1;
  visibility: visible;
}

.dots {
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.dot {
  display: inline-block;
  background-color: rgba(255,255,255,.3);
  margin-left: 1.4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: $color_white;
}