@import "../../styles/variables";

.container {
  position: relative;
  overflow: hidden;
}

//.forStartPage {
//  &:before, &:after {
//    content: '';
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    width: 1rem;
//    background-color: #FAFAFA;
//    z-index: 1;
//  }
//
//  &:before {left: 0;}
//  &:after {right: 0;}
//}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  // padding: 1rem;
  white-space: nowrap;
}

.item {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.dots {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: inline-block;
  z-index: 2;
}

.dot {
  display: inline-block;
  border: 1px solid #B1B1B1;
  background-color: rgba(255,255,255,.5);
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  border: 1px solid $color_primary;
  background-color: $color_primary;
}