@import "../../styles/variables.scss";

.container {
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.title {
  color: $color_black;
  float: left;
  font-size: 20px;
  line-height: 4rem;
  text-transform: uppercase;
}

.nav {
  height: 4rem;
  margin-left: 3rem;
  float: right;
}

.button {
  width: 4rem;
  height: 4rem;
  cursor: pointer;

  & + .button {
    margin-left: 2rem;
  }
}

.reveal, .settings {
  color: #9C9C9C;
  font-size: 16px;
  line-height: 4rem;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  float: right;
}

.reveal {
  margin-left: 3rem;
}