.Slider {
  padding: 16px;
  overflow: hidden;

  .Slider--title {

  }

  .Slider--wrapper {
    position: relative;
    white-space: nowrap;

    .Slider--wrapper--slide {
      display: inline-block;
      width: 25%;
      min-height: 320px;
      border: 1px solid red;
    }
  }

  .Slider--nav {

  }

  .Slider--reveal {

  }

}