.Slider {
  position: relative;
  padding-top: 16px;
  overflow: hidden;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    background-color: $color_white;
    z-index: 1;
  }

  &:before {left: 0;}
  &:after {right: 0;}

  .Slider--header {
    margin-bottom: 4px;
    padding: 16px 16px 0;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .Slider--header--title {
    float: left;
    font-size: 20px;
    line-height: 32px;
    font-family: $Open_Sans_SemiBold;
  }

  .Slider--header--nav {
    height: 32px;
    float: right;
  }

  .Slider--header--nav--button {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    cursor: pointer;
    box-shadow: $shadow_1;
    border-radius: 50%;
  }

  .Slider--header--reveal {
    margin-left: 16px;
    font-size: 14px;
    line-height: 32px;
    white-space: nowrap;
    cursor: pointer;
    float: right;
  }

  .Slider--wrapper {
    position: relative;
    top: 0;
    left: 0;
    white-space: nowrap;
    margin: 8px;
    transition: left 0.5s ease-out;
  }

  .Slider--wrapper--slide {
    display: inline-block;
    padding: 8px;
  }

  .Slider--wrapper--slide--body {
    min-height: 320px;
    border-radius: 4px;
    box-shadow: $shadow_1;
    overflow: hidden;
  }

  .Slider--wrapper--slide--top {
    position: relative;
    min-height: 200px;
    background-color: #A2A2A2;
  }

  .Slider--wrapper--slide--labels {
    position: absolute;
    top: 8px;
  }

  .Slider--wrapper--slide--labels--discount {
    width: 40px;
    height: 32px;
    // padding-top: 4px;
    font-family: $Open_Sans_SemiBold;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color: $color_white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FF508E;
  }

  .Slider--wrapper--slide--labels--qa {
    width: 40px;
    height: 32px;
    padding-top: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $color_white;

    img {
      display: block;
      margin: 0 auto;
      width: 24px;
      height: 24px;
    }
  }

  .Slider--wrapper--slide--bottom {
    position: relative;
    min-height: 120px;
    padding: 8px;
  }

  .Slider--wrapper--slide--title {
    padding-right: 54px;
    font-size: 14px;
    white-space: normal;
  }

  .Slider--wrapper--slide--price {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 16px;
  }

  .Slider--wrapper--slide--price--left {
    display: inline-block;
    width: 50%;
  }

  .Slider--wrapper--slide--price--left--undiscounted-price {
    margin-top: 8px;
    font-size: 12px;
    color: $color_grey;
    text-decoration: line-through;
  }

  .Slider--wrapper--slide--price--right {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 12px;
  }

  .Slider--wrapper--slide--price--right--discount {
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    color: $color_white;
    background-color: #2FBAFD;
  }

  .Slider--wrapper--slide--price--right--actual-price {
    display: inline-block;
    margin-left: 4px;
  }

}