.container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  flex: 1 0 auto;
}

@media (min-width: 576px) { 
  .reverseSm { 
    flex-direction: row-reverse;   
  } 
} 
 
@media (min-width: 768px) { 
  .reverseMd { 
    flex-direction: row-reverse;   
  } 
} 
 
@media (min-width: 992px) { 
  .reverseLg { 
    flex-direction: row-reverse;   
  } 
} 
 
@media (min-width: 1200px) { 
  .reverseXl { 
    flex-direction: row-reverse;   
  } 
} 
