@import "../../../../../styles/variables";

.wrapper {
  width: 100%;
  max-width: 81.75rem;

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -1rem;

    .form {
      width: 100%;
      background-color: $color_white;

      .section {
        margin-bottom: 6rem;
        &.correctMargin {
          margin-bottom: 4rem;
        }

        .uploadDescriptionContainer {

          .description {
            font-size: 1.75rem;
            color: #A7A7A7;
            margin: 2rem 0;
          }
          .iconsWrapper {
            overflow: auto;
            .iconsContainer {
              min-width: 70rem;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .iconBlock {
                width: 10rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                .iconDescription {
                  font-size: 1.5rem;
                  color: $color_grey_minor;
                  line-height: 1.17;
                  text-align: center;
                }
              }
            }
          }
        }

        .sectionName {
          font-family: $font_medium;
          font-size: 1.75rem;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          color: $color_grey;
          margin-bottom: 1.75rem;
        }

        .formItem {
          margin-bottom: 3rem;
        }

        .input {
          margin-bottom: 6.5rem;
        }

        .categorySelector {
          margin-top: 6rem;
          margin-bottom: 3rem;
        }

        .productStates {
          display: flex;
          flex-wrap: wrap;
          margin-left: -1rem;
          margin-right: -1rem;
        }

        .productState {
          width: 50%;
          margin-bottom: 3rem;
          padding-right: 1rem;
          padding-left: 1rem;
        }

        .uploadersWrapper {

        }

        &.splited {

        }
      }
    }
  }

  .attributesForm {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  font-family: $font_light;
  font-size: 3rem;
  margin-bottom: 2.7rem;
  text-align: center;
  @media (min-width: $md) {
    font-size: 4.5rem;
  }
}

.headerDescription {
  font-family: $font_regular;
  font-size: 1.75rem;
  line-height: 2.2rem;
  color: $color_grey_minor;
  text-align: center;
  margin-bottom: 3rem;
  max-width: 29.75rem;
  @media (min-width: $md) {
    font-size: 2rem;
    margin-bottom: 6.5rem;
    line-height: 2.7rem;
    max-width: 54rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  @media (min-width: $md) {
    flex-direction: row;
  }
}

.cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  color: $color_blue;
  cursor: pointer;
  @media (min-width: $md) {
    margin-top: 0;
    margin-left: 2rem;
  }
}

.buttonContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  @media (min-width: $md) {
    flex: none;
  }
}

.red {
  color: $color_red;
}