.container {
  position: relative;
  display: inline-block;
  transition: all .3s ease;
}

.container:hover .labelFloat .editIcon {
  opacity: 1;
  transition: all .3s ease;
}

.label {
  font-family: 'Open_Sans_SemiBold', 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0.5rem;
  left: 0;
  color: #A7A7A7;
  font-size: 14px;
  line-height: 2rem;
  white-space: nowrap;
  transition: all .3s ease;
}

.labelFloat {
  top: -2rem;
  font-size: 12px;
}

.editIcon {
  position: absolute;
  top: -2px;
  right: -24px;
  opacity: 0;
}

.imgLabel {
  position: absolute;
  top: 0.625rem;
  left: 0;
}

.input input {
  position: relative;
  width: 100%;
  min-width: 30rem;
  max-width: 94rem !important;
  border-bottom: 1px solid;
  border-color: #A7A7A7;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
}

.withImgInput input {
  min-width: 27rem;
}

.isFilledInput input {
  border-color: transparent;
}

.withImgInput {
  padding-left: 3rem;
}

.input input:focus {
  border-color: #626262;
}

.isError .input input {
  border-bottom: 1px solid #E62C6D;
}

.errors {
  position: relative;
}

.error {
  font-size: 12px;
  color: #E62C6D;
  line-height: 24px;
}