.container {
  position: relative;
  display: inline-block;
}

.container:hover .editIcon {
  opacity: 1;
  transition: all .3s ease;
}

.label {
  font-family: 'Open_Sans_SemiBold', 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0.5rem;
  left: 0;
  color: #A7A7A7;
  font-size: 14px;
  line-height: 2rem;
  white-space: nowrap;
  transition: all .3s ease;
}

.labelFloat {
  top: -2rem;
  font-size: 12px;
}

.editIcon {
  position: absolute;
  top: -2px;
  right: -30px;
  opacity: 0;
}

.textarea textarea {
  font-family: 'Open_Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 96rem;
  border-bottom: 1px solid;
  border-color: #A7A7A7;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
  resize: none !important;
}

.textareaForForm textarea {
  border-color: transparent;
}

.textarea textarea:focus {
  border-color: #626262;
}

//.isError .label {
//  color: #E62C6D;
//}

.isError .textarea textarea {
  border-bottom: 1px solid #E62C6D;
}

.errors {
  position: relative;
}

.error {
  font-size: 12px;
  color: #E62C6D;
  line-height: 24px;
}