.container {
  position: relative;
}

.label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  color: #A7A7A7;
  font-size: 14px;
  line-height: 2rem;
  white-space: nowrap;
  transition: all .3s ease;
}

.labelFloat {
  top: -2rem;
  font-size: 12px;
  font-family: 'Open_Sans_SemiBold', 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;
}

.textarea textarea {
  font-family: 'Open_Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 96rem;
  border-bottom: 1px solid #A7A7A7;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
  resize: none !important;
}

.textarea textarea:focus {
  border-bottom: 1px solid !important;
}

.isError .label {
  color: #E62C6D;
}

.isError .textarea textarea {
  border-bottom: 1px solid #E62C6D;
}

.errors {
  position: relative;
}

.error {
  font-size: 12px;
  color: #E62C6D;
  line-height: 24px;
}